[2020-08-28 19:33] pld commented on #461
Added these and created release, it's pending publication, it had this warning

[code]

[2020-08-28 19:33] #461 closed

[2020-08-31 14:58] shivenbhatt1 commented on #433
**Updated Short Description**: The RDT Open Reader is an OpenSRP-based diagnostics platform for capturing RDTs.

[2020-08-31 15:00] shivenbhatt1 commented on #433
**Updated Short Description**: The RDT Open Reader is an OpenSRP-based diagnostics platform for capturing RDTs.

[2020-08-31 15:02] shivenbhatt1 commented on #433
**Updated Title (en_US)**: “RDT Open Reader

[2020-08-31 15:15] shivenbhatt1 commented on #433
@pld This content has to be resubmitted to google

[2020-08-31 15:23] pld commented on #433
<img width="512" alt="feature graphic" src="https://user-images.githubusercontent.com/50706/91736937-7040fa00-eb7c-11ea-8c6d-b571ca27a70e.png">

[2020-09-01 08:23] shivenbhatt1 opened #462 "Change Login Screen from Covid Testing and Surveillance Application to "RDT Open Reader""
Change Login Screen from Covid Testing and Surveillance Application to "RDT Open Reader"

This is being done so that the app can be uploaded to google play store. We are prohibited, without approval documents, to upload anything with the title Covid until we have the appropriate documents.

[2020-09-02 03:19] rowo commented on #358
@shivenbhatt1 here are some images I created so we can use them wherever. I'm still not really sure where the results lines go since the current screenshots only sort of go to the timer. Where are those used?

![01](https://user-images.githubusercontent.com/1584163/91928221-77b1f180-eca9-11ea-94a6-14b7f7b8d9ee.png)
![02](https://user-images.githubusercontent.com/1584163/91928225-7b457880-eca9-11ea

[2020-09-02 13:35] vincent-karuri commented on #447
@shivenbhatt1 is the interaction here finalised? @syedowaisali90 is already working on this.

[2020-09-02 14:23] shivenbhatt1 commented on #447
@vincent-karuri what do you mean by is the interaction here finalized?

[2020-09-02 14:28] shivenbhatt1 commented on #358
@rowo We also need one for just "C" control line and "T" Test line as mentioned above:

another set that just shows C for control line and T for Test line for this RDT https://hihealth.en.made-in-china.com/productimage/QFUJvWobatkE-2f1j00koPGIfcDJzbB/China-in-Stock-Diagnostic-Pandemic-Medical-Blood-Test-Antibody-Wondfo-Igg-Igm-Rapid-Test.html

[2020-09-02 14:37] rowo commented on #358
@shivenbhatt1 can you draw out what change you need? If it's adjusting the existing image, let me know what needs to be updated.. or if a new image just a small sketch of a new one?

[2020-09-02 15:00] vincent-karuri commented on #336
@shivenbhatt1 also seems like there's a few things going on here:

1. Activating batch scan
2. Group scans as a single batch
3. Displaying a list where you can remove or add scans (seems a bit complex)
4. Add opt-in for the batch scanning
5. Display batch ID at the end of sample shipment, notify the sender to place ID label onto batch shipment package

with 3. being a big unknown.

[2020-09-02 15:22] shivenbhatt1 commented on #357
This refers to all barcode screens where OneScan is needed, the sample collection barcode, RDT barcode and the shipment barcode scans

[2020-09-03 10:57] #329 closed

[2020-09-03 10:57] #331 closed

[2020-09-03 15:55] shivenbhatt1 commented on #358
@rowo
![image](https://user-images.githubusercontent.com/47836489/92138052-e68f6780-eddb-11ea-9cd3-a226d3344a02.png)

For reference, We are trying to support these two RDTs with your diagrams:
![image](https://user-images.githubusercontent.com/47836489/92138268-29513f80-eddc-11ea-9f15-2d71f63a8eec.png)
![image](https://user-images.githubusercontent.com/47836489/92138325-38d08880-eddc-11ea-878d-278

[2020-09-03 17:24] rowo commented on #358
@shivenbhatt1 Do these work?

![diagramArtboard 4 copy 6](https://user-images.githubusercontent.com/1584163/92147246-d762e680-ede8-11ea-847b-bb150a4824de.png)
![diagramArtboard 4 copy 5](https://user-images.githubusercontent.com/1584163/92147247-d762e680-ede8-11ea-9ce0-d66c77bb7e5c.png)
![diagramArtboard 4 copy 2](https://user-images.githubusercontent.com/1584163/92147249-d762e680-ede8-11ea-8394-5

[2020-09-04 06:31] vincent-karuri commented on #328
@shivenbhatt1 a screen already exists that contains similar information (currently step 1).

Step 2 is where we collect the sample information, which I believe you were referring to in: `After sample collection information has been completed in the form ...` in the issue description.

So is this issue about swapping the current step 2 with the current step 1 and modifying the text to read `Obtain

[2020-09-04 06:40] vincent-karuri commented on #447
https://github.com/onaio/rdt-standard/issues/447#issuecomment-682595845 the comment here says it's blocked.

Is this resolved?

[2020-09-04 06:53] vincent-karuri commented on #341
[code]

State management needed in adding, deleting and displaying the list of scanned barcodes is not well-served by native forms.

If this is not absolutely necessary, I'd skip this portion. If it is, this would need scoping.

[2020-09-04 07:05] #462 closed

[2020-09-04 12:10] shivenbhatt1 commented on #319
@rowo Could we get your input on this?

[2020-09-04 12:26] shivenbhatt1 commented on #341
The concern is mostly duplicate entries that need to be resolved for batch scanning. We will move forward without worrying about editing and deleting sample ID/barcodes from the list right now.

[2020-09-04 12:30] shivenbhatt1 commented on #447
Upon looking at this further, #341 does not block this issue.

[2020-09-04 12:39] #278 closed

[2020-09-04 12:45] shivenbhatt1 commented on #333
@shivenbhatt1 to add images

[2020-09-04 12:46] shivenbhatt1 commented on #333
provide pld with JSON file from RDTScan

[2020-09-04 12:52] shivenbhatt1 commented on #335
Split X ray and white blood cell count into 2 separate forms

[2020-09-04 12:54] shivenbhatt1 commented on #281
@shivenbhatt1 add description on how to replicate bug

[2020-09-04 12:57] shivenbhatt1 commented on #449
No page redirection, just a field error.

[2020-09-04 13:00] vincent-karuri commented on #337
Update https://github.com/onaio/rdt-standard/blob/c0c80733a9f7a0975ffe1270f9cb1b772c43e5c8/rdt-open-reader/src/covidIndonesia/java/io/ona/rdt/activity/OneScanActivity.java#L31 to `"scanner"`.

[2020-09-04 13:05] vincent-karuri commented on #337
@syedowaisali90 it should probably be a constant as well.

[2020-09-04 13:36] #357 closed

[2020-09-04 14:30] #334 closed

[2020-09-05 01:48] pld commented on #290
are we all aligned on this now?

@vincent-karuri I think you can open a PR moving the data model image in the above comment to the readme or a docs file and close this PR with that

CC @shivenbhatt1

[2020-09-07 07:09] vincent-karuri commented on #328
@shivenbhatt1 please add a comment on the decision made about this?

[2020-09-08 12:44] #337 closed

[2020-09-08 13:15] vincent-karuri commented on #267
@Mstjamush was this done for the Android client?

[2020-09-08 13:17] shivenbhatt1 commented on #328
@vincent-karuri @syedowaisali90 right, lets move that screen after the form has been filled out and adjust content.

1. Sample collection form
**2. "Obtain specimen using approved methods." <Continue>**
3.  Safely store specimen in provided transport tube. <Continue>
4. Scan specimen barcode/manually affix label
5. Please confirm the information (patient name, Dob)
6. Sample collection has complet

[2020-09-08 13:18] vincent-karuri commented on #325
@shivenbhatt1 any feedback on this? Do we have a mockup for the design?

[2020-09-08 13:22] shivenbhatt1 opened #469 "Bugs exist on sample collection patient information confirmation screen"
3 bugs exist on patient collection confirmation screen:

- [x] 1. Patient Dob showing up as null
- [x] 2. Unable to continue forward even when both checkboxes are checked
- [ ] Sample ID field is missing

![image](https://user-images.githubusercontent.com/47836489/92481522-78b8b680-f1b4-11ea-81bd-1feae08a2fb6.png)

[2020-09-08 13:55] shivenbhatt1 commented on #459
@rowo We need a redesign/suggestion of this screen:

In our current workflow for conducting RDTs we have 2 options:
1. Scan barcode of RDT which extracts all the required information of the RDT so that appropriate workflows are generated from the product ID
2. Manually enter information of the RDT that they are using when barcodes are not available.
![image](https://user-images.githubusercontent.c

[2020-09-08 13:57] shivenbhatt1 commented on #459
Any additional thoughts on the first screen? Scan barcode or enter manually? If there is a better way to set this up so it is more intuitive taken the context of the above.

[2020-09-08 14:13] Mstjamush commented on #267
@vincent-karuri This was done but on limited number of devices. I am to conduct a retest in the same

[2020-09-08 16:34] #450 closed

[2020-09-09 11:34] syedowaisali90 commented on #469
@shivenbhatt1

- Sample id field will be shown only manual selection #329

cc @vincent-karuri

[2020-09-09 14:19] shivenbhatt1 commented on #469
@syedowaisali90 is there no way to populate the sample ID field with the barcode that was scanned in the step before it?

[2020-09-09 14:21] shivenbhatt1 commented on #469
2. Unable to continue forward even when both checkboxes are checked is still an issue. Created a new patient, went through the sample collection workflow, scanned barcode, at the patient information screen for the end-user to confirm the information - both boxes are checked and I hit the Continue button. I am being asked to correct the error(s), where none exist.

[2020-09-09 14:33] shivenbhatt1 commented on #325
@vincent-karuri roger said he'd take care of #341 by EOD Wednesday

[2020-09-09 14:49] syedowaisali90 commented on #469
@shivenbhatt1 we have relevance checked in sample id so if we come from barcode scan then we will not show the sample id but if you come from manual selection then we will show the sample id.

[2020-09-09 14:50] vincent-karuri commented on #469
@shivenbhatt1 there probably is but what is the utility of providing the sample ID in the case that it was scanned?

i.e. how would the confirm this information?

[2020-09-09 14:52] vincent-karuri commented on #469
Isn't that what is being fixed as part of this issue?

[2020-09-09 14:53] shivenbhatt1 commented on #469
@syedowaisali90 @vincent-karuri The utility would be an aggregate display of the information for the user to confirm on the sample tube i.e this is the sample ID, patient name, patient DOB which is needed for processing the laboratory sample. If it provides great difficulty to add, that is fine, we can exclude it.

[2020-09-09 15:10] vincent-karuri commented on #469
I'm a bit confused here, is the sample ID manually affixed even when we scanned a barcode?

[2020-09-09 16:54] shivenbhatt1 commented on #469
@vincent-karuri The barcode is stuck onto the tube and the patient name and dob is written on. Just wanted to make sure there was one last confirmation that all the information is correctly attached and written on the tube before it is stored. This could be an issue if the health worker is working with multiple patients at once. If it is an easy lift, better to have the sample ID on there.

[2020-09-09 20:02] shivenbhatt1 commented on #281
Patient Profile - Symptoms and history - Fill out form leaving one question blank towards the bottom - press CONTINUE - screen jumps up to the top. Here it should be jumping to the error location.

[2020-09-10 03:12] rowo commented on #459
@shivenbhatt1 For the form sequence that seems like a good approach... general to specific. I'm not sure what other options there are on that first screen. What else are you thinking we'd do there?

[2020-09-10 03:22] rowo commented on #319
@shivenbhatt1
1. So to get it right, when you say "contact", that means if you enter 2, you have to tap that checkmark which is a new screen with two string inputs? And then it brings you back to this screen with the checkmarks green?
2. If the above is correct, is there a reason/limitation why this doesn't follow the conventional workflow of like a "Other" choice where a text box shows up underne

[2020-09-10 03:28] shivenbhatt1 commented on #459
@rowo The other option was to place them in this screen, but the flow would have to change where the user would be asked if a barcode was present or not after it is selected.
![image](https://user-images.githubusercontent.com/47836489/92678461-0949e080-f2f4-11ea-9b80-b9aeeadeaaec.png)

[2020-09-10 03:31] shivenbhatt1 commented on #319
@rowo If you tap the checkmark the fields for contact information display below the "2" entered.

Right now if you just enter 2 without tapping the checkbox, the user can continue through the form without adding the contact details. Maybe this might work if the form has errors for not selecting the checkmark? But I'm worried it may not be intuitive to select the checkmark.

[2020-09-10 03:56] rowo commented on #341
@shivenbhatt1 Added some images https://marvelapp.com/prototype/c6gb48h/screen/72606487 and https://marvelapp.com/prototype/c6gb48h/screen/72606488, but not sure if it fulfills what you're talking about. What do you think?

[2020-09-10 04:17] shivenbhatt1 commented on #325
@vincent-karuri #341 now has mock images.

[2020-09-10 09:48] vincent-karuri commented on #469
<img width="218" alt="Screen Shot 2020-09-10 at 12 48 00" src="https://user-images.githubusercontent.com/33488286/92713638-e6571500-f363-11ea-9888-4bdb82495e11.png">
Is this about confirming the ID at the bottom of the barcode?

[2020-09-10 09:58] #451 closed

[2020-09-10 13:00] shivenbhatt1 commented on #469
@vincent-karuri That is correct, making sure the barcode has been placed on the appropriate tube, and matching the sample ID at the bottom of the barcode with the patient name and DOB.

[2020-09-10 13:37] rowo commented on #459
@shivenbhatt1 Oh I see what you are saying. I think with these new RDTs, it's more your call since you have the context. The question is what would reduce mental load. An initial fork appears simpler but that might be superficial if the user has to remember which category her RDT falls into.

So I think you can make your best judgement on this interaction. The goal would be making the user think l

[2020-09-10 19:37] rowo commented on #319
@vincent-karuri @shivenbhatt1 Ok now I get it. Is there a way to:
- assume the user is done with entry if they tap off the field's input (or is that interaction not recognized)?
- prevent a user from tapping off (i.e. maybe throwing the error and not saving the input) unless they hit the keyboard (or field input) checkbox?

Otherwise, it is a pretty unconventional interaction so I can see why it's

[2020-09-11 07:32] vincent-karuri opened #473 "Make reference_edit_text_hint translatable"
Mark `reference_edit_text_hint` on repeating groups as a translatable field to allow JMAG placeholder substitution.

[2020-09-11 11:04] vincent-karuri commented on #319
@rowo if by tapping off you mean navigating away from the text input, then yes, that can be tracked. It's probably more complex to prevent the user from moving on - some state will have to be maintained.

[2020-09-11 11:08] vincent-karuri commented on #469
Ok, @syedowaisali90 are you able to work on this?

After scanning, we'll need to pull the sample ID and write it to the field on the confirmation page.

[2020-09-11 13:33] shivenbhatt1 commented on #459
- [ ] Add RDT type rows IgG only, IgM only

[2020-09-11 13:36] shivenbhatt1 commented on #459
@rowo Could you create a mock screen for this?

[2020-09-11 13:59] shivenbhatt1 commented on #341
Going to go with the first 7 items on the list @vincent-karuri

[2020-09-11 14:04] shivenbhatt1 commented on #341
Create issue for the work

[2020-09-11 14:58] #383 closed

[2020-09-11 15:05] vincent-karuri opened #474 "Split supporting investigations history section"
With the splitting of supporting investigations form into White Blood Cell count and X-Ray forms, the supporting investigations patient history section will need to be split into the corresponding sections.

[2020-09-11 17:09] rowo commented on #319
@vincent-karuri Great, yes I mean that. Because right now, the field registers the input if you either (1) hit the checkbox on the field or (2) hit the checkbox on the keyboard (ie. return button), but not if you just tap out and tap another field. I'm just thinking if you can tap away and it still generates the contact info fields, then we'd be okay. @shivenbhatt1 what do you think?

[2020-09-14 06:29] Mstjamush opened #475 "Cannot scroll from the profile's page to access the sample shipment details option"
The options do no fit in the screens of some devices and the page is not scrollable

![Screenshot_20200910-170947_RDT Open Reader](https://user-images.githubusercontent.com/29072646/93051184-c29a1480-f66c-11ea-852e-754deffff969.jpg)

[2020-09-14 06:30] Mstjamush opened #476 "When validating email address (creating new client), if an email has a space before or after...it's flagged as invalid"

[2020-09-14 06:31] Mstjamush opened #477 "Translation to Bahasa - Some strings are in English when the App is in Bahasa"
Translations
	a) Some words on the profile page are in English
	b) Pages on the RDT functionality are in English(after the recording location)

[2020-09-14 08:36] vincent-karuri commented on #447
@shivenbhatt1 I think it makes sense to use the same page when the sensor is triggered or the RDT is expired?

I asked @syedowaisali90 to add a more general error message `This RDT is unusable either because it's expired or has been exposed to unsafe heat levels. Please use another RDT.` Thoughts?

[2020-09-14 15:31] syedowaisali90 commented on #469
yes

[2020-09-14 18:31] #335 closed

[2020-09-14 20:00] shivenbhatt1 opened #500 "Images for SDBiosensor Antigen based RDT Directions"
Insert a sterile swab into the nostril of the patient, swab over the surface of the posterior nasopharynx. Withdraw the sterile swab from the nasal cavity./Insert swab into an extraction buffer tube. While squeezing the buffer tube, stir the swab more than 5 times./Remove the swab while squeezing the sides of the tube to extract the liquid from the swab./Collect 350uL of mixture from the collectio

[2020-09-15 07:39] #328 closed

[2020-09-15 09:58] vincent-karuri commented on #323
@shivenbhatt1 atm, sender contact information is not known before launching this form and so cannot be auto-populated.

Also to clarify, name of sampler and name of sender are the same value pulled from the login details, right?

CC @syedowaisali90

[2020-09-15 14:54] #449 closed

[2020-09-15 15:08] shivenbhatt1 commented on #323
@vincent-karuri @syedowaisali90 That is fine that the sender contact information is unknown at the moment. We should just pull what we have, I believe at this moment we are just using indtester, or beta user until we are up and running.

Also, you are correct, the name of the sampler and name of the sender is the same value that are pulled from login details.

[2020-09-15 15:10] vincent-karuri commented on #281
After initial triaging, this issue requires a bit more time and rigour to narrow down on what is causing this.

I prefer to look at it as priorities change since this is not a major issue.

[2020-09-15 15:13] shivenbhatt1 commented on #281
@vincent-karuri sounds good, we can push this to next sprint

[2020-09-15 15:36] vincent-karuri opened #502 "Persist locale across app terminations"
Steps to reproduce:

1. When logged in, switch Locale to English
1. Force close app
1. Relaunch app -> Locale is reset to Bahasa

We should persist the Locale across app terminations. Since this value is set in the `SharedPreferences`, we should be able to access it.

[2020-09-16 07:15] #447 closed

[2020-09-16 07:46] vincent-karuri commented on #325
@shivenbhatt1 https://github.com/onaio/rdt-standard/issues/325#issuecomment-670811796 this is what I was referring to. Will these screens https://github.com/onaio/rdt-standard/issues/341#issuecomment-689962884 serve this purpose?

[2020-09-16 16:03] vincent-karuri opened #505 "Migrate server to version 2.2 (Keycloak support)"
- [x] Set up Keycloak server locally i.e. create users, OAuth Clients, roles, groups, scopes etc.
- [x] Bump client core version to v2.x.x and get it working with local server
- [x] Deploy v2.2.x of server to stage
- [x] Get Android client working with staging server
- [x] Deploy v2.2.x of server to covid production
- [x] Get Android client working with production server
- [x] Migrate unique ID ge

[2020-09-17 00:54] shivenbhatt1 commented on #325
@vincent-karuri Yes, those screens work

[2020-09-17 01:54] #319 closed

[2020-09-17 10:46] #502 closed

[2020-09-17 10:53] vincent-karuri commented on #345
@Mstjamush is this resolved?

[2020-09-17 13:47] vincent-karuri commented on #341
@rowo for consistency, should the continue button at the bottom of the screen be filled instead of outlined like in the other form steps?

[2020-09-17 15:28] vincent-karuri commented on #475
This can change to a scroll view.

[2020-09-17 15:28] vincent-karuri commented on #476
The regex validation can be modified to allow white spaces at the beginning.

[2020-09-18 06:41] #476 closed

[2020-09-18 07:53] #475 closed

[2020-09-18 08:38] #323 closed

[2020-09-18 12:23] #469 closed

[2020-09-18 13:22] rowo commented on #341
@vincent-karuri yes sounds good — please stay consistent where you see fit. Sorry, jumping in and out, I forget where things are at.

[2020-09-18 16:12] pld commented on #283
Template images for FHIR are here, https://github.com/cjpark87/rdt-scan/tree/master/app/src/main/res/drawable-nodpi

there are the configs that we will be ignoring in the future, https://github.com/cjpark87/rdt-scan/blob/master/app/src/main/assets/config.json

RDTScan chooses the name here from an intent, https://github.com/cjpark87/rdt-scan/blob/3bb41cf0ddff8381c1f4d5d860809758de39b575/app/src/ma

[2020-09-21 06:59] vincent-karuri commented on #174
@shivenbhatt1 can we close this?

[2020-09-21 07:01] vincent-karuri commented on #264
@shivenbhatt1 @pld I forget, what was the decision on this?

[2020-09-21 07:09] vincent-karuri commented on #265
@shivenbhatt1 do we still need this?

[2020-09-21 07:13] vincent-karuri commented on #473
i.e. add `reference_edit_text_hint` to the set of translatable fields here https://github.com/OpenSRP/opensrp-client-native-form/blob/99d09044b852d6203d8c1c9f4271cede79e3395e/android-json-form-wizard/src/main/java/com/vijay/jsonwizard/widgets/RepeatingGroupFactory.java#L166.

[2020-09-21 07:30] vincent-karuri commented on #474
![Screenshot_20200921-101520_RDT Open Reader](https://user-images.githubusercontent.com/33488286/93741484-2e442a80-fbf5-11ea-9bc4-0d84061417ca.jpg)

i.e. the `Other clinical data` section should be removed and replaced with `White Blood Cell count` and `X-Ray` sections.

[2020-09-21 12:24] pld commented on #264
That as long as we can do this manually, this is low priority

[2020-09-21 12:24] #174 closed

[2020-09-21 13:35] shivenbhatt1 opened #511 "Dynamic configurability of supported RDTs"
1. Be able to capture RDTs that are added RDTs dynamically
2. Apply different job aids dynamically (type of sample, any preparation, amount of sample, amount of buffer, processing time, end time)
3. Confirm details of the selected RDTs
    1. pull up images
    2. manufacturer
    3. type of test

[2020-09-21 15:04] Mstjamush opened #523 "Malformed fields on RDT visits for "# of covid patients in compound", "# of covid patients who are close contacts" and "# of covid contacts outside household""
Malformed fields on RDT visits for "# of covid patients in compound", "# of covid patients who are close contacts" and "# of covid contacts outside household"
![Screenshot_20200921-161758_RDT Open Reader](https://user-images.githubusercontent.com/29072646/93783830-db8a6300-fc34-11ea-8174-a53fb0b48932.jpg)
![Screenshot_20200921-161805_RDT Open Reader](https://user-images.githubusercontent.com/29072

[2020-09-21 15:07] Mstjamush opened #524 "Crash when recording "Sample shipments" - Scan sample barcode"
Below are the crash logs

[code]

		or

[code]

[2020-09-21 15:07] Mstjamush opened #525 "When validating email address (Sample Shipments), if an email has a space before or after...it's flagged as invalid"
When validating email address (Sample Shipments), if an email has a space before or after...it's flagged as invalid

[2020-09-21 15:09] Mstjamush opened #526 "Regresssion - Sample collection page - one cannot proceed when they choose Swab as a option - Date validator is invalidation all dates for VTM expiration date"
Sample collection page - one cannot proceed when they choose Swab as a option - Date validator is invalidation all dates for VTM expiration date

[2020-09-21 15:10] Mstjamush opened #527 "Translations Issues"
Translations on
	a) Login Page
	b) Home page - gender is in English
	c) Profile Page - Gender, Patient forms and Patient history are in English
	c) Patient History - Visit is in English
	d) Visits - In scenarios where "No data available" is in English
	e) Symptoms and History forms - "# of covid patients..." hint is in English
	f) Sample collection page is in English
	g) Other Clinical data is in

[2020-09-21 15:15] vincent-karuri commented on #523
@shivenbhatt1 do you see this on the app for new visits?

[2020-09-21 15:16] vincent-karuri commented on #525
@syedowaisali90 could you confirm if this is still an issue by testing on a device?

[2020-09-21 16:30] syedowaisali90 commented on #525
@vincent-karuri No, i had fixed that.

[2020-09-21 18:39] shivenbhatt1 commented on #265
No

[2020-09-21 18:39] #265 closed

[2020-09-22 06:43] vincent-karuri commented on #525
I don't think this was done for sample shipments, could you confirm that?

[2020-09-22 06:58] syedowaisali90 commented on #525
yes, you are right it was not fixed in sample shipments. Now i have fixed that.

[2020-09-22 07:18] vincent-karuri commented on #526
I'm unable to reproduce this. Is the date at least a day before today?

[2020-09-22 07:19] vincent-karuri commented on #523
I'm unable to replicate this - shows up as number values for me on recent visits.

This only occurs on older visits hence the need to test on a newly created visit i.e. a new submission.

[2020-09-22 07:56] vincent-karuri commented on #526
The bug was that it was expecting dates before and not after today. Fixed!

[2020-09-22 12:34] shivenbhatt1 commented on #523
@vincent-karuri @Mstjamush Same, I only see it on older visits, before the update

[2020-09-22 12:47] #325 closed

[2020-09-22 12:47] #341 closed

[2020-09-22 12:47] #524 closed

[2020-09-22 12:47] #526 closed

[2020-09-22 14:57] vincent-karuri commented on #523
**NB**: A fix for this should be made against https://github.com/onaio/rdt-standard/tree/v1.5 since it's a bug from QA of `v1.5.0 RC`.

[2020-09-22 14:57] vincent-karuri commented on #527
**NB**: A fix for this should be made against https://github.com/onaio/rdt-standard/tree/v1.5 since it's a bug from QA of `v1.5.0 RC`.

[2020-09-22 15:41] vincent-karuri commented on #505
Useful resources:

https://smartregister.atlassian.net/wiki/spaces/Documentation/pages/1628864513/Setting+up+Keycloak
https://smartregister.atlassian.net/wiki/spaces/Documentation/pages/1178796067/Single+Sign+on+and+Oauth2+support
https://smartregister.atlassian.net/wiki/spaces/Documentation/pages/1916928001/Migration+to+OAuth+2
https://www.keycloak.org/docs/latest/server_admin/#_client_installati

[2020-09-24 08:31] Mstjamush commented on #523
Closed

[2020-09-24 08:31] #523 closed

[2020-09-24 12:23] shivenbhatt1 opened #545 "Add IgG only and IgM only to RDT type in manual selection of RDT page"
We will be supporting 2 new type of antibody RDTs, one that tests only for IgG and another that tests only for IgM.

Please add the following selections under RDT type:

1. IgG Only
2. IgM Only

https://github.com/onaio/rdt-standard/issues/459#issuecomment-688892336

[2020-09-24 12:28] shivenbhatt1 commented on #266
![image](https://user-images.githubusercontent.com/47836489/94145002-e49b5000-fe3f-11ea-8c62-0e8474258446.png)

[2020-09-24 12:42] shivenbhatt1 commented on #266
1. What the feature is supposed to be and what it is supposed to accomplish
2. Design and location implementation

[2020-09-24 12:43] #458 closed

[2020-09-24 12:52] vincent-karuri commented on #511
Next steps for me would be to figure out if we have functionality in core to easily pull out certain portions of a FHIR resource.

This is an essential part of processing Device FHIR data to pull out images, job aids and RDT configurations which can then be passed on to RDT Scan and NativeForms.

[2020-09-24 12:56] shivenbhatt1 commented on #511
https://github.com/onaio/Covid19/issues/15

[2020-09-24 13:00] #473 closed

[2020-09-24 13:45] #474 closed

[2020-09-28 08:36] #545 closed

[2020-09-28 10:35] vincent-karuri commented on #336
@shivenbhatt1 do we need to consider batch scanning for v1.6?

[2020-09-28 10:38] vincent-karuri commented on #349
@shivenbhatt1 can we add this to v1.6 milestone?

[2020-09-28 14:15] shivenbhatt1 opened #567 "Add two additional lines under RDT type in RDT capture form"
We are looking to support 2 new RDT types in the Covid app which have "IgG only" and "IgM only".

Please add the two additional variations of RDTs under the RDT type section of the manual section of the RDT form:

- [ ] IgG Only
- [ ] IgM Only

[2020-09-28 14:39] vincent-karuri commented on #349
@shivenbhatt1 where does the dropdown or text filed go? i.e. to which screen / form

[2020-09-28 14:40] vincent-karuri commented on #336
@shivenbhatt1 what is the flow for batch scanning? Do we have mockups we should be looking at?

@syedowaisali90 note that this will need the latest version of the OneScan apk installed on the phone.

[2020-09-29 05:18] shivenbhatt1 commented on #336
**Background:** The current state at which single sample laboratory shipments are sent doesn't work for the end-users. It becomes too tedious for "senders" to scan one sample and submit shipment form when they often have multiple samples they are sending at once. After discussion we came up with a batch scan mode where senders can send anywhere from 1 to XXXX samples on a single sample shipment fo

[2020-09-29 05:27] #567 closed

[2020-09-29 05:36] shivenbhatt1 commented on #266
Is there anyway to save forms the way you left them (partially filled out) and return back to them? I believe this is possible in other app deployments. Also, lets say an alarm to capture an image goes off, the alarm pops up in the current form you are working in and a button displays saying capture RDT ID:XXXXX or IGNORE. If you select it, capture the RDT and submit that form, then the app return

[2020-09-29 07:15] vincent-karuri commented on #336
@shivenbhatt1 as per the discussion https://github.com/onaio/rdt-standard/issues/341#issuecomment-686952763 editing and deleting are complex actions that are not straightforward to implement within native forms. I thought the decision was to skip this?

I'm not sure I understand the `add sample row` UI. I thought we would leverage what Sasa built out to simulate batch scanning and have the entire

[2020-09-29 11:23] vincent-karuri commented on #511
[code]

Instantiate a device definition.

[2020-09-29 13:13] vincent-karuri commented on #511
https://github.com/onaio/Covid19/blob/master/scripts/device-definition/device_definitions-rdt-og-2020-09-18.json#L166 fhir resource definition.

[2020-09-29 13:15] vincent-karuri commented on #283
https://github.com/onaio/Covid19/blob/master/scripts/device-definition/device_definitions-rdt-og-2020-09-18.json#L166 fhir resource definition.

[2020-09-29 13:15] vincent-karuri commented on #283
[code]

Instantiate a device definition.

[2020-09-29 13:17] vincent-karuri commented on #511
1 will be tracked in this issue https://github.com/onaio/rdt-standard/issues/283.

[2020-09-29 13:27] vincent-karuri commented on #266
ANC had functionality for saving drafts. Not sure that it's in the core libraries and in a reusable format. Would need to confirm this.

We also need to think about how not to allow dismissing of such tasks since they're time-sensitive.

[2020-09-29 13:59] rowo commented on #266
@shivenbhatt1
1. Doesn't that homepage screenshot already support those functionality options you've listed? It's basically a client list (with an add button at the top), and the timers show the open tests that you can click into.
2. I'm not fully sure why the homepage is related to this dialog notification that you are talking about. If that dialog takes you to the alarm that went off, then you r

[2020-09-29 14:04] vincent-karuri commented on #349
@syedowaisali90 we should retrieve the immediate parent location (in the location hierarchy) that the logged in user is assigned to and display all child locations under it.

e.g. if the user is assigned to `Division 1` in the location hierarchy, they should see two options i.e. `Division 1` and `Division 2` which are both child locations of the immediate parent location i.e. `District`.

- Countr

[2020-09-30 04:24] shivenbhatt1 commented on #349
This should exist in the following locations:
Symptom and history form -->Name of facility
RDT Form --> Name of facility
Sample collection form -->Name of health facility

[2020-09-30 07:47] vincent-karuri commented on #283
@pld, @githengi says there's an issue with the fhir resource https://github.com/onaio/rdt-standard/issues/283#issuecomment-700694772, maybe he can explain better.

[2020-09-30 07:49] githengi commented on #283
@pld Json Array is not valid FHIR resource and will cause problems in evaluation. I suggest to use a fhir bundle of type collection

[2020-09-30 08:04] githengi commented on #283
Also the contents seems not be valid, I was not able to parse as bundle or the individual device definitions. I will correct and share a valid JSON

[2020-09-30 08:27] syedowaisali90 commented on #349
@shivenbhatt1 In the `sample collection form` we already have `native radio` options in the `name of health facility section` so, will I need to show a dropdown menu when a user selects `other` options from the menu.

[2020-09-30 12:17] pld commented on #283
Yes that's correct it's not valid fhir, we added the parameters for rdtscan verbatim from their config

Vinny, I believe this is what you suggested

[2020-09-30 12:28] vincent-karuri commented on #283
yea that was the idea but I don't know how to encode that as fhir and still maintain its structure. I assumed it'd be valid.

[2020-09-30 12:37] pld commented on #283
K, Sam G if you have a reasonable way to encode this as FHIR let us know, we can incorporate it into the code that’s generate the resources

[2020-09-30 14:04] shivenbhatt1 commented on #349
@syedowaisali90 right, we are planning to move away from that since right now we are limited to the 3 locations + other manual entry. The three in place right now are the 3 main hospitals in Jakarta, however, we may be operating outside of these locations.

[2020-09-30 14:10] vincent-karuri commented on #336
@shivenbhatt1

So to summarise I propose that we should initially support:

1. Scanning multiple barcodes in one submission leveraging OneScan's support for batch scan
1. Grouping and assignment of a batch ID to the scanned barcodes
1. Displaying of the batch ID

and move the more advanced features e.g. edit, delete and viewing of scans to a separate issue which we can iterate on.

[2020-09-30 14:21] vincent-karuri commented on #349
So basically replace what is there with the dropdown?

On Wed, 30 Sep 2020, 17:05 shivenbhatt1, <notifications@github.com> wrote:

[2020-09-30 20:00] shivenbhatt1 commented on #349
yes

[2020-10-01 17:14] shivenbhatt1 commented on #266
@rowo Right now this is our homepage
![image](https://user-images.githubusercontent.com/47836489/94841338-dfae4180-03e7-11eb-86f2-21855a4723f3.png)

We need to find a place to put the page you designed that would be user intuitive/easy to find

[2020-10-02 15:40] vincent-karuri opened #569 "Migrate OAuth server from staging to prod"
Currently, Covid Indonesia production server is using the shared Keycloak staging server instance. We need to either point it to the shared Keycloak production server (when credentials are available) or create a dedicated Keycloak server for Covid Indonesia. The latter depends on a determination of data privacy policies around holding health worker data outside Indonesia.

CC: @pld @shivenbhatt1

[2020-10-05 14:21] #505 closed

[2020-10-06 11:33] vincent-karuri commented on #349
NB: looks like the default location sync only syncs a portion of the location tree and not the entire location tree associated with the logged-in user.

In this case, we'll need to enable sync of the parent location tree (in reference to https://github.com/onaio/rdt-standard/issues/349#issuecomment-700727776) to allow retrieval of its child locations.

[SyncAllLocationsServiceJob](https://github.c

[2020-10-06 12:14] vincent-karuri commented on #283
I see this as having three components:

1. Format Device Definitions into a valid FHIR resource (requires FHIR domain knowledge)
1. Write FHIR Path queries to extract information from the resource in 1 (requires FHIR domain knowledge) and possibly convert this information into Java POJOs
1. Modify RDTScan to accept RDT configurations and template images as Java POJOs for better configurability (re

[2020-10-06 12:27] pld commented on #283
I agree w/your assessment, (3) can be done independently, let's gather context for that in a separate issue.

(2) is dependent on (1), IMO having access to a validator and being able to understand the FHIR resources is enough domain knowledge, at least Craig and I can do the later

[2020-10-06 12:29] vincent-karuri commented on #283
[code]

valid bundle for the 1st device from @githengi.

[2020-10-06 12:30] vincent-karuri commented on #283
From slack on changes made:

[code]

[2020-10-06 12:32] vincent-karuri commented on #283
[code]

validation in a unit test.

[2020-10-06 12:53] vincent-karuri commented on #283
https://www.hl7.org/fhir/binary.html binary resource, might be useful for the images?

[2020-10-06 15:03] shivenbhatt1 commented on #527
@vincent-karuri @syedowaisali90 do you know which resource the gender from the first screen shot that josphat highlighted is coming from?

[2020-10-06 15:20] vincent-karuri commented on #527
Those strings are not part of any resource - they're a result of how OpenSRP saves values from radio buttons. We could possibly find a way to translate them on RDT but it would feel a bit hacky.

[2020-10-07 02:07] pld commented on #283
@vincent-karuri we have a new JSON generated and validate with a python FHIR library, https://github.com/onaio/Covid19/blob/master/scripts/device-definition/device_definitions-rdt-og-2020-10-06.json

added the bundle as well, code for this should be readable, each DeviceDefinition resource is created as JSON then encoded as FHIR and validated, then converted back to JSON and added to a Bundle reso

[2020-10-07 07:45] vincent-karuri commented on #283
Nice! Thanks!

[2020-10-07 13:36] shivenbhatt1 commented on #433
Updated Long Description Oct 7th, 2020:
The RDT Open Reader 2, developed by Ona Systems Inc, is an OpenSRP-based diagnostics platform that integrates rapid diagnostic point-of-care tests (antigen and antibody), laboratory specimens, and health and contact data for efficient population and case management. The current version is established as a health information management system for reading, ana

[2020-10-07 13:38] pld commented on #433
this looks godo

[2020-10-07 15:03] vincent-karuri commented on #525
Fixed

[2020-10-07 15:03] #525 closed

[2020-10-07 15:16] vincent-karuri opened #576 "Modify RDTScan to support dynamically generated configs and templates"
We'll need a constructor that allows passing the [config object](https://github.com/onaio/rdt-capture/blob/8ea2381a3c6973377e5a6326a57a07acff9c1154/lib/src/main/java/edu/washington/cs/ubicomplab/rdt_reader/core/RDT.java#L71) and [template image](https://github.com/onaio/rdt-capture/blob/8ea2381a3c6973377e5a6326a57a07acff9c1154/lib/src/main/java/edu/washington/cs/ubicomplab/rdt_reader/core/RDT.java

[2020-10-08 12:24] shivenbhatt1 commented on #433
@ndegwamartin You can use the updated description above to resubmit

[2020-10-09 13:45] vincent-karuri commented on #283
Is `Alltest 2019-nCoV IgG/IgM` a duplicate RDT definition?

[2020-10-09 14:47] pld commented on #283
not sure the 2 have different sample quantities so I don't think so, but the JSON will definitely change there are others in the source sheet that don't have RDT params yet that we'll need to add, so doesn't seem particularly important the content is accurate right now as long as the format is

[2020-10-16 07:58] vincent-karuri opened #578 "Bug in form translations"
Forms are not translated for Bahasa i.e. the forms are launching in English instead of Bahasa. Could this be related to how the language switcher works?

Also, the patient history questions are not showing in Bahasa as they should.

[2020-10-20 06:34] #349 closed

[2020-10-20 09:58] syedowaisali90 commented on #578
Strings were missing for Bahasa I have added them.

[2020-10-20 10:00] syedowaisali90 commented on #578
Probably could be,

[2020-10-20 12:09] syedowaisali90 commented on #578
Yes, it was a language switcher problem not it's fixed.

[2020-10-22 02:17] shivenbhatt1 opened #580 "Expired RDT bug in V1.7"
If conducting a manual RDT, you can enter a date in the past for the expiration date and the user can still continue to do the test. We want to make sure that all expired dates (past dates) are flagged and the user is requested to take another RDT, returning them back to the screen where they are asked to choose manual or barcoded RDT.

[2020-10-22 02:24] shivenbhatt1 opened #581 "Bug in V1.7 - Unable to manually select Wondfo SARS-CoV-2 Antibody test"
If you try to select the first RDT type (Wondfo) an error displays stating that this field is required. I tried changing the rdt to a different type and back to Wondfo, and this error still displays.

I'm wondering if the first scroll bar field should state "Select RDT Type", the user selects the dropdown menu and selects the RDT from there. This may solve the issue we are experiencing here.

[2020-10-22 02:31] shivenbhatt1 opened #582 "Bug in V1.7 - If barcode is scanned of RDT, Cannot launch RDT Capture Widget"
If you decide to scan the barcode of RDT, the app attempts to open the RDT Capture Widget, however, the screen just shows please wait with a spinning wheel.

[2020-10-22 06:32] vincent-karuri commented on #581
Yea, I was able to reproduce this. As per your suggestion, perhaps there should not be a pre-selected value. Or it could be a bug that needs fixing in Native Forms. Either way, worth investigating.

[2020-10-22 06:37] vincent-karuri commented on #582
Capture will not work for the `scan barcode` workflow at the moment since there's no way to fetch the configuration from the FHIR resource. This is related to the conversation we're having on how to  identify the FHIR resource for barcoded RDTs. We need to discuss this further.

[2020-10-22 06:43] vincent-karuri commented on #580
This flow is a bit different from what is happening with the sample collection form. I think it's better if we stay consistent. The sample collection form shows an error on the same page if the expiration date is invalid which prevents navigation to the next page.

[2020-10-22 12:00] shivenbhatt1 commented on #580
@vincent-karuri just wanted to make sure we are on the same page, the sample collection form doesn't have an expiration for the sample itself, but it is the VTM that has the expiration date, right? #359

I agree with keeping consistent. Let's show the error on the same page.

[2020-10-22 14:07] vincent-karuri commented on #580
Yea, the VTM.

On Thu, 22 Oct 2020, 15:01 shivenbhatt1, <notifications@github.com> wrote:

[2020-10-26 08:59] #580 closed

[2020-10-26 14:14] #345 closed

[2020-10-27 03:26] shivenbhatt1 opened #585 "OneScan is crashing due to FHIR RDT Definitions being absent"
This crash occurs during RDT capture. I think I managed to find out the reason, the device definitions aren't recorded in the FHIR list. I completed the following assessments after updating the software of my phone and the assessment came out fine.

1.All test (1) - OK
2.All test (2) - OK
3. Realy tech (1) - OK
4.Realy tech (2) - OK
5. Green Spring (1) - OK
6. Green Spring (2) - OK
7. STANDARD Q (

[2020-10-27 03:27] shivenbhatt1 commented on #585
@vincent-karuri We should discuss a solution for devices that don't have definitions tomorrow.  We might be able to launch manual capture instead of having OneScan crash?

[2020-10-27 07:20] vincent-karuri commented on #585
Thanks for the thorough review @shivenbhatt1. Yes, that version of the app is expected to crash for RDT's without a valid configuration. A more recent version of the app does not allow the capture to launch and instead shows the user a toaster message explaining the configuration is missing.

We can definitely make this transition directly to manual capture, as it the case with the `other` selecti

[2020-10-27 07:22] vincent-karuri commented on #585
Images are hosted in [rdt scan repository](https://github.com/onaio/rdt-capture/tree/8ea2381a3c6973377e5a6326a57a07acff9c1154/lib/src/main/res/drawable-nodpi) atm.

[2020-10-27 09:42] vincent-karuri commented on #336
[code]

[2020-10-27 10:07] vincent-karuri commented on #336
- [ ] Support batch scan as shown in the sample code above
- [ ] Keep track of (save) all scans in a global variable (most suitably a JSONArray)
- [ ] OnFinish, pass saved scans as a result to the calling `OneScanCovidRDTBarcodeFactory`
- [ ] The scans should be saved as part of the `value` field of the `OneScanCovidRDTBarcodeFactory` widget
- [ ] Additionally, attach a unique batch id to the `One

[2020-10-27 10:23] vincent-karuri commented on #336
@shivenbhatt1 to confirm, the page displaying the batch ID will come at the very end, right?

Also, do we need a design for a button the user can click to indicate they're done scanning?

CC @syedowaisali90

[2020-10-27 10:27] #578 closed

[2020-10-27 21:11] shivenbhatt1 commented on #582
@vincent-karuri Final decision on this was to generate a 13 digit GTIN string with the last digit being the check digit.
I spoke with Anu on this and he suggested we start with a distinctive set of digits denoting that it is a unique scheme and not actually a GTIN like "999"

**I followed the following process:**
Use a numerical scheme starting with 999+6 digits taken from CareStart IDs+000+Check

[2020-10-27 21:27] shivenbhatt1 opened #588 "Information: Content of FHIR Definitions of User workflow"
Steps | Sampleqty drops | Sampleqty uL | Bufferqty drops | Bufferqty drops max | Bufferqty uL | minimumtimeforresult | maximumtimeforresult | low_temp | high_temp
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
Header: Sample Preparation / Content: Variable based on definition list | Header: Add Sample to RDT/ Content: Add X drops of sample to the appropriate well. | Header: Add Sample to RDT/ Con

[2020-10-28 01:52] shivenbhatt1 commented on #585
@vincent-karuri I think the approach we have taken in the most recent version is better than the decision we made today to remove the RDTs without device definitions from the list. For one, there are user workflows that have been recorded in the list that can still be used, and two, I believe these will be integrated at some point anyway.

We can continue to use the toaster message explaining that

[2020-10-28 03:14] shivenbhatt1 commented on #336
@vincent-karuri That is correct, displaying the batch ID at the very end.

Can we create a preliminary button for "Scan Complete" because I sense that this will be blocked for a period of time otherwise if we require design?

[2020-10-28 03:16] shivenbhatt1 commented on #585
@vincent-karuri This repository is not updated with the most recent RDTs, are we actually pulling from CJ's main branch that I updated?

FYI, I've been working in my own branch for most recent updates that eventually get merged into CJ's. I added 2 more images today for Redpharm and SDbiosensor syphilis https://github.com/shivenbhatt1/rdt-scan/tree/master/app/src/main/res/drawable-nodpi

[2020-10-28 03:20] shivenbhatt1 commented on #582
@vincent-karuri I have added the device definitions for SD Biosensor StandardQ Syphilis and Redpharm to the FHIR definitions document.

[2020-10-28 06:23] vincent-karuri commented on #336
Sounds good

[2020-10-28 06:45] vincent-karuri commented on #582
Thanks @shivenbhatt1

[2020-10-28 08:32] vincent-karuri commented on #582
@pld @shivenbhatt1 is there a requirement to have the [identifier](https://github.com/onaio/Covid19/blob/87cec883409c16b5ce3ac7b1ab9c0df4cb2a06e6/scripts/device-definition/device_definitions-rdt-og-2020-10-07.json#L72) as a uuid? Is it possible to use the product code as the resource identifier? This would simplify FHIR Path queries.

[2020-10-28 09:28] vincent-karuri commented on #582
@shivenbhatt1 do we go ahead and remove the duplicate resources (blood/plasma) based on our conversation about combining them?

[2020-10-28 13:55] shivenbhatt1 commented on #582
@vincent-karuri Yes, let's go ahead and combine them

[2020-10-29 08:27] vincent-karuri commented on #336
@shivenbhatt1 fyi, this is what is going into the feature atm https://github.com/onaio/rdt-standard/issues/336#issuecomment-701416206

[2020-10-29 09:15] vincent-karuri commented on #585
@shivenbhatt1 https://github.com/cjpark87/rdt-scan/tree/master/app/src/main/res/drawable-nodpi  is the correct url.

[2020-10-29 09:58] vincent-karuri commented on #582
@shivenbhatt1 the gtins need to be 14 and not 13 digits https://github.com/onaio/rdt-standard/issues/302#issue-643201478. OneScan is extracting the wrong gtin with the 13 digits.

[2020-10-29 15:38] shivenbhatt1 commented on #336
@vincent-karuri that looks good

[2020-10-29 15:41] shivenbhatt1 commented on #582
@vincent-karuri okay, lets add a 0 in front, seems like that is what is being done in the other barcodes

[2020-10-29 15:58] vincent-karuri commented on #582
Already added a zero to the end and generated check digits. Aren't we supposed to maintain 999 at the beginning?

[2020-10-29 16:22] shivenbhatt1 commented on #582
@vincent-karuri That works too, we just need to confirm if the check digit is still valid and OneScan is actually reading that. We will be able to generate some test barcodes next week in Indonesia to try it out.

[2020-10-30 07:08] vincent-karuri commented on #582
I already verified it's working and generated the check digit based on the now 13-digit unique id (i.e. minus the check digit).

[2020-10-30 07:10] vincent-karuri commented on #582
After adding the check digit, we get the 14-digit product id which can then be encoded into the barcode https://github.com/onaio/rdt-standard/blob/4f66bcbdde458f0dd3aed007628f739a16381f12/rdt-open-reader/src/covidIndonesia/assets/fhir.resource/DeviceDefinition.json.

[2020-10-30 07:43] vincent-karuri commented on #585
@shivenbhatt1 [your fork](https://github.com/shivenbhatt1/rdt-scan/tree/master/app/src/main/res/drawable-nodpi) has quite a few conflicts with the [ona version](https://github.com/onaio/rdt-capture/tree/master/lib/src/main/res/drawable-nodpi). Is it possible to upload the images directly to the ona version?

[2020-10-30 12:06] vincent-karuri opened #589 "Build custom repeating group widget that generates repeating groups on scroll"
Recent changes to native forms have removed this feature (a compromise after complaints that it caused unexpected behaviour) and will therefore break our implementation. As such, we need to implement the feature within our app as a custom repeating group widget.

[2020-10-30 14:16] shivenbhatt1 commented on #585
@vincent-karuri Is it possible because I changed the name of some of the images? I wanted to maintain consistency and the images in that folder were incorrectly labeled. CJ merged my updates. The last 2 should be merged today sometime.

[2020-11-02 09:44] vincent-karuri commented on #336
@shivenbhatt1 how do we want to handle samples whose sensor is triggered in batch scan? The flow will be more complicated if we want to flag them and still continue scanning more samples.

[2020-11-02 10:19] vincent-karuri opened #590 "Dynamically generate job aids from DeviceDefinition"
To support displaying job aids to the user, we'll need a way to dynamically generate NativeForm steps that make up the job aids (pulling them from the FHIR DeviceDefinition). This is because we do not have a standard way of describing the steps that constrains the content in each step and the total number of steps for each Device i.e. job aids vary from one manufacturer to another.

At the moment,

[2020-11-02 10:19] vincent-karuri commented on #511
2 will be tracked in this issue https://github.com/onaio/rdt-standard/issues/590.

[2020-11-02 11:35] vincent-karuri commented on #590
@pld I'll need help creating the questionnaire.

[2020-11-02 13:33] shivenbhatt1 commented on #336
@vincent-karuri samples do not have temperature sensors, only RDTs do. Since RDTs are not part of the sample shipment process, there is no need to worry about sensors being triggered.

[2020-11-02 13:39] vincent-karuri commented on #336
Great. @syedowaisali90 you can remove all fields that assumed single sample barcode scanning.

[2020-11-03 15:38] shivenbhatt1 opened #597 "RDT Form error"
RDT Form  - referral health facility section.

**Ellya QA**- In the RDT section, there is this section asking about which referral health facility the patient went to. The third option doesn't match with the question. It says, where is the assessment conducted. The first option says hospital, second says clinic, and the forth says Other. Probably it is misplaced

**Shiven Recommendation**- This se

[2020-11-03 22:19] shivenbhatt1 opened #604 "Translation Issues"
**I had Ellya from SID translate the properties files into Bahasa as txt format. For some reason, some of the asset translations weren't properly working.**

We need to replace the Bahasa properties files that we have with these.

[patient-diagnostics-form.properties_in_v2.txt](https://github.com/onaio/rdt-standard/files/5484370/patient-diagnostics-form.properties_in_v2.txt)
[rdt-capture-form.prop

[2020-11-03 22:41] shivenbhatt1 opened #605 "Bug in contact exposure in patient diagnostics form"
In the Travel and contact exposure portion of the patient diagnostics form, when entering # of covid patients in compound, # of covid-19 patients who are close contacts, and # of close contacts outside:

If you enter the number 1: 2 patient contact requested
If you enter the number 2: 4 patient contacts are requested
If you enter the number 3: 5 patient contacts are requested
If you enter the numb

[2020-11-03 22:48] shivenbhatt1 commented on #605
An additional note, if you change the number of contacts in the box and update, you can not proceed. A message telling you that "error(s)" exist shows up at the bottom and the user needs to exit out of the form and refill everything out.

[2020-11-03 22:55] shivenbhatt1 opened #606 "Crash - After OneScan barcode scan"
My app crashed twice after reading the temperature sensor on the RDT (both triggered and not triggered) on the test model Samsung J7 using the most up to date OneScan and Covid App freshly installed.

This was replicated twice.

Covid patient 2 -> RDT -> Scan Barcode -> Scanned Alltest barcode, Status showed okay (Continue) -> Displayed message says "RDT Open Reader has stopped."

[2020-11-03 22:58] shivenbhatt1 commented on #585
@vincent-karuri Uploads are unavailable.

![covid19_alltest_ref_v0](https://user-images.githubusercontent.com/47836489/98049694-38fdfc00-1dfe-11eb-99b7-5fc2d4472f3b.jpg)
![covid19_greenspring_ref_v0](https://user-images.githubusercontent.com/47836489/98049697-39969280-1dfe-11eb-9ef5-dfb806c7502d.jpg)
![covid19_realytech_ref_v0](https://user-images.githubusercontent.com/47836489/98049698-39969280-1

[2020-11-04 00:38] shivenbhatt1 opened #607 "Example Issue for Ellya (Title)"
1. Description of issue
2. Directions on how to reproduce the issue
3. Any images/supporting documents
4. Any mitigation recommendations
5. Device, version of app you are running, etc

[2020-11-04 01:12] ellyasafaa opened #608 "Additional Identity Type in Bahasa version (Government ID Section)"
Hi, Ellya from SID here, helping the QA in the Bahasa version.
I have an issue with the identity type. In Indonesia, we have 3 types of Identity: National Identity Card (KTP), Passport (Paspor), and Driving's license (SIM). Could we add one more identity type on the government ID section?

![ID Issue](https://user-images.githubusercontent.com/73918009/98057481-faefef00-1e74-11eb-9980-8fe8f8773fc1.

[2020-11-04 01:23] shivenbhatt1 commented on #608
@vincent-karuri @syedowaisali90 in English we need to add "National Identity Card" because I think we already have drivers license then @ellyasafaa we can fix the translations accordingly.

Right now Drivers license is translating to KTP.

[2020-11-04 07:27] vincent-karuri commented on #585
@shivenbhatt1 is this about our repo? Wasn't the suggestion to upload directly to it https://github.com/onaio/rdt-standard/issues/585#issuecomment-719361531.

Also, do all these RDTs have corresponding FHIR configs?

[2020-11-04 07:32] vincent-karuri commented on #606
Does the barcode have a valid gtin assigned? The gtin must be part of the `udiDeviceIdentifier` in one of the devices here https://github.com/onaio/rdt-standard/blob/283-update-rdt-templates-dynamically/rdt-open-reader/src/covidIndonesia/assets/fhir.resource/DeviceDefinition.json.

[2020-11-04 07:34] vincent-karuri commented on #597
@shivenbhatt1 should we just remove the radio button group and simply have the dropdown?

[2020-11-04 07:35] vincent-karuri commented on #604
@syedowaisali90 please look into this.

[2020-11-04 09:53] vincent-karuri commented on #606
I also notice that AllTest has a 13 digit gtin the fhir device definition spreadsheet document. Shouldn't it be 14?

[2020-11-04 10:27] vincent-karuri commented on #606
I've used `06970277514699` instead of `6970277514699` for Alltest and removed the gtin block (keeping the manufacturer block) in the fhir resource. Fixes the crash for alltest. Couldn't replicate the issue for other RDTs.

[2020-11-04 11:53] pld commented on #590
k, go ahead and create a draft, I can review

[2020-11-04 16:52] shivenbhatt1 commented on #585
@vincent-karuri I'm unable to directly add to our repo since it is protected. I will send you a slack message with the images and correct names I posted above. I used the Alltest cassette as an example, which is labeled as jal medical in our repo. This may be causing the crash since the code was updated to link the image I send you.

[2020-11-04 17:09] vincent-karuri commented on #585
I don't think that's the problem. There's no relationship between updating
the images and the app crashing. We are pulling images from the fhir
resource.

On Wed, 4 Nov 2020, 19:53 shivenbhatt1, <notifications@github.com> wrote:

[2020-11-04 17:31] shivenbhatt1 commented on #585
@vincent-karuri The issue is, the FHIR resource doesn't point to the image that is in [https://github.com/onaio/rdt-capture/tree/master/lib/src/main/res/drawable-nodpi](https://github.com/onaio/rdt-capture/tree/master/lib/src/main/res/drawable-nodpi). These need to be updated with the new images that match CJ's master repo

[2020-11-04 17:38] vincent-karuri commented on #585
I don't follow. Is the app still crashing on capture? I've tested capture on an image of Alltest multiple times and it works just fine.

[2020-11-04 19:36] shivenbhatt1 commented on #597
@vincent-karuri the question will be if other is needed here. It would be better to have the dropdown above 'other' though and not make the drop essential. If they select 'other' an open field displays for them to enter a location manually.

[2020-11-04 22:18] shivenbhatt1 commented on #585
Not if you use barcode scan pathway. It is working if you use manual capture.

Just for reference, I am scanning this barcode and returning this result.
![image](https://user-images.githubusercontent.com/47836489/98173821-c0f90a00-1ec1-11eb-88c4-2dd0d43ad508.png)
![image](https://user-images.githubusercontent.com/47836489/98173842-c6565480-1ec1-11eb-8a42-7e3eb0255f84.png)

[2020-11-05 07:10] vincent-karuri commented on #585
https://github.com/onaio/rdt-standard/issues/606#issuecomment-721647979 should fix this (I was able to scan the barcode and proceed to capture). We should merge these two issues (close one) - they seem to be addressing the same thing.

[2020-11-05 07:11] vincent-karuri commented on #581
@shivenbhatt1 is this fixed?

[2020-11-05 07:12] vincent-karuri commented on #582
@shivenbhatt1 is this fixed?

[2020-11-05 07:48] vincent-karuri commented on #336
@shivenbhatt1 should we still keep the barcode details page for batch scan? Right now it's just suited to display details for a single sample.

[2020-11-05 11:25] vincent-karuri commented on #597
By essential do you mean mandatory/required? If I get you correctly you're saying we should have an `other` field below the drop-down?

In that case, couldn't we simply have `other` as part of the drop-down and the manual entry field visible when other is selected for the drop-down?

[2020-11-05 11:27] vincent-karuri commented on #597
And is the decision yes to replacing the radio group with the drop-down list?

[2020-11-05 11:52] vincent-karuri opened #610 "Bug on edit of repeating group edit text"
An additional note, if you change the number of contacts in the box and update, you can not proceed. A message telling you that "error(s)" exist shows up at the bottom and the user needs to exit out of the form and refill everything out.

[2020-11-05 11:53] vincent-karuri commented on #605
Moving this to a separate issue https://github.com/onaio/rdt-standard/issues/610

[2020-11-05 13:10] shivenbhatt1 commented on #597
I agree to

I agree to having other as part of the drop-down, and the decision is yes to replacing the radio group with a drop-down.

[2020-11-05 14:05] shivenbhatt1 commented on #336
@vincent-karuri We can drop the details page when batch scanning.

[2020-11-05 15:18] vincent-karuri commented on #336
cool, CC @syedowaisali90.

[2020-11-05 22:55] shivenbhatt1 commented on #582
@vincent-karuri this is working now

[2020-11-05 22:55] #582 closed

[2020-11-05 23:01] shivenbhatt1 opened #611 "Joysbio missing from the rdt device list"
After reviewing the list of RDTs available and the device definitions in the FHIR device list, I noticed that device Joysbio in row 16 is missing.  Could you update and add this in?

[2020-11-06 07:20] #597 closed

[2020-11-06 07:20] #604 closed

[2020-11-06 07:20] #605 closed

[2020-11-06 07:20] #608 closed

[2020-11-07 05:33] ellyasafaa opened #612 "Translation Issue on Bahasa Apps V1.7 (Built on Nov 7) - Resources Urgently Needed"
I have changed the translation manually for the last update about the government ID type. Also, I made some changes based on Tami's suggestion. Please find the resource below for your reference.

[patient-registration-form.properties_in_v3.txt](https://github.com/onaio/rdt-standard/files/5504335/patient-registration-form.properties_in_v3.txt)
[sample-collection-form.properties_in_v3.txt](https://g

[2020-11-07 05:47] ellyasafaa opened #613 "Unable to click the page - Bahasa Apps V1.7 (Built on Nov 7)"
My apps running on Samsung A50s can't be clicked both for scanning and affixing the label manually.

This page seems to work at first, but the second time I tried it, it doesn't work.
![WhatsApp Image 2020-11-07 at 10 47 40 AM](https://user-images.githubusercontent.com/73918009/98433122-b3789580-20f6-11eb-9449-80ad27cce5fc.jpeg)

For these pages, they don't work since the beginning.
![WhatsApp Ima

[2020-11-07 05:52] ellyasafaa opened #614 "Crash after scanning - Bahasa Apps V1.7 (Built on Nov 7)"
My apps running on Samsung A50s keeps stopping after successfully scanned it.

Hamburger menu > Delivery Preparation > Scan barcode sample > Status: Ok and will be like this. When I tried the same on the patient form, the crash doesn't happen.

![WhatsApp Image 2020-11-07 at 10 56 57 AM (1)](https://user-images.githubusercontent.com/73918009/98433247-e5d6c280-20f7-11eb-8955-9fb0b47129ee.jpeg)

[2020-11-09 12:56] vincent-karuri commented on #460
Duplicate of https://github.com/onaio/rdt-standard/issues/511

[2020-11-09 12:56] #460 closed

[2020-11-09 13:01] shivenbhatt1 commented on #613
@vincent-karuri I was able to replicate this on my google pixel

[2020-11-09 13:34] vincent-karuri opened #615 "Display selected RDT details for user confirmation"
We should be able to display RDT details to the user to allow them confirm they've made the correct RDT selection before proceeding.

The details to display include:

1. Image of RDT
1. Manufacturer of RDT
1. Name of RDT

All these can be extracted from the [Device Definition](https://github.com/onaio/Covid19/blob/master/scripts/device-definition/device_definitions-rdt-og-2020-10-07.json) by const

[2020-11-09 13:35] vincent-karuri commented on #511
3 will be tracked in this issue https://github.com/onaio/rdt-standard/issues/615

[2020-11-09 14:45] vincent-karuri commented on #613
I'm not able to replicate this. Are you clicking the arrow or the label?

[2020-11-09 14:47] vincent-karuri commented on #614
By patient form do you mean RDT form? Are you using the same barcode for both?

Seems like it crashes for sample barcodes only.

[2020-11-09 14:54] shivenbhatt1 commented on #613
@vincent-karuri Clicking anywhere, either the arrow or the label doesn't work. Tried logging off and back on, closing app, still didn't work.

[2020-11-09 14:59] vincent-karuri commented on #613
Could you share the steps for reproducing?

And is it the case that the last 2 screens don't work at all?

[2020-11-09 15:06] vincent-karuri commented on #611
I've added this but the configs don't seem to work. I can't auto-capture the device image.

[2020-11-09 15:07] shivenbhatt1 commented on #613
@vincent-karuri Fresh install of RDT App->Covid Patient 2->RDT->Location->Choose RDT Type (Stuck here). I am unable to select manual or barcode.

Interestingly it doesn't happen on the J7 that I also tested it with. But it happens on the Pixel.

I cleared the stored data in the app after and retried it after logging in. Same issue occurs.

[2020-11-09 15:11] vincent-karuri commented on #613
What are the specs for the pixel? model, android version etc.

[2020-11-09 15:21] shivenbhatt1 commented on #613
Pixel 3 XL, Android Version 10

[2020-11-09 15:40] vincent-karuri commented on #613
@ellyasafaa what Android version are you on?

@shivenbhatt1 what Android version is the J7 on?

[2020-11-09 15:44] shivenbhatt1 commented on #613
@vincent-karuri Samsung J727A, Android Version 8.1.0

[2020-11-09 15:46] shivenbhatt1 commented on #612
@ellyasafaa Can you finish the translations on transifex too, we have some pending translations there.

[2020-11-09 15:48] shivenbhatt1 commented on #611
Concluded that we will need a physical device to take measurements. The image that SID provided may not be adequate.

[2020-11-09 15:48] #611 closed

[2020-11-09 15:49] shivenbhatt1 commented on #581
This is fixed.

[2020-11-09 15:49] #581 closed

[2020-11-09 15:49] #607 closed

[2020-11-09 16:09] vincent-karuri commented on #613
@shivenbhatt1 I've tried replicating this on an emulator with the same specs and still can't reproduce. Note that native forms does not currently fully support Android 10 and there's some ongoing work to fix [this](https://github.com/OpenSRP/opensrp-client-native-form/pull/491).

This will need more investigation if it's confirmed to affect versions other than 10.

My Samsung A8 is Android 9 and w

[2020-11-09 16:11] shivenbhatt1 commented on #613
@vincent-karuri that is good to know. Let me test out another phone that is pre android 10, then update it to see if the problem occurs.

[2020-11-09 16:45] vincent-karuri commented on #610
This seems to be related to validation not being cleared for deleted repeating group views.

[2020-11-10 14:21] zeeshan-vd commented on #612
@shivenbhatt1 @vincent-karuri @ellyasafaa Is there some manual tool to translate the string resources besides JMAG? I need to put translations of "Login" and "Show Password" etc into in/strings.xml.

[2020-11-10 14:48] shivenbhatt1 commented on #612
@zeeshan-vd

Login: Gabung
Show Password: Tampilkan Kata Sandi

[2020-11-10 16:37] ellyasafaa commented on #612
I need to correct the login part
Login: Masuk

[2020-11-11 12:22] zeeshan-vd commented on #612
@ellyasafaa can you please provide translations of the following text?

1. Patient
2.  Contact's name
3.  Contact's phone number
4.  Value must be numeric
5.  Phone number cannot be more than 13 digits
6.  Phone number cannot be less than 8 digits
7.  Relationship with contact
8.  Date of first contact
9.  Date of last contact
10.  Location of contact
12.  Expired VTM! Please use another

[2020-11-11 13:04] ellyasafaa commented on #612
@zeeshan-vd sure, here they are:
1. Patient: Pasien
2. Contact's name: Nama Kontak
3. Contact's phone number: Nomor Telepon Kontak
4. Value must be numeric: Nilai harus berupa angka
5. Phone number cannot be more than 13 digits: Nomor telepon tidak dapat lebih dari 13 digit
6. Phone number cannot be less than 8 digits: Nomor telepon tidak dapat kurang dari 8 digit
7. Relationship with contact: Hub

[2020-11-12 11:31] ellyasafaa commented on #614
Sorry, I clicked the wrong button.
I have tried it on OPPO A5s Android version 8.1.0 and it has the same issue as what I got on Samsung A50s Android versing 10

[2020-11-12 11:40] ellyasafaa commented on #613
@shivenbhatt1 @vincent-karuri I have tried it on another phone (OPPO A5s Android version 8.1.0) and the same issue occurs as on the Samsung A50s Android version 10

[2020-11-12 16:14] zeeshan-vd commented on #610
@vincent-karuri this issue needs to be fixed in https://github.com/OpenSRP/opensrp-client-native-form. I'll create the PR there.

[2020-11-13 07:25] Mstjamush opened #622 "Crash - happens immediately after a successful RDT scan"
Crash - happens immediately after a successful RDT scan

Crash Logs
[code]

[2020-11-13 07:26] Mstjamush opened #623 "Translation issues"
Translation issues
	a) The gender is captured in English on the Clients register page(Home page)
	b) error message when submiting forms and some fields are not filled in is in English (e.g Please correct the error(s) in the form to proceed)
	c) The form that extends for Contact details is in English

[2020-11-13 13:38] shivenbhatt1 commented on #623
@zeeshan-vd These are all taken care of now, right?

[2020-11-13 13:49] zeeshan-vd commented on #623
@shivenbhatt1 (a) and (c) are fixed as part of Issue # 612. Translation of "Please correct the error(s) in the form to proceed" needs to be fixed.

@Mstjamush please provide the translation of this text.

[2020-11-13 14:07] shivenbhatt1 commented on #623
@zeeshan-vd any translations for bahasa can be directed to @ellyasafaa

[2020-11-13 14:32] Mstjamush commented on #622
Please follow the following steps @vincent-karuri @zeeshan-vd

- Log in to the App
- Pick a client
- Pick RDT
- Record Location and continue
- Continue on the ID page
- Pick Facility and continue
- Scan Barcode
- Successfully scan a valid sample barcode
- Click Continue on the barcode details page

[2020-11-16 06:55] vincent-karuri commented on #613
@ellyasafaa have you tried clicking on the text itself and probably giving a few seconds to see if there's some kind of delay?

[2020-11-16 07:21] vincent-karuri commented on #614
@ellyasafaa I believe this was addressed on the latest version which is on the playstore. Just in case, could you share a high quality image of the barcode you're scanning?

Could you also confirm if you are using different barcodes for sample collection and RDT collection forms?

[2020-11-16 07:29] vincent-karuri commented on #622
May be related to https://github.com/onaio/rdt-standard/issues/614#issuecomment-727788302.

@Mstjamush could you post an image of the barcode you're using?

[2020-11-16 08:01] zeeshan-vd commented on #623
@ellyasafaa Please share the translations of following:

1. Found %d error(s) in the form. Please correct them to submit
2. Please correct the error(s) in the form to proceed

[2020-11-16 14:36] shivenbhatt1 commented on #613
@vincent-karuri I tried this out as well since same thing is happening to me. Waiting 1 minute after selecting the arrow and the text. No response. There isn't a response for manual selection of RDTs either.

[2020-11-16 15:01] vincent-karuri commented on #613
@shivenbhatt1 is this for the Android 10 phone? I was looking to confirm what is being reported for the `OPPO A5s Android version 8.1.0` phone.

[2020-11-16 15:08] shivenbhatt1 commented on #613
@vincent-karuri yes, I was running an android 10 on a Nokia 6.1

[2020-11-16 15:27] shivenbhatt1 commented on #614
@ellyasafaa All functionality works when tested on Samsung J727A running Android version 8.1.0 using App version v1.7.0 built on 16 Nov 2020 and Onescan version 0.9.54 (most recent release)

[2020-11-16 17:22] #606 closed

[2020-11-17 13:07] vincent-karuri commented on #590
I'm thinking we can encode `Questionnaire`s in the [property](https://github.com/onaio/Covid19/blob/87cec883409c16b5ce3ac7b1ab9c0df4cb2a06e6/scripts/device-definition/device_definitions-rdt-og-2020-09-18.json#L166) or [capability](https://github.com/onaio/Covid19/blob/87cec883409c16b5ce3ac7b1ab9c0df4cb2a06e6/scripts/device-definition/device_definitions-rdt-og-2020-09-18.json#L32) fields of the `De

[2020-11-17 13:12] pld commented on #590
Are the questionnaires tied to specific devices?

[2020-11-17 13:14] vincent-karuri commented on #590
Yes, they correspond to job aids. And each device might have a different job aid.

[2020-11-17 13:15] vincent-karuri commented on #590
But I think we were looking to provide some generic job aids at some point. @shivenbhatt1 could you confirm this?

[2020-11-17 15:43] shivenbhatt1 commented on #590
@vincent-karuri @pld All the steps are listed in the [FHIR device definitions list](https://docs.google.com/spreadsheets/d/1P9yCzXHoy9Dz0_hp43GX_qpOc6Ayvz_D2TCReNVN_n4/edit#gid=0) An explanation is given in #588 and images are being compiled in #358. All the images for antibody-based rdts are already in. We need some nasal swab images.

[2020-11-17 15:59] vincent-karuri commented on #590
So we want all RDTs of a particular type e.g. blood, swab etc. sharing the
same job aids, right?

On Tue, 17 Nov 2020, 18:44 shivenbhatt1, <notifications@github.com> wrote:

[2020-11-17 16:22] shivenbhatt1 commented on #590
@vincent-karuri That is correct. I'm going through some of the nuances of the swabs and verifying general stock images right now. But blood tests seem pretty straight forward.

[2020-11-17 23:55] ellyasafaa commented on #623
@zeeshan-vd sorry for the late response.
1. Found %d error(s) in the form. Please correct them to submit : Menemukan kesalahan %d dalam form. Mohon perbaiki sebelum dikirim
2. Please correct the error(s) in the form to proceed: Mohon perbaiki kesalahan dalam form untuk melanjutkan

[2020-11-18 00:00] ellyasafaa commented on #613
@vincent-karuri Yes, I have tried to click on the text itself and there was no response

[2020-11-18 00:07] ellyasafaa commented on #614
@vincent-karuri This is the barcodes that I use that I got from Shiven. Since it was sent a long time ago, I don't know whether it is outdated or not.

For the RDT
![WhatsApp Image 2020-11-18 at 7 04 18 AM](https://user-images.githubusercontent.com/73918009/99465205-702aec00-296c-11eb-8e32-e1945d334e3f.jpeg)

For the sample
![WhatsApp Image 2020-11-18 at 7 04 18 AM (1)](https://user-images.githubu

[2020-11-18 00:17] ellyasafaa commented on #614
@vincent-karuri I have just tried the App version v1.7.0 built on 18 Nov 2020 and Onescan version 0.9.54 (most recent release) on Samsung A50s Android version 10, for the sample barcode, still crash. For the RDT, it ran well

[2020-11-18 00:24] shivenbhatt1 commented on #614
@ellyasafaa are you saying that the RDT barcode was captured but not the sample barcode? Or that even the RDT barcode didn't capture?

[2020-11-18 00:40] ellyasafaa commented on #614
@shivenbhatt1 The RDT barcode was captured and there was no crash afterward. For the sample barcode, at first, it was captured and had crash afterward. The second time I tried, I was unable to click anything on the page.

[2020-11-18 07:31] vincent-karuri commented on #590
Ok, @pld do you know if there's a way to cater for this fact - multiple devices sharing the same aids?

I guess we could always allow duplicate aids (which would cleanly integrate completely different flows for each RDT in case we needed them) but may not be ideal in this case where we want only 2 sets of job aids shared among all RDTs.

[2020-11-18 07:35] vincent-karuri commented on #613
@ellyasafaa for which phone?

[2020-11-18 08:02] vincent-karuri commented on #614
@ellyasafaa could you please perform tests on a phone that's not on Android 10. Also, could you uninstall the current version before manually installing any new apk?

[2020-11-18 08:02] vincent-karuri commented on #614
The sample barcode worked fine on my end.

[2020-11-18 09:40] ellyasafaa commented on #613
@vincent-karuri Both OPPO A5s Android version 8.1.0 and Samsung A50s Android version 10. I'll try on the other phone who has a lower Android version and tell you the result asap

[2020-11-18 09:45] ellyasafaa commented on #614
@vincent-karuri Yes, sure. I have tried on OPPO A5s Android version 8.1.0 and it crashed after scanning the sample barcode in the Delivery Preparation (Persiapan Pengiriman). Will check on another phone as well and tell you the result asap

[2020-11-18 11:04] ellyasafaa commented on #614
@vincent-karuri I have tried on Redmi S2 Android version 8.1.0, there was a crash for the sample barcode
![WhatsApp Image 2020-11-18 at 5 43 42 PM](https://user-images.githubusercontent.com/73918009/99522439-3ab3ec00-29c8-11eb-8751-2bfad21c5695.jpeg)
![WhatsApp Image 2020-11-18 at 5 36 47 PM](https://user-images.githubusercontent.com/73918009/99522466-456e8100-29c8-11eb-9667-b77a0475b3b0.jpeg)

[2020-11-18 11:08] ellyasafaa commented on #613
@vincent-karuri @shivenbhatt1  I've tried on Redmi S2 Android Version 8.1.0 and found no issue. But, for another OPPO A5s Android version 8.1.0 still found the issue in the Delivery Preparation part. I have sent the video to Shiven if you would like to check on that

[2020-11-18 12:11] pld commented on #590
Yea agree that's not clean, also logically storing these with the DeviceDefinition sounds inappropriate, b/c these aren't actually part of the definition of the device, it's seperate information.

We can look at the FHIR resources and see what it makes sense to connect in here, I could start taking guesses, but probably makes sense to have a conversation with @githengi and @craigappl.

[2020-11-18 12:14] #623 closed

[2020-11-18 13:33] vincent-karuri commented on #590
Ok, more formally or just on this issue?

[2020-11-18 13:37] pld commented on #590
On this topic:

1) is there an appropriate FHIR resource for this job aids
2) what are the appropriate hooks in the DeviceDefinition to connect this

I think you should do a first pass and propose answers (or a set of possible answers) to the above, then we can discuss with them

[2020-11-19 08:31] vincent-karuri opened #626 "Migrate CI to Github Actions"

[2020-11-19 13:04] shivenbhatt1 opened #627 "Log of Crashes"
1. Launching barcode scanner on Oppo phones (A83S) running Android version 8.1.1
2. Closeout of the RDTScan on Nokia 8, has to redo the RDT recording and then it works the subsequent time
3. LG Issues have been cleared

[2020-11-19 16:01] #612 closed

[2020-11-20 08:30] #283 closed

[2020-11-20 11:10] vincent-karuri opened #628 "Fix next and previous labels"
![Screenshot_20201120-140811_RDT Open Reader](https://user-images.githubusercontent.com/33488286/99793615-fb0d1180-2b39-11eb-91b2-3241a84d6380.jpg)

Next and previous labels look distorted when compared with the English version.

[2020-11-20 13:32] vincent-karuri opened #629 "Details missing in sample collection section of patient history"
Unique id, patient name, patient dob are not displayed as part of the patient history

![Screenshot_20201120-163100_RDT Open Reader](https://user-images.githubusercontent.com/33488286/99805589-d3c03f80-2b4d-11eb-8e8b-1249d6209fc6.jpg)

[2020-11-24 07:29] vincent-karuri opened #631 "Patient history not correctly displaying number of covid patients"
![Screenshot_20201124-102354_RDT Open Reader](https://user-images.githubusercontent.com/33488286/100061634-68bd8400-2e3f-11eb-8a97-feccb0396aa4.jpg)

Some fields display an ugly JSON dump instead of a number as a response. This happens for some repeating group fields.

![Screenshot_20201124-102711_RDT Open Reader](https://user-images.githubusercontent.com/33488286/100061895-c9e55780-2e3f-11eb-83ee

[2020-11-24 10:19] vincent-karuri commented on #589
Done

[2020-11-24 10:19] #589 closed

[2020-11-24 10:20] vincent-karuri commented on #585
This is fixed.

[2020-11-24 10:20] #585 closed

[2020-11-24 10:21] vincent-karuri commented on #576
Done.

[2020-11-24 10:21] #576 closed

[2020-11-24 10:21] vincent-karuri commented on #477
Fixed.

[2020-11-24 10:21] #477 closed

[2020-11-24 10:22] vincent-karuri commented on #527
Fixed.

[2020-11-24 10:22] #527 closed

[2020-11-24 12:17] #610 closed

[2020-11-24 12:35] vincent-karuri opened #632 "OneScan not launching on OPPO A5s Android version 8.1.0"
The OneScan scanner doesn't launch and instead, this screen is displayed:

![Screenshot_2020-11-24-15-32-09-76](https://user-images.githubusercontent.com/33488286/100094778-953ac580-2e6a-11eb-9fb4-d36a7d738b1c.jpg)

I've seen this behaviour before when working on an emulator (expected since it has no camera hardware). Could this be an issue with OneScan compatibility with this particular model? Ar

[2020-11-24 12:47] vincent-karuri commented on #632
Error log:

`2020-11-24 15:47:14.575 17002-17002/io.ona.diagnostics.rdt.configurable.id E/OneScanScanner: Intent is not Callable!`

[2020-11-24 12:54] vincent-karuri commented on #632
This was a case of OneScan apk not being installed on the device. After installing the app, all works smoothly.

CC @shivenbhatt1

[2020-11-24 13:02] vincent-karuri commented on #613
@shivenbhatt1 @ellyasafaa I have tried this on `OPPO A5s Android version 8.1.0 ` and `v1.7.0-CONFIGURABLE-RDT-SID-DEBUG` and everything works as expected. I've found no issue with clicking.

Could you verify that OneScan is installed on the phone?

Also, please make sure you have the most up-to-date APK and make sure to uninstall the existing app before installing the most up-to-date APK.

[2020-11-24 13:04] vincent-karuri commented on #614
@shivenbhatt1 @ellyasafaa I have tried this on `OPPO A5s Android version 8.1.0 ` and `v1.7.0-CONFIGURABLE-RDT-SID-DEBUG` and everything works as expected.

Please make sure you have the most up-to-date APK and make sure to uninstall the existing app before installing the most up-to-date APK.

[2020-11-24 13:33] vincent-karuri commented on #613
@shivenbhatt1 @ellyasafaa I was finally able to reproduce the labels being unclickable.

It only happens on an outdated version of the app. The app has to crash first after scanning a sample barcode (which is already fixed). After crashing, the app relaunches itself into the patient profile page. From here if you open the shipment form and try to click on the labels, they don't work.

This should

[2020-11-25 11:46] vincent-karuri commented on #590
With trying to keep the job aids separate from (and still be able to share them across) DeviceDefinitions, sounds like we might need a way to reference a job aid definition.

We could possibly use [logical references](http://hl7.org/fhir/references.html#logical) or [literal references](http://hl7.org/fhir/references.html#logical) for this. We can add job aid resources as part of the DeviceDefiniti

[2020-11-27 06:23] #336 closed

[2020-11-27 06:27] vincent-karuri commented on #622
@Mstjamush can we close this?

[2020-11-27 06:28] vincent-karuri commented on #459
@shivenbhatt1 I'll go ahead and create a temporary page for this.

[2020-11-27 06:30] vincent-karuri commented on #333
@shivenbhatt1 is this issue addressing the same thing as https://github.com/onaio/rdt-standard/issues/615?

[2020-11-27 07:15] vincent-karuri opened #636 "Create a custom image view widget to display base64 encoded images"
Fulfills one of the deliverables in https://github.com/onaio/rdt-standard/issues/615.

[2020-11-27 09:38] vincent-karuri opened #638 "Modify the OneScan barcode widget to query a Device Definition for the required details"
Fulfills one of the deliverables in #615.

[2020-11-27 14:21] vincent-karuri commented on #615
@shivenbhatt1 as a note, the images are horizontally placed so they look a bit weird on the confirmation page.

[2020-11-27 14:35] vincent-karuri commented on #615
I can rotate it for now but it's an expensive operation so we'd rather have them upright if it's possible.

[2020-11-30 15:32] pld commented on #590
Questionnaire makes sense, let's keep it as decoupled as we can, we'll probably want to rewrite this once we make progress w/the android fhir sdk and there's another use case

[2020-12-01 08:01] #636 closed

[2020-12-01 08:28] vincent-karuri commented on #590
Ok, I think the easiest way to keep Questionnaires decoupled for now is to have them as separate entries in the Bundle. Moving them outside the Bundle may start to complicate things a bit.

[2020-12-01 11:25] pld commented on #590
Agreed that sounds good

[2020-12-01 12:08] vincent-karuri opened #640 "App crashes"
[code]

on:

Brand: Xiaomi
Model: Redmi 5 Plu
Operating System: Version: 7.1.2

[2020-12-01 12:10] vincent-karuri opened #641 "App crash"
[code]

Brand: Xiaomi
Model: Redmi 5 Plus
Operating System: Version: 7.1.2

[2020-12-01 12:13] vincent-karuri commented on #641
Seems related to https://stackoverflow.com/a/57144294/9782187. This particular class was added in Android 8.

[2020-12-01 15:50] vincent-karuri commented on #641
Requires configuring [desugaring](https://developer.android.com/studio/write/java8-support) to support Android 8 features on < Android 8 phones.

[2020-12-02 03:29] ellyasafaa opened #642 "Translation Issues on Bahasa App"
The translation has been inputted well. However, I still find some details in English. Also, there was a change that I made in the last txt files that I sent on Github (sample-collection-form.properties_in_v3, attached), but it does not seem to change in the Apk. I also have addressed these same issues on Github, but they have not changed. Please see the details in PDF files below.

[Translation i

[2020-12-02 03:35] ellyasafaa opened #643 "Information Display Issue on Bahasa App"
The information was not displayed as it is supposed to be. I used Samsung A50S Android version 10 and checked for several times (On 25, 26, 27, 30 Nov 2020, and 1 Dec 2020), but there was no change. It also appeared on another phone like Samsung S8, Nokia 8. Please see the detail in PDF File below

[Information Display Issue_SID.pdf](https://github.com/onaio/rdt-standard/files/5626809/Information.

[2020-12-02 05:35] vincent-karuri commented on #643
Closing this as a duplicate of https://github.com/onaio/rdt-standard/issues/631 and https://github.com/onaio/rdt-standard/issues/629.

[2020-12-02 05:35] #643 closed

[2020-12-02 05:42] vincent-karuri opened #645 "Issue with questions diplayed for Number of COVID-19 Patients"
`The details of the patients in the Travel and contact exposure are displayed here, under the question about contact history with animal, but it is supposed to be under the Number of COVID-19 Patients section if we fill the number. I once tried to fill the information and deleted it, but the information was suddenly displayed as in the picture here.`

@ellyasafaa https://github.com/onaio/rdt-stand

[2020-12-02 05:51] vincent-karuri commented on #614
This is fixed.

[2020-12-02 05:51] #614 closed

[2020-12-02 05:51] vincent-karuri commented on #613
This is fixed.

[2020-12-02 05:51] #613 closed

[2020-12-02 05:52] vincent-karuri commented on #632
This fixed the problem.

[2020-12-02 05:52] #632 closed

[2020-12-02 05:53] vincent-karuri commented on #627
Firebase was enabled to the specific debug apk to triage this.

[2020-12-02 05:53] #627 closed

[2020-12-02 06:03] #641 closed

[2020-12-02 10:06] vincent-karuri commented on #640
I haven't found this to be an issue on `Pixel 3XL` on Android 7.1.1 so it's unlikely to be an Android platform issue. Also, I don't believe this was the main source of crashes (happened once as opposed to https://github.com/onaio/rdt-standard/issues/641 which was a persistent issue).

This can be deprioritized unless it becomes a persistent issue.

[2020-12-02 10:06] #640 closed

[2020-12-02 12:18] ellyasafaa commented on #645
@vincent-karuri I explain in the picture below. Should you have any questions or need further explanation, please let me know.

![Display of Info Issue_SID](https://user-images.githubusercontent.com/73918009/100871546-0b76a200-34d3-11eb-8c97-f2fb92017ed7.png)

[2020-12-02 12:33] vincent-karuri opened #646 "Create a custom spinner widget that can query a Device Definition for the required details based on the selection"
Fulfills one of the deliverables in #615.

[2020-12-04 06:44] #629 closed

[2020-12-07 08:00] #631 closed

[2020-12-07 09:23] vincent-karuri opened #649 "Add CovidPatientHistoryActivityInteractor unit tests"
Realized this class has no tests after a bug was reported. We need to add tests to have better confidence in it's correctness.

[2020-12-07 14:19] #646 closed

[2020-12-07 14:19] #638 closed

[2020-12-07 15:29] vincent-karuri commented on #642
@ellyasafaa Any new strings that need translations should appear on Transifex now. Please provide the translations when you get a chance.

[2020-12-07 15:30] vincent-karuri commented on #622
Closing as fixed.

[2020-12-07 15:30] #622 closed

[2020-12-07 15:31] vincent-karuri opened #650 "Get upright RDT images for display on the form"
@shivenbhatt1 as a note, the images are horizontally placed so they look a bit weird on the confirmation page.

_Originally posted by @vincent-karuri in https://github.com/onaio/rdt-standard/issues/615#issuecomment-734857926_

In reference to above, we'll need the RDT images in an upright position for easier display on the forms.

[2020-12-07 15:34] vincent-karuri commented on #615
Implementation of this is complete as part of multiple issues referenced here.

[2020-12-07 15:34] #615 closed

[2020-12-08 09:58] vincent-karuri commented on #645
@ellyasafaa I'm not able to reproduce this. It doesn't look like any repeating groups were generated - the grey check mark would turn green if this was the case.

Any reason for deleting the number after entering contact details? It doesn't seem like a natural end-user flow.

Either way, you could share a video so I can understand the interaction here if this is still an issue.

[2020-12-08 13:29] Mstjamush opened #653 "App crash"
**Steps**

1. Pick a client
2. select "Sample Collection"
3. Fill in the details and continue to Respiratory Sample
4. Select "Scan respiratory specimen barcode"
5. Scan barcode and Continue
6. App crashes

[code]

[2020-12-08 13:31] Mstjamush opened #654 "On sample shipment details, how many barcodes should one scan? (UX issue)"
On sample shipment details, how many barcodes should one scan?
There is  a loop there that is caused by A UX design issue. @shivenbhatt1 please advice

[2020-12-08 14:35] vincent-karuri commented on #654
This is as a result for the not-so-intuitive UI/UX where the user has to back-press to exit batch capture when done. @shivenbhatt1 we'll need to rethink this as discussed earlier.

[2020-12-09 10:37] Mstjamush opened #655 "Translation issues"
Translation issues
	a) Error message on Phone field when creating a Client is in English (Phone number cannot be less 0 /8-13 than 8 digits
	b) Gender on Client profile is in English
	c) RDT Status status after scanning a RDT status successfully (Status: OK) and the Continue button

![Screenshot_20201208-161645_RDT Open Reader](https://user-images.githubusercontent.com/29072646/101618817-871ca580-

[2020-12-10 08:09] syedowaisali90 commented on #655
@vincent-karuri I think the first and second point in this issue is already catered in #642

[2020-12-10 12:46] vincent-karuri commented on #590
- [ ] Modify python script to include Questionnaire data
- [ ] Create a helper util on the Android client to process Questionnaires and dynamically generate forms from them
- [ ] Modify the event-saving process to support launching forms based on responses in a submitted form

[2020-12-10 19:36] #653 closed

[2020-12-11 07:11] vincent-karuri commented on #655
ok, please add what's missing.

[2020-12-11 10:47] vincent-karuri opened #658 "Increase test coverage which fell after coveralls fix"
There is an issue with how coveralls reports coverage atm. It misses files which are specifically declared in the CovidIndonesia flavor. This pr https://github.com/onaio/rdt-standard/pull/656 fixes that.

As a result, true coverage is now reported which is significantly lower (by 10%). We need to fix that as part of the pr by adding tests to match the currently reported coverage.

Particular atten

[2020-12-11 11:47] #655 closed

[2021-01-05 11:30] vincent-karuri commented on #333
Closing as redundant

[2021-01-05 11:30] #333 closed

[2021-01-06 10:32] ellyasafaa commented on #642
Hi Vincent and team @vincent-karuri

I'd like to confirm whether the translation source is using the transifex or not. I still have 2 issues that don't match with the thing I have translated there.

![Translate](https://user-images.githubusercontent.com/73918009/103751214-85ea9280-503a-11eb-8314-f934a1797e49.jpeg)
It translated Saved! = Diselamatkan. However, it was translated by Shiven a long tim

[2021-01-06 15:35] vincent-karuri commented on #590
Implementation plan to support dynamic form generation and auto-launch of chained forms:

- Generate a valid Questionnaire beforehand for testing purposes
- Pull the DeviceDefinition resource ID from obs (this corresponds to the device the user selected)
- From the DeviceDefinition, retrieve the Questionnaire tied to it from the FHIR bundle
- Dynamically generate a Native Form from the Questionnai

[2021-01-06 22:57] ellyasafaa opened #671 "Sync issues: Sync process took longer time and crashed"
When the first time we installed the APK, it will sync and take a longer time, about 1 - 2 mins. Usually more than 1 mins. While this process happened, users will get confused and start clicking anything, trying to find out what's going on. And during the process (if the sync process has not been finished), if we clicked another button, it will crash. Have sent videos to Wasim.

1st-time install >

[2021-01-06 22:57] ellyasafaa commented on #671
@vincent-karuri

[2021-01-07 09:14] vincent-karuri commented on #642
@ellyasafaa text should match transifex translations after they are merged. Please confirm whether this is still an issue on the latest version of the app.

[2021-01-07 12:55] #626 closed

[2021-01-08 08:22] ellyasafaa opened #703 "New Client Record: Change and additional information needed"
Hi Vincent,
We have adjusted the information needed with the Indonesian government record for several forms. I separated the issues based on the form. Please find the images below for your reference
![New Client Record](https://user-images.githubusercontent.com/73918009/103991391-28368180-51c5-11eb-8a8f-e3bf95127235.png)

In the new client record, we also need additional fields related to the info

[2021-01-08 08:22] ellyasafaa commented on #703
@vincent-karuri

[2021-01-08 08:24] ellyasafaa opened #704 "Pre-existing condition Form: Change and additional information needed"
![Pre-existing condition form](https://user-images.githubusercontent.com/73918009/103991622-85cace00-51c5-11eb-9663-76ee010c8426.png)

[2021-01-08 08:24] ellyasafaa commented on #704
@vincent-karuri

[2021-01-08 08:25] ellyasafaa opened #705 "Sign and Symptom Form: Change and Additional Information Needed"
![sign and symptom field](https://user-images.githubusercontent.com/73918009/103991801-c4f91f00-51c5-11eb-8ad6-b96a16c7e768.png)

[2021-01-08 08:25] ellyasafaa commented on #705
@vincent-karuri

[2021-01-08 08:27] ellyasafaa opened #706 "Travel and Contact Exposure: Change and Additional Information Needed"
![Travel and contact exposure](https://user-images.githubusercontent.com/73918009/103991933-fbcf3500-51c5-11eb-99b3-4ca7b25f0c27.png)
![Travel and contact exposure 2](https://user-images.githubusercontent.com/73918009/103991947-02f64300-51c6-11eb-8252-060dfc1a72f7.png)
![Travel and contact exposure 3](https://user-images.githubusercontent.com/73918009/103991965-08538d80-51c6-11eb-9a6f-a3ba22df702c

[2021-01-08 08:28] ellyasafaa commented on #706
@vincent-karuri

[2021-01-08 08:29] ellyasafaa opened #707 "RDT Form: Change needed"
![RDT Form](https://user-images.githubusercontent.com/73918009/103992141-42249400-51c6-11eb-912a-465c52766300.png)

[2021-01-08 08:29] ellyasafaa commented on #707
@vincent-karuri

[2021-01-08 08:35] ellyasafaa commented on #642
@vincent-karuri I found out that there are some translations that are different from what I translated before and that was Shiven's translation. I heard that the Transifex was acting up, so I think it changed. I have reviewed it all again, could you re-merge the translation again? Also, in the new version, the 'Saved!' part that previously translated incorrectly is in English, and the Visit part (

[2021-01-08 13:28] vincent-karuri commented on #707
We should add an extra field that asks for the type of test in that case and add the extra choices for antibody tests.

[2021-01-08 13:31] vincent-karuri commented on #705
@ellyasafaa are all the new questions dependent on the answer being `yes` for the preceding question i.e. should they only appear if the answer is `yes`?

[2021-01-08 13:36] vincent-karuri commented on #704
@ellyasafaa does changing the step order so that the patient case category comes at the end of the form achieve the same thing as having a separate `Patient Case Category` form? i.e. do we really need a separate form for that?

[2021-01-08 13:51] vincent-karuri commented on #703
@ellyasafaa what exactly goes into the address? Is the suggestion here to have an address field and still have a separate city and province field?

[2021-01-08 13:54] vincent-karuri commented on #703
@ellyasafaa it's not clear what the follow-up question is asking. Could you add some more information and possibly rephrase it?

[2021-01-08 13:56] vincent-karuri commented on #703
@ellyasafaa just wondering, are the questions about previous tests best asked during registration or when conducting a test?

[2021-01-08 15:32] ellyasafaa opened #708 "Unable to click RDT page"
There is the same problem as previously happened a long time ago that I am unable to click the RDT page before scanning (Which RDT? Scan barcode or Enter RDT Manually page) except the cross button on the upper left. I have tried to close the form and retried the same step to scan the RDT three times, but it still couldn't be clicked. I tried to click both the arrow and the text, but there is nothi

[2021-01-08 15:32] ellyasafaa commented on #708
@vincent-karuri

[2021-01-08 16:05] ellyasafaa commented on #703
@vincent-karuri Yes, to make us easier to categorize the address based on the city and province later on when we fetch the data. I think we need to make it a drop-down list for the city and the province in Indonesia for that.

@vincent-karuri do you mean the last question? The follow-up to the latest COVID-19 test result?
So, if the result of the COVID-19 test was reactive or positive (depending o

[2021-01-08 16:16] ellyasafaa commented on #704
Well, actually they are the same. However, the last form would be about travel and contact exposure, and there will be a lot of information required to fill in the form, so this question will add the form to be longer. But, we can just rearrange the order of the form and put the question at the end of the form. So, the first could be the sign and symptom form > travel and contact exposure form > p

[2021-01-08 16:20] ellyasafaa commented on #705
@vincent-karuri No, Vincent. It doesn't depend on the preceding question answer. So, that was just about the order pf the questions.

[2021-01-08 16:34] ellyasafaa commented on #707
@vincent-karuri So, on the result page, you will add one more field that will ask about the type of the test, correct? We already have the question about the type of RDT if we enter RDT manually, and the type will also be detected after scanning, could we make it automatically? So, if the type chosen when they enter RDT manually or the type detected after scanning is A type, then the result adjust

[2021-01-08 16:40] ellyasafaa opened #709 "Taking a longer time after scanning RDT and the screen is black"
When we are scanning the RDT and it succeeded, there would be a "Status: OK" page. And when I clicked continue, before the RDT type detected, it will take about 15 to 20 seconds to load it and during the process, the screen will be black. It happened on Samsung A50s Android 10 and Redmi plus Android 8.1.0. Could you make the process longer or do something with the black screen? Because if the scre

[2021-01-08 16:40] ellyasafaa commented on #709
@vincent-karuri

[2021-01-10 15:49] mwkhan1983 commented on #704
@ellyasafaa @vincent-karuri In my opinion, patient case category question could be put at the end of 'travel and contact exposure' form.. Adding one question should not make the form longer unless there are several sub questions based on selection of category. New form for just one question does not make sense. Also pre-existing condition should be the first form to be filled as that is only logic

[2021-01-10 19:02] mwkhan1983 commented on #708
https://user-images.githubusercontent.com/69383347/104132582-24ab2200-53a0-11eb-9839-3ae3360ee7cc.mp4

[2021-01-10 19:04] mwkhan1983 commented on #709
https://user-images.githubusercontent.com/69383347/104132650-908d8a80-53a0-11eb-8126-c90daa68316d.mp4

@vincent-karuri @ellyasafaa

[2021-01-11 06:39] vincent-karuri commented on #704
Ok, I think we can move the question to it's own step.

[2021-01-11 06:44] vincent-karuri commented on #708
@ellyasafaa if this happened after a crash, please force close the app and try again.

[2021-01-11 06:47] vincent-karuri commented on #709
@mwkhan1983 this lag is likely to a result of https://github.com/onaio/rdt-standard/issues/650.

Could you help with this?

[2021-01-11 06:49] vincent-karuri commented on #707
@ellyasafaa that information is not currently encoded in the RDT metadata. We can do this in future but for now it will have to be a manual selection.

[2021-01-11 06:51] ellyasafaa commented on #708
But it happened without any crash happened before. So, if this happened again, the step should close the app and retry again. When will this case happen and why is that happening?

[2021-01-11 06:54] vincent-karuri commented on #707
@mwkhan1983 @ellyasafaa  could we get a list of RDT type (antigen/antibody)?

We should populate this information [here](https://docs.google.com/spreadsheets/d/1P9yCzXHoy9Dz0_hp43GX_qpOc6Ayvz_D2TCReNVN_n4/edit#gid=0) to possibly have it automatically added as part of the metadata in future.

[2021-01-11 06:57] vincent-karuri commented on #642
@syedowaisali90 please verify if the translations are ok.

[2021-01-11 06:59] ellyasafaa commented on #707
@vincent-karuri Okay noted. Have requested access to the sheet you sent

[2021-01-11 07:01] vincent-karuri commented on #703
@ellyasafaa please provide a list of provinces/cities.

[2021-01-11 07:12] vincent-karuri commented on #703
@ellyasafaa I think auto-filling that data in the manner suggested is a more involved and complicated feature and would require a bit more time.

It's still not clear to me what is meant by:

[code]

If the patient has taken a test before, it would show in the patient history section. We can also add an option to skip these set of questions as well if the CHW already knows that a previous test has

[2021-01-11 07:15] vincent-karuri commented on #707
@ellyasafaa please work with @mwkhan1983 on this. I think all we'll need from your side is a list of the RDTs with their type, @mwkhan1983 will help with populating the sheet.

[2021-01-11 07:16] vincent-karuri commented on #708
This happens when the app crashes an seemingly "re-launches" itself.

[2021-01-11 07:38] vincent-karuri commented on #708
As noted before, the app does not currently have full support for Android 10 and I would recommend testing on phones with a lower version.

[2021-01-11 09:49] vincent-karuri commented on #671
@ellyasafaa does this crash happen on phones lower than Android 10?

[2021-01-11 13:52] mwkhan1983 commented on #707
@vincent-karuri Please provide sheet access to @ellyasafaa and me. Thanks.

[2021-01-11 23:36] ellyasafaa commented on #703
Please find the file for your reference @vincent-karuri
I also requested in the travel and contact exposure (domestic travel) to be included the name of the province and cities. Please note that you should not make it the same as in this list, because the list of areas in that section is only for the area where local transmission happened.
[Uploading Download Daftar Seluruh Kelurahan, Kecamatan, K

[2021-01-11 23:53] ellyasafaa commented on #703
@vincent-karuri please note on the Excel sheets shared, there are city column and city name column. You should include both as one. The city column indicates the type of the city (In Indonesia, we have 2 types of it: City (Kota) and Regency (Kabupaten)) and the city name indicates the name. So, it is possible to have the same city name, but different city type, e.g. (Kabupaten) Bandung and (Kota)

[2021-01-12 00:54] ellyasafaa commented on #706
In case you need the list of transmission local area in Indonesia
[Transmission Local Area.xlsx](https://github.com/onaio/rdt-standard/files/5799123/Transmission.Local.Area.xlsx)

[2021-01-12 02:37] ellyasafaa commented on #671
@vincent-karuri I have tried it again with the latest version that Wasim sent (rdt-open-reader-covidIndonesia-v1.8.1-RC2-debug.apk) on Redmi plus Android 8 and Redmi Note 8 Android 9 and the crash did not happen. However, the sync process still took more than 1 min. Could we resolve that issue?

[2021-01-12 02:38] ellyasafaa commented on #708
@vincent-karuri noted. I thought the Android 10 issue had been resolved

[2021-01-12 07:08] vincent-karuri commented on #703
@ellyasafaa the suggestions are all valid but increase the scope quite a bit for this issue. I'd prefer we concentrate on the initial request about having the additional questions added.

We'd want to break out any other requests into different issues for further consideration / scoping if they become priorities.

[2021-01-12 07:13] vincent-karuri commented on #703
@ellyasafaa the provinces link does not point to a document

[2021-01-12 11:26] vincent-karuri commented on #706
@ellyasafaa how is this supposed to be used?

[2021-01-12 13:08] vincent-karuri commented on #671
@ellyasafaa there are thousands of records being synced during fresh install so this is to be expected. As  @mwkhan1983 explained, this > 1 min sync time is only expected once during initial login and shouldn't be much of a problem subsequently.

[2021-01-12 13:09] vincent-karuri commented on #708
Someone on the team is working on this but it's not yet resolved.

[2021-01-12 13:33] ellyasafaa commented on #703
I see. It will also take more time to do that. Let's have the questions added first

@vincent-karuri
Sorry about that. This is the document
[Download Daftar Seluruh Kelurahan, Kecamatan, Kabupaten, Province, Kode Pos, di Indonesia-excel.xlsx](https://github.com/onaio/rdt-standard/files/5802308/Download.Daftar.Seluruh.Kelurahan.Kecamatan.Kabupaten.Province.Kode.Pos.di.Indonesia-excel.xlsx)

[2021-01-12 13:36] ellyasafaa commented on #671
@vincent-karuri okay noted. Will put the waiting time estimation in the user guideline.

[2021-01-12 13:39] ellyasafaa commented on #706
@vincent-karuri
I think you will need it for this question requested? So, make it like a dropdown list for the province and the city? This list is different from the one in the new client record
![Travel and contact exposure 2](https://user-images.githubusercontent.com/73918009/104321333-0f580400-5516-11eb-8031-ac11aef6ff89.png)

[2021-01-13 13:01] #642 closed

[2021-01-13 13:19] vincent-karuri commented on #706
@ellyasafaa it's a very long list and I don't think it would be user-friendly as a dropdown. Is there a way to summarise the information there?

[2021-01-13 13:23] vincent-karuri commented on #671
@ellyasafaa is there a reason you need to wait until the entire sync process is complete?

[2021-01-13 13:43] vincent-karuri commented on #703
@ellyasafaa there are over 8000 entries in the document. I don't think we can display all of these. Is there a way to summarise this information?

[2021-01-14 03:19] ellyasafaa commented on #703
@vincent-karuri
I think you will need the complete list and will make it like this
https://user-images.githubusercontent.com/73918009/104539491-3fa3bd80-5650-11eb-8d74-46d0f8cae022.mp4

or like this
https://user-images.githubusercontent.com/73918009/104540361-e2a90700-5651-11eb-8996-8be4a32f4f74.mp4

[2021-01-14 03:31] ellyasafaa commented on #671
@vincent-karuri The entire sync process should be complete to make sure all the data entried are existed in the apps, right? Like, to make sure all patients have been there, in the apps. I experienced a few times on the other apps, the data seems like losing because after we input those, the data was not there. Hopefully, it's not happened on this apps. On Android 8 and 9, while waiting for the sy

[2021-01-14 03:32] ellyasafaa commented on #706
@vincent-karuri same as my answer in the new client record issue. Could you make it like that?

[2021-01-14 07:24] vincent-karuri commented on #671
Ok, can we close this issue as being Android 10 specific?

[2021-01-14 07:32] vincent-karuri commented on #703
There are significantly fewer entries in the demo videos than the sheet that's attached. That's the summary I was requesting.

Otherwise, it's not possible to load 80,000 entries onto the form. If there's duplicated information, could that be removed and shared as an updated document?

[2021-01-14 07:44] ellyasafaa commented on #703
@vincent-karuri In the document I sent you, there is sheet 5 that lists all city and regency that we need. I think you can use that as the reference. For Indonesia All sheet, I put all with the zip code and until village level (Desa), so it will be a lot.

So, the choice of city/regency will depend on the province we chose, right? All cities/regencies won't be appearing if we don't choose specific

[2021-01-14 07:45] ellyasafaa commented on #671
@vincent-karuri Ok, sure

[2021-01-14 11:05] #671 closed

[2021-01-14 11:16] mwkhan1983 opened #715 "Design the technical solution"
The task is to propose a technical solution and will involve reviewing Google ML Kit, FHIR for reference interoperability architecture and CQL Module.

The output should be architecture and component diagram along with any other relevant diagram to explain the solution.

[2021-01-14 13:32] #707 closed

[2021-01-14 14:16] vincent-karuri commented on #708
@ellyasafaa could we close this as an intermittent issue that occurs after the app crashes and "relaunches" onto the profile page?

I've added a [fix](https://github.com/onaio/rdt-standard/pull/710) to ensure that when a crash happens, it closes out the app completely so we shouldn't see this behaviour in future.

[2021-01-14 14:25] #704 closed

[2021-01-15 09:07] vincent-karuri commented on #703
@ellyasafaa we don't currently support dynamic loading of entries based on previous selections. This would mean loading all cities beforehand which would make for a terrible user experience. Can these fields be made manual for now?

[2021-01-15 09:07] vincent-karuri commented on #706
https://github.com/onaio/rdt-standard/issues/703#issuecomment-760768080

[2021-01-18 03:57] ellyasafaa commented on #703
@vincent-karuri Oh, I see. So, the manual field is the best option for now, isn't it?

[2021-01-18 05:46] vincent-karuri commented on #703
@ellyasafaa yes it is

[2021-01-18 05:49] #708 closed

[2021-01-18 06:33] ellyasafaa commented on #703
@ellyasafaa Ok, let's do that then

[2021-01-18 08:26] #706 closed

[2021-01-18 08:40] #703 closed

[2021-01-20 09:13] #705 closed

[2021-01-20 15:33] #649 closed

[2021-01-20 15:34] #658 closed

[2021-01-25 13:38] vincent-karuri opened #723 "Define IPE API"

[2021-01-25 13:38] vincent-karuri opened #724 "Define ImageProcessor API"

[2021-01-25 13:39] vincent-karuri opened #725 "Implement supported Devices registration in IPE"

[2021-01-25 13:40] vincent-karuri opened #726 "Implement intelligent ImageProcessor launch"

[2021-01-25 13:42] vincent-karuri opened #727 "Implement OCRImageProcessor based on MLKit"
- [ ] Define configuration that can be embedded in a DeviceDefinition and that is understood by MLKit
- [ ] Parse the configuration and passing it on to MLKit
- [ ] Wrap MLKit scan logic within and ImageProcessor
- [ ] Generate a DiagnosticReport from the readings and probably assigning specific values that may be defined in the DeviceDefinition

[2021-01-25 13:44] vincent-karuri opened #728 "Research and generate FHIR resources e.g. DiagnosticReport, ServiceRequest, DeviceDefinition Bundle etc."

[2021-01-25 13:44] vincent-karuri opened #729 "Define RIM API"

[2021-01-25 13:44] vincent-karuri opened #730 "Research and generate CQL libraries"

[2021-01-25 13:45] vincent-karuri opened #731 "Integrate Android FHIR SDK to execute queries and extract results"

[2021-01-26 06:58] mwkhan1983 opened #732 "App crashing when opening new registration form right after sync completed"
Please see the attached video for the crash.

https://user-images.githubusercontent.com/69383347/105810981-b71d0980-5fcd-11eb-8c7b-cce9082cf3fa.mp4

[2021-01-26 06:59] mwkhan1983 commented on #732
@ellyasafaa

[2021-01-26 07:01] mwkhan1983 opened #733 "App crashing when clicking RDT"
Please see the attached video. Replicated on Android 5 & 6

https://user-images.githubusercontent.com/69383347/105811241-24309f00-5fce-11eb-8d56-cd6b63acad23.mp4

[2021-01-26 07:01] mwkhan1983 commented on #733
@ellyasafaa

[2021-01-26 07:10] mwkhan1983 opened #734 "App crashing - Sample collection form"
Please see attached Video. Replicated on Android 9.

https://user-images.githubusercontent.com/69383347/105811923-234c3d00-5fcf-11eb-85e1-507f147b2409.mp4

[2021-01-26 07:31] mwkhan1983 opened #735 "Error while filling in Travel and Contact Exposure form"
Though all of the responses are provided in a form, it still shows the error and did not let the user proceed.

https://user-images.githubusercontent.com/69383347/105813684-06653900-5fd2-11eb-9dd2-f023dc5ec43c.mp4

[2021-01-26 07:32] mwkhan1983 commented on #735
@ellyasafaa

[2021-01-26 08:16] vincent-karuri commented on #734
Is OneScan installed on the device?

[2021-01-26 08:18] vincent-karuri commented on #732
@ellyasafaa Please provide the phone specs here?

[2021-01-26 08:20] vincent-karuri commented on #733
Note: related to API < 24.

[2021-01-26 08:30] vincent-karuri commented on #734
@ellyasafaa Is OneScan installed on the device?

[2021-01-26 08:32] ellyasafaa commented on #733
@vincent-karuri What does that mean?

[2021-01-26 08:33] ellyasafaa commented on #732
@vincent-karuri Samsung A50s Android 10, LG v30 android 9

[2021-01-26 08:35] vincent-karuri commented on #733
@ellyasafaa this is just a note for me, the issue is related to older devices.

[2021-01-26 08:38] ellyasafaa opened #736 "Translation Issue"
![Translation new issue](https://user-images.githubusercontent.com/73918009/105820683-754f8b80-5fec-11eb-8a16-55fd045541ff.png)

[2021-01-26 08:38] ellyasafaa commented on #736
@vincent-karuri

[2021-01-26 08:39] ellyasafaa opened #737 "Missing Information on New Client Record"
![New client record new issue](https://user-images.githubusercontent.com/73918009/105820820-a29c3980-5fec-11eb-8b98-e4f0d841d1f7.png)
![New Client record new issue 2](https://user-images.githubusercontent.com/73918009/105820825-a465fd00-5fec-11eb-86b1-ba8b48166fe8.png)

[2021-01-26 08:40] ellyasafaa opened #738 "RDT Menu Misinformation"
![RDT menu](https://user-images.githubusercontent.com/73918009/105820941-ce1f2400-5fec-11eb-9552-408935ab7403.png)

[2021-01-26 08:40] ellyasafaa commented on #737
@vincent-karuri

[2021-01-26 08:41] ellyasafaa commented on #738
@vincent-karuri

[2021-01-26 08:43] ellyasafaa opened #739 "RDT Barcode Scan Feature is Missing"
Please kindly listen also to the explanation.

https://user-images.githubusercontent.com/73918009/105821211-28b88000-5fed-11eb-86e3-8bbb2dc8a9a3.mp4

[2021-01-26 08:43] ellyasafaa commented on #739
@vincent-karuri

[2021-01-26 08:44] ellyasafaa commented on #734
@vincent-karuri Oh, sorry, the tester apparently forgot to install it. After installing it, it works fine. You can close the issue.

[2021-01-26 08:59] ellyasafaa commented on #733
@vincent-karuri Oh, I see

[2021-01-26 09:02] mwkhan1983 commented on #734
closing issue

[2021-01-26 09:02] #734 closed

[2021-01-26 09:06] vincent-karuri commented on #732
Is this video from the `LG v30 android 9`?

[2021-01-26 09:10] ellyasafaa commented on #737
@vincent-karuri  Sorry, the 2nd picture should be: It will need one additional field: Government ID address question, before the Government ID province and after the email address.

[2021-01-26 09:11] ellyasafaa commented on #732
@vincent-karuri No, this one is from Android 10 Samsung A50s. The LG does not have any recording

[2021-01-26 09:12] vincent-karuri commented on #736
Translation for this section is not currently supported due to it's dynamic nature.

We'd have to hard-code the values.

[2021-01-26 09:15] vincent-karuri commented on #732
A crash is expected from the samsung since it's Android 10 as discussed before. Are you able to get a recording for the LG?

[2021-01-26 09:15] ellyasafaa commented on #736
@vincent-karuri Previously this section can be translated as far as I can remember. So, how long will it take to hard-code the values?

[2021-01-26 09:17] ellyasafaa commented on #732
@vincent-karuri Will do double-check with the LG user since I'm not holding the phone. Could we solve the Android-10-specific issues?

[2021-01-26 10:21] vincent-karuri opened #740 "Create MLKit POC"
We need to demonstrate that we can:

- [ ] Create an MLKit configuration that allows capturing a G6PD device reading
- [ ] Accurately parse out the readings from the G6PD device

We can use the image [here](http://www.sdbiosensor.com/xe/product/5103) to test capture.

The POC should be a simple extension of the current RDT app that launches MLKit and demonstrates the features above. We should use

[2021-01-26 12:52] vincent-karuri opened #742 "Storing G6PD edits"
How do we store G6PD result edits? If the user reading differs from what the IPE module reads, we might want to store both readings.

Do we use hidden fields for user edits on the form? Do we store both in the DiagnosticReport? What fields would be used?

[2021-01-26 14:29] #739 closed

[2021-01-26 16:33] ellyasafaa commented on #709
@vincent-karuri @mwkhan1983 Hi, Thanks for getting the RDT Scan function back. Is there any update about this?

[2021-01-26 16:42] mwkhan1983 commented on #709
@ellyasafaa for now, we will have to live with this. We can train user accordingly.

[2021-01-27 04:47] ellyasafaa opened #743 "Unable to Click Sample Barcode Scan Issue"
Hi, I found the same issue as we had before: unable to click page issue on Redmi 5 Plus, Android 7.1.2. Attached the video. Have clicked both arrows and the text.

https://user-images.githubusercontent.com/73918009/105944181-61139900-6095-11eb-869a-27aa7ad11779.mp4

[2021-01-27 04:47] ellyasafaa commented on #743
@vincent-karuri @mwkhan1983

[2021-01-27 04:48] ellyasafaa commented on #709
@mwkhan1983 What causes that make this issue happened? How long will it take to solve this?

[2021-01-27 04:50] ellyasafaa commented on #733
Is there any update on this?

[2021-01-27 04:51] ellyasafaa commented on #735
Hi, is there any update on this. Also replicated on Sign and Symptom form on Redmi 5 Plus, Android 7.1.2

[2021-01-27 07:13] vincent-karuri commented on #743
What happens when you close out the app?

[2021-01-27 08:09] vincent-karuri opened #744 "Can we tag event data with location information different from the CHW"
Maybe use a drop-down when creating events to allow selection of location?

[2021-01-27 08:11] vincent-karuri commented on #732
@ellyasafaa I think we can close this as related to Android 10?

[2021-01-27 09:22] ellyasafaa commented on #732
@vincent-karuri Yes, Sure

[2021-01-28 03:52] ellyasafaa opened #745 "General User Interface Issue"
Please kindly find the image below for your reference. If you need to break down the issue and creat new issue for these, please tag me on the issue.
![EoA - General User Interface](https://user-images.githubusercontent.com/73918009/106087484-afd53780-6156-11eb-88c8-8fdf0bc640b2.png)

[2021-01-28 03:53] ellyasafaa opened #746 "Issues on Sample Collection Form"
Please kindly find the image below for your reference. If you need to break down the issue and create new issues for these, please tag me on the issue.

![EoA_Sample Collection Form_1](https://user-images.githubusercontent.com/73918009/106087641-03e01c00-6157-11eb-8fef-2fb5a95317f6.png)
![EoA_Sample Collection Form_2](https://user-images.githubusercontent.com/73918009/106087647-05114900-6157-11eb-

[2021-01-28 03:55] ellyasafaa opened #747 "Issues on RDT Barcode Scan Function"
Please kindly find the image below for your reference. If you need to break down the issue and create new issue for these, please tag me on the issue.

![EoA_RDT Scan Function_1](https://user-images.githubusercontent.com/73918009/106087780-46095d80-6157-11eb-81ff-2c02d2988a2e.png)
![EoA_RDT Scan Function_2](https://user-images.githubusercontent.com/73918009/106087775-443f9a00-6157-11eb-8d64-8995ed

[2021-01-28 03:56] ellyasafaa opened #748 "Issues on Other Clinical Data Form"
Please kindly find the image below for your reference. If you need to break down the issue and create new issues for these, please tag me on the issue.

![EoA_Other Clinical Data Form](https://user-images.githubusercontent.com/73918009/106087847-6cc79400-6157-11eb-8889-c623e4deaf6a.png)
![EoA_Other Clinical Data Form_2](https://user-images.githubusercontent.com/73918009/106087840-6afdd080-6157-11e

[2021-01-28 03:57] ellyasafaa opened #749 "Issues on Symptom and History Form"
Please kindly find the image below for your reference. If you need to break down the issue and create new issues for these, please tag me on the issue.

![EoA_Symptom and History Form_1](https://user-images.githubusercontent.com/73918009/106087949-97195180-6157-11eb-92c9-8173c6508ac3.png)
![EoA_Symptom and History Form_2](https://user-images.githubusercontent.com/73918009/106087950-97b1e800-6157-1

[2021-01-28 03:58] ellyasafaa commented on #745
@vincent-karuri @mwkhan1983

[2021-01-28 03:58] ellyasafaa commented on #746
@vincent-karuri @mwkhan1983

[2021-01-28 03:59] ellyasafaa commented on #747
@vincent-karuri @mwkhan1983

[2021-01-28 03:59] ellyasafaa commented on #748
@vincent-karuri @mwkhan1983

[2021-01-28 03:59] ellyasafaa commented on #749
@vincent-karuri @mwkhan1983

[2021-01-28 04:01] ellyasafaa commented on #746
There is an issue related to location hierarchy here. Will put on separate issue.

[2021-01-28 07:48] vincent-karuri commented on #650
@mwkhan1983 this is the list of current images https://github.com/cjpark87/rdt-scan/tree/master/app/src/main/res/drawable-nodpi.

[2021-01-28 07:56] vincent-karuri commented on #745
@ellyasafaa what is the text convention you'd like to use. I think these were copied over as was indicated from the issues.

[2021-01-28 07:58] vincent-karuri commented on #747
@ellyasafaa I think we discussed auto-detecting RDT type previously. For now it's a manual process that can be automated later on.

[2021-01-28 08:00] vincent-karuri commented on #747
Manual capture was added as a timeout feature in case workers are struggling a lot with capturing the RDTs using automatic capture so as to allow them proceed with data collection.

I'm not sure that's something we want to turn off. We can make it a longer timeout however.

[2021-01-28 08:01] vincent-karuri commented on #748
@ellyasafaa what is the expected format?

[2021-01-28 08:39] vincent-karuri commented on #749
@ellyasafaa please specify the exact format expected e.g. this should only allow text characters or this should only allow digits where the digits are > x and < y.

If there are other issues in other forms, please create them as separate issues and point out the same to avoid ambiguity.

[2021-01-28 08:53] vincent-karuri commented on #737
@ellyasafaa sorry this is not clear, what should the question be?

[2021-01-28 08:56] vincent-karuri commented on #735
@ellyasafaa Could you post a video showing the process of filling in this step information i.e. one showing the user clicking through the items on a fresh page before trying to submit?

[2021-01-28 09:03] mwkhan1983 commented on #732
closing this issue

[2021-01-28 09:03] #732 closed

[2021-01-28 09:08] mwkhan1983 commented on #733
Also closing this issue since we are not supporting Android versions 6 and below

[2021-01-28 09:08] #733 closed

[2021-01-28 09:15] vincent-karuri commented on #743
@ellyasafaa could you confirm if closing out the app fixes this? Also, is this the latest update? This issue should've been resolved in the latest version.

[2021-01-28 10:05] ellyasafaa commented on #749
@vincent-karuri
Body temperature should only allow digits: 35 - 45
Apart from the body temperature and contact's phone number, all short answer field should only allow for the text in the Symptom and History section:
- Enter additional health issues
- International country of travel
- International city of travel
- Local area province
- Local area city of travel
- Detail of each patient in the tra

[2021-01-28 10:23] ellyasafaa commented on #747
Yes, I can recall clearly that. My apologies that at the time, I did not state clearly that the function is really critical for the apk. I wasn't aware of the purpose. In fact, the scanner is supposed to be more advance because it is supposed to be able to read the result also, right? How long will it take to make it automated?

I get your point. However, we tried yesterday to the other RDT that i

[2021-01-28 10:31] ellyasafaa commented on #745
@vincent-karuri Sorry Vincent, I don't get the question you asked. Could you elaborate more?

[2021-01-28 10:36] ellyasafaa commented on #737
@vincent-karuri my apologies, it should be:
Government ID address (located before the Gov ID province question)

[2021-01-28 10:42] ellyasafaa commented on #748
@vincent-karuri
Leukocyte: 400 to 108,000  per microliter
lymphocyte 90 to 52,000  per microliter
platelet: 13,000 to 4,000,000  per microliter

[2021-01-28 10:59] ellyasafaa commented on #743
@vincent-karuri Yes, this is the latest apps that has been installed. Will contact the tester and get back to you soon to clarify, but I guess yesterday he said on the call that after closing, it works fine.

[2021-01-28 11:03] ellyasafaa commented on #743
What can cause that to happen again in the latest version of the apps?

[2021-01-28 11:13] ellyasafaa commented on #735
@vincent-karuri Our study phone is having Android 10, so I can't take the video at the time. Will get back to you after having the video from the Android 7 user.

[2021-01-28 14:43] vincent-karuri opened #751 "What data should be persisted as part of the event generated from diagnostics sdk DiagnosticReport"

[2021-01-29 07:58] vincent-karuri commented on #737
How is government ID address different from the province and city questions? Don't those form the address?

[2021-01-29 07:59] vincent-karuri commented on #737
And if we're making that change will it also be necessary to make a similar change to domicile address?

[2021-01-29 08:04] vincent-karuri commented on #745
@ellyasafaa Could you specify what the text should be? Most of the time the text is copied as is from whatever specification you provide so please make sure it matches what is expected (including capitalization).

[2021-01-29 08:15] vincent-karuri commented on #747
Yes, the scanner interprets the reading behind the scenes. We still want to collect the user's interpretation for our own data analysis later on.

Not sure what is meant by `but the scanner is still able to read that`? Is this for manual capture? The purpose of manual capture is to allow capturing any RDT even when auto-capture fails. So yes, it will capture any RDT or image (even one which is not

[2021-01-29 08:20] vincent-karuri commented on #746
@ellyasafaa I don't know what `Testing booking slot` is. Shiven said is was requested.

Could we refine the message on the last page? It seems repetitive to say `Safely store under safe and secure conditions`.

[2021-01-29 09:37] #748 closed

[2021-01-29 09:38] vincent-karuri commented on #747
@ellyasafaa ^

[2021-01-29 10:40] mwkhan1983 commented on #709
@vincent-karuri I have modified all images and they are now upright.

[2021-01-29 10:41] mwkhan1983 commented on #650
RDT images are now in upright position

[2021-01-29 11:26] ellyasafaa commented on #737
@vincent-karuri Usually, Indonesian will fill the address with only the street name, not specifically with the city and province. So the province and city fields will validate the address that has been inputted. And yes, it will apply to the domicile address as well.

[2021-01-29 11:47] ellyasafaa commented on #746
@vincent-karuri Oh okay. I think the Testing Book slot and the GSI Sample ID should be erased at this point.

The last page of information is to remind the health worker for storing the specimen safely in the storage. So the flow would be:
Open sample collection form > Follow the instruction, start from obtaining specimen using approved methods > after taking the specimen they should safely store

[2021-01-29 12:12] ellyasafaa commented on #747
@vincent-karuri And in that case, any analysis will be done by SID personnel and all the data will be accessed only with authorization. And for now, there is no automatic feature of RDT interpretation, isn't it?

How long will it take to make the RDT type auto-detected by the app?

Yes, my concern is taking any picture, even if it's not RDT. I thought we could do something with the app to reduce t

[2021-01-29 12:30] vincent-karuri commented on #737
Ok, can we name that `Government ID street address` then for clarity?

[2021-01-29 12:33] vincent-karuri commented on #709
@mwkhan1983 thanks!

[2021-01-29 12:36] vincent-karuri commented on #747
@pld are you aware of this `any analysis will be done by SID personnel and all the data will be accessed only with authorization`?

[2021-01-29 12:40] vincent-karuri commented on #747
@ellyasafaa as I explained, auto-interpretation is done behind the scenes and not displayed to the user. This is to allow later comparison of user and machine interpretations.

[2021-01-29 12:47] ellyasafaa commented on #737
@vincent-karuri Sure, I'll translate it in a different way though.

[2021-01-29 12:49] ellyasafaa commented on #747
@vincent-karuri So, how long will it take to make the RDT type auto-detected by the app?

[2021-01-29 13:10] #736 closed

[2021-01-29 13:23] #738 closed

[2021-01-29 14:43] pld commented on #747
is RDT type stored in the barcode?

[2021-01-29 15:09] vincent-karuri commented on #747
@pld That can be extracted from the device definition - I'm assuming rdt type means antigen/antibody.

Though I was asking about the flow where the chw has to input the result manually, even if we still perform auto-interpretation in the "back-end". We want to maintain this, right?

Do we still intend to perform analytics on the data?

[2021-01-29 15:39] pld commented on #747
yes, auto interpretation won't happen on device, no one has calibrated this because there isn't a dataset I'm aware of

[2021-02-01 05:37] vincent-karuri commented on #735
@ellyasafaa were you able to get this https://github.com/onaio/rdt-standard/issues/735#issuecomment-768902527 for the redmi phone? It would be helpful in reproducing the bug.

[2021-02-01 05:49] vincent-karuri commented on #743
@ellyasafaa I have not been able to reproduce this on the latest version yet.

[2021-02-01 06:00] vincent-karuri commented on #747
@ellyasafaa is it clear why we keep the RDT result question now? So while we can add a feature to detect the type: `Antigen/Antibody` we'll still need the user to fill in the result they read off the RDT.

[2021-02-01 07:20] ellyasafaa commented on #747
@vincent-karuri Yes, of course. I am aware of the auto-interpret feature of the RDT results that have not been available in the RDT. Thank you for the explanation. The thing that I tried to emphasize before was indeed the type, not the results.

Also, I have been trying to use the RDT barcode scanner function in 3 types of RDT cassettes on Android 8 and 9. There were crashes that happened several

[2021-02-01 07:26] ellyasafaa commented on #743
@vincent-karuri It is also not replicated on the device using Android 8 and 9 that I currently have, but the tester using Android 7 said it replicated again on his phone. Another device using Android 7 will arrive in the office on Wed at the earliest. Will do a recheck again after I have the device.

[2021-02-01 07:36] ellyasafaa commented on #735
@vincent-karuri I saw it replicated twice at the time when the Redmi phone reported, but it wasn't replicated after that by the user. I have tried also on Android 8 and 9 that currently I have, but it is not replicated yet. Will do double-check after I have the other devices with Android lower than 10. But, I have the Android 10 phone with me and it is replicated here, would the Android version af

[2021-02-01 08:03] ellyasafaa commented on #747
@vincent-karuri Sent via email.

[2021-02-01 08:40] vincent-karuri commented on #745
@ellyasafaa any update on this https://github.com/onaio/rdt-standard/issues/745#issuecomment-769646771?

[2021-02-01 08:54] vincent-karuri commented on #746
@ellyasafaa modifying the UI around the `Name of sampler` text can move to a separate issue.

[2021-02-01 09:04] vincent-karuri opened #758 "Modify pre-populated edit text UI"
Based on https://github.com/onaio/rdt-standard/issues/746#issue-795643843, modify edit text UI to make it more explicit that a pre-populated field is editable.

[2021-02-01 09:04] vincent-karuri commented on #758
@rowo any ideas here?

[2021-02-01 09:16] vincent-karuri commented on #735
@ellyasafaa I don't think it's related to Android version but we'd want to replicate it on the supported Android versions first.

[2021-02-01 09:20] #746 closed

[2021-02-01 09:35] vincent-karuri opened #759 "Fix error message"
This error message doesn't display correctly https://github.com/onaio/rdt-standard/blob/b8edd855fd6803cbffad98d325dd9acb183bc4fd/rdt-open-reader/src/covidIndonesia/assets/json.form/patient-diagnostics-form.json#L1601.

[2021-02-01 10:36] vincent-karuri commented on #747
@ellyasafaa unless the RDT you're trying to capture is listed in the drop-down list, you will not be able to capture the RDTs automatically. The screen after scanning a barcode shows the RDT that the camera will be trying to capture once it's launched. A similar-looking RDT might be captured by chance but it's not assured to work.

In some of the cases (where we have crashes), I see the scanner is

[2021-02-01 10:53] ellyasafaa commented on #747
@vincent-karuri Oh, I see. So, we have to include those RDTs in the list. Thanks for clearing these things up.

Nope, I didn't back-press the screen. I have tried it several times on both devices and it happened.

[2021-02-01 10:58] ellyasafaa commented on #745
@vincent-karuri
My apologies for missing this comment.
for the capitalization, just simply capitalize the first word.

The best thing that should be fixed is the line break between the question and answer. The current interface is: the question has 2 line breaks to the answer needed, but the answer has a line break to the other (next) question. That's the point that should be fixed first.

For the

[2021-02-01 11:00] ellyasafaa commented on #747
@vincent-karuri how if we want to add other RDTs to the drop-down list? What information needed?

[2021-02-01 12:20] vincent-karuri opened #760 "Auto-detect RDT Type from DeviceDefinition"
To detect whether an RDT is antigen/antibody based, we need to encode this information in the FHIR resource and extract it into the form.

[2021-02-01 12:21] vincent-karuri commented on #760
@ellyasafaa @mwkhan1983 we'll need an extra column that records the RDT type in this [doc](https://docs.google.com/spreadsheets/d/1P9yCzXHoy9Dz0_hp43GX_qpOc6Ayvz_D2TCReNVN_n4/edit#gid=0).

[2021-02-01 12:29] vincent-karuri commented on #747
@ellyasafaa but the scanner is launching twice, right? Which phones are affected?

[2021-02-01 12:35] vincent-karuri commented on #758
@ellyasafaa

[2021-02-01 12:36] #737 closed

[2021-02-01 12:38] vincent-karuri commented on #747
For this, this [doc](https://docs.google.com/spreadsheets/d/1P9yCzXHoy9Dz0_hp43GX_qpOc6Ayvz_D2TCReNVN_n4/edit#gid=0) needs to be updated with the device configrations. And barcodes updated to reflect the changes for a specific RDT model.

[2021-02-01 12:42] pld commented on #747
To be clear though these don’t get pulled in automatically, new configs need to be generated, and a new APL must be created to support new RDTs in the current state. We want this to be dynamic but that work is out of scope for now.

[2021-02-02 05:45] ellyasafaa commented on #747
Both, the Android 8 and Android 9. But on Android 8, there is no _Sorry, a fatal error occurred when loading the form. Please contact a developer for further assistance._ message.

[2021-02-02 07:09] vincent-karuri commented on #747
@ellyasafaa What's the actual phone model, including Android version?

[2021-02-02 07:13] vincent-karuri commented on #645
Closing as outdated and not reproducible.

[2021-02-02 07:13] #645 closed

[2021-02-02 07:19] ellyasafaa commented on #747
@vincent-karuri Redmi note 5 Pro Android 8.1.0 and Redmi Note 8 Android 9

[2021-02-02 10:16] mwkhan1983 opened #768 "Explore Google ML Kit models for text recognition"

[2021-02-02 10:18] mwkhan1983 opened #769 "Review of FHIR for reference interoperability architecture"
Objective is to see how FHIR will be used in the context IPE and RIM Modules

[2021-02-02 10:21] mwkhan1983 opened #770 "Build IPE Module within SDK"

[2021-02-02 10:35] ellyasafaa commented on #747
@vincent-karuri issue on Xiaomi note 5 Pro Android 9. Can't go into the scanning page. Have installed OneScan in the device.

https://user-images.githubusercontent.com/73918009/106588060-efe45200-657c-11eb-8dd3-dc3e234d6e40.mp4

[2021-02-02 11:37] syedowaisali90 commented on #749
@ellyasafaa I'm a bit confused in the first image so do I need to show this question (Does the patient have a history with urinary or kidney disease?) only when select no on this question (Does the patient have chronic kidney disease?). could you eleborate more

[2021-02-02 11:50] ellyasafaa commented on #749
@syedowaisali90 Thanks for asking. I think we can just erase one question because the answer will be connected. _Does the patient have a history with urinary or kidney disease?_ can be deleted. My apologies for the unclear description.

[2021-02-02 12:29] ellyasafaa commented on #738
@vincent-karuri @syedowaisali90 Hi, just checking this on the latest apk Wasim sent me. Thank you for moving the antibody part as requested, but can we make it not required? If the result is nonreactive, it is not necessary for them to fill in the antibody question. However, it will be required if the result is reactive

![WhatsApp Image 2021-02-02 at 7 24 24 PM](https://user-images.githubusercont

[2021-02-02 13:41] syedowaisali90 commented on #738
@ellyasafaa could you create a separate issue for this.
cc @vincent-karuri

[2021-02-02 14:39] ellyasafaa commented on #745
@vincent-karuri Hi, Vincent. Have talked with the other testers and got some input about the interface. Please see the detail below. I think we need to open separate issues, but I'll just put it here. Could you assist me to open the new issues that will be needed accordingly?

![new client record issue](https://user-images.githubusercontent.com/73918009/106615361-f1bf0d00-659e-11eb-9ed0-820e1868ce

[2021-02-02 14:41] ellyasafaa opened #772 "Change for the SID Official Trademark on Home screen page"
![Homescreen issue](https://user-images.githubusercontent.com/73918009/106615660-3f3b7a00-659f-11eb-8479-507bd601ad3f.png)

[2021-02-02 14:42] ellyasafaa commented on #738
@syedowaisali90 will do

[2021-02-02 14:43] ellyasafaa commented on #772
@vincent-karuri @mwkhan1983 the logo will be necessary as our identity because we will use it in a broader scope

[2021-02-02 14:45] ellyasafaa opened #773 "Change for antibody question on RDT menu"
Hi, just checking this on the latest apk Wasim sent me. Thank you for moving the antibody part as requested, but can we make it not required? If the result is nonreactive, it is not necessary for them to fill in the antibody question. However, it will be required if the result is reactive

![WhatsApp Image 2021-02-02 at 7 24 24 PM](https://user-images.githubusercontent.com/73918009/106616144-c983d

[2021-02-02 14:45] ellyasafaa commented on #773
@vincent-karuri @syedowaisali90

[2021-02-02 14:48] ellyasafaa opened #774 "Next Page UX Issue"
![Page information issue](https://user-images.githubusercontent.com/73918009/106616673-62b2f480-65a0-11eb-9ebd-3bd225529c14.png)

[2021-02-02 14:49] ellyasafaa commented on #774
@vincent-karuri @mwkhan1983

[2021-02-02 14:50] ellyasafaa opened #775 "Last Sync Information"
How could we know that the data inputted on the apk have been synced to the system? Since there is no last sync information @vincent-karuri @mwkhan1983

[2021-02-02 15:04] vincent-karuri commented on #747
@ellyasafaa I'm not able to replicate this https://github.com/onaio/rdt-standard/issues/747#issuecomment-771540227 behaviour or the crashes. Is this the first time you're using the app on these devices? Are the issues affecting only the Xiaomi Redmi phones?

[2021-02-02 15:38] vincent-karuri commented on #745
@ellyasafaa please move this https://github.com/onaio/rdt-standard/issues/745#issuecomment-771680264 to a separate issue.

[2021-02-02 15:40] vincent-karuri commented on #745
@syedowaisali90 please fix the capitalization. Only the first character should be capitalized. Also see if you can change the spacing between question and answer fields if it's a low effort modification.

[2021-02-03 06:57] #759 closed

[2021-02-03 08:45] mwkhan1983 commented on #774
@ellyasafaa there is a search function for that. You need to refine results using search.

[2021-02-03 08:47] mwkhan1983 commented on #773
@ellyasafaa antibody question will either be required or non-required. It cannot be both

[2021-02-03 12:18] syedowaisali90 commented on #745
@ellyasafaa have you created a separate issue https://github.com/onaio/rdt-standard/issues/745#issuecomment-771680264

[2021-02-03 12:19] syedowaisali90 commented on #773
@ellyasafaa need your input https://github.com/onaio/rdt-standard/issues/773#issuecomment-772339904

[2021-02-03 14:00] #749 closed

[2021-02-03 15:08] #650 closed

[2021-02-04 01:42] ellyasafaa commented on #773
@syedowaisali90 @mwkhan1983 I think just keep it required then since it can be skipped if it is not required. You can close this issue.

[2021-02-04 01:45] ellyasafaa commented on #747
@vincent-karuri Since we only have Xiaomi Redmi phones here, I couldn't check it on another device brand, but on LG is fine. Yes, this is the first time we're using the app on the devices. I think it is important to solve these issues on this phone because Xiaomi and Redmi are the most common phone here.

[2021-02-04 01:52] ellyasafaa commented on #774
@mwkhan1983 yes, I am aware of the function. However, since this app has no sorting feature that allowing users to sort the patient based on the result or based on the time we inputted or based on the alphabet, the current patient will be put in the last page. It will be really difficult if we want to track the patient based only on the date or else. So, it will be really helpful I think if we can

[2021-02-04 01:53] ellyasafaa opened #778 "Changes in New Client Record"
![new client record issue](https://user-images.githubusercontent.com/73918009/106833624-6e004000-66c6-11eb-8443-b590706d00c3.png)

@vincent-karuri @syedowaisali90

[2021-02-04 01:59] ellyasafaa commented on #773
@mwkhan1983 @syedowaisali90 Sorry, before deciding with that my previous comment. Just wanna confirm, can we make the question appear only if the result is reactive?

[2021-02-04 02:12] ellyasafaa commented on #747
@vincent-karuri In the barcode scanner, it will still be important that there is some checking in the app so if one RDT is selected and another is attempted to be scanned then this error is recognized and prevented.

[2021-02-04 02:13] ellyasafaa commented on #747
@vincent-karuri please let us know more about how we could simply add additional RDTs from Indonesia and How can we also add the specific instructions for each RDT, including timings for incubation, etc?

[2021-02-04 07:42] syedowaisali90 commented on #773
@ellyasafaa yes, we can show the Antibody question only if the result is Reactive and hide on NonReactive.

cc: @mwkhan1983

[2021-02-04 08:17] ellyasafaa commented on #773
@syedowaisali90 And the Antibody question can be required, right? Let's do that.

[2021-02-04 09:17] mwkhan1983 commented on #774
@ellyasafaa I think I understood the problem. New patients added ends up at the end of the list.
@vincent-karuri I believe it is possible to sort the list so that new patients added gets displayed on first page. Right?

[2021-02-04 09:22] mwkhan1983 commented on #772
@ellyasafaa please provide SID logo

[2021-02-04 09:23] mwkhan1983 commented on #709
@ellyasafaa please confirm if this issue is resolved now or is it still happening?

[2021-02-04 09:39] mwkhan1983 commented on #743
@ellyasafaa is there an update on this?

[2021-02-04 09:43] mwkhan1983 commented on #747
@ellyasafaa

I have addressed addition of new RDTs in the last email sent. About specific instructions - if instructions are generic and not very specific to each RDT - then we can simply hardcode. If instructions are very specific to each RDT, then there is more work to be done to make it happen. Please share the instructions and we will evaluate the effort involved.

[2021-02-04 10:13] syedowaisali90 commented on #778
@ellyasafaa about your line spacing concern, we can add a spacer between questions but on a client-side, we don't have an option to remove the padding from a text field.

cc: @vincent-karuri

[2021-02-04 13:20] ellyasafaa commented on #772
@mwkhan1983 please find the file for your reference
![Logo SID](https://user-images.githubusercontent.com/73918009/106898171-6ec8be80-6726-11eb-9580-9c8aa972240c.jpg)

[2021-02-04 15:02] vincent-karuri commented on #709
@mwkhan1983 it requires more optimizations that will be part of the pr above.

[2021-02-05 07:28] ellyasafaa commented on #778
@syedowaisali90 Just wanna clarify, the padding is the space between the answer line and the answer text, right? So, you can remove the space that was too far between the question and answer related to that question, and add a spacer between the answer from the previous question to the next question, right?

[2021-02-05 07:28] vincent-karuri commented on #774
@ellyasafaa you can search for the patient you registered by name if that's the use case here.

[2021-02-05 07:31] ellyasafaa commented on #747
Sorry, for the sheets that you sent me before, I am only a commenter there, I thought you will add the column of the type and fill it based on this comment. You will extract it from the device definition?

[2021-02-05 07:31] vincent-karuri commented on #772
We can change the text. I think I'd want to  discuss with management before adding the logo.

[2021-02-05 07:39] vincent-karuri commented on #747
@ellyasafaa @mwkhan1983 keep in mind that we were developing generic RDT job aids as part of this issue https://github.com/onaio/rdt-standard/issues/358.

[2021-02-05 07:43] ellyasafaa commented on #774
@vincent-karuri So, the practice would be:
You will test many patients, more than 50 a day, and you will absolutely put all of them in the apk. The health worker will do screening task, asking those questions on the symptom and history form and do the testing separately, for sure. Absolutely, we want to use the apk to make our task is more convenient, right? But only the search feature won't help

[2021-02-08 07:13] vincent-karuri commented on #774
@ellyasafaa I'm not sure I understand the flow here. Isn't the patient available when taking a test? Is it not possible to ask them for their name at that point to retrieve their record?

[2021-02-08 07:20] syedowaisali90 commented on #778
@ellyasafaa sorry for the delay, 5th feb was a holiday in Pakistan. Actually, we don't have any provided option on the client-side to adjust the margin/padding from the EditText. Even there is no margin or padding has been set from native-form so the spacing you have seen it's Android default EditText background.

We have three options.

- We need to create PR in native-form to add a property for

[2021-02-08 07:22] #773 closed

[2021-02-08 08:38] #709 closed

[2021-02-08 11:14] ellyasafaa commented on #747
@vincent-karuri Hi Vincent, could you enable the crashlytics on the new version of the APK? Found some crashes with Android 8 and 9.

[2021-02-08 11:17] ellyasafaa commented on #778
@syedowaisali90 what is the best option for doing this? I see that option number 3 wouldn't be the recommended one, because we have already that type of question, right? Like for the Date question, but the users end up being confused whether they have to fill it or not.

[2021-02-08 11:32] syedowaisali90 commented on #778
@ellyasafaa you right option 3 wouldn't be the best option so I'm going to work on option 1 which is best for now and more extensible in the future.

P.S Thanks @vincent-karuri for the suggestion.

[2021-02-08 11:33] ellyasafaa commented on #747
@vincent-karuri @mwkhan1983 Also, Dr. Anu asked to put also the Prevent Malaria in the RDT Barcode scan function, could you assist us with that? The code can be pulled here: (https://github.com/cjpark87/rdt-scan/)

[2021-02-08 11:43] ellyasafaa commented on #778
@syedowaisali90 Thank you, let's do that.

[2021-02-08 11:46] ellyasafaa commented on #774
@vincent-karuri they will not line up, the health worker who will call their name and then the patient will come to the area where the test conducted or the screening conducted.

[2021-02-09 08:11] ellyasafaa commented on #749
@syedowaisali90 Hi just checked about the body temperature field, it seems the validation number hasn't been set in the latest APK that I got.

[2021-02-09 08:14] ellyasafaa opened #781 "Sample Barcode Scan Function did not work"
Having issues with sample barcode scanning function on Oppo A5s Android 8.1.0. This is not the first time the APK installed on the device.
https://drive.google.com/file/d/1-LFsUPBO4b7bDGfLfLrlZW0WgRTRBifL/view?usp=sharing

@vincent-karuri @mwkhan1983

[2021-02-09 08:18] ellyasafaa commented on #781
Sorry, I think the tester is not properly installing the OneScan. Will get back to you after making sure it happened.

[2021-02-09 12:25] ellyasafaa commented on #747
@vincent-karuri @mwkhan1983 Hi, I'm curious about the RDTScan Configuration. So, I thought at first, the size and shape will determine the capturing image function after scanning. But, it didn't work that way indeed.

So, there are some things that I'd like to clarify:
- After scanning the barcode, there will appear the information embedded on the barcode, including which type and brand of RDT tha

[2021-02-09 15:41] syedowaisali90 commented on #749
@ellyasafaa I think if you asking about this then it's already merged in master https://github.com/onaio/rdt-standard/blob/261b080846e845c196a8d542201077454d8fd22c/rdt-open-reader/src/covidIndonesia/assets/json.form/patient-diagnostics-form.json#L541-L566
and if it's not about this then could you share that you have

[2021-02-09 15:51] ellyasafaa commented on #749
@syedowaisali90 in this version v1.9.0-rc6-configurable-rdt-sid-debug, is it already merged in that APK?

[2021-02-09 15:59] syedowaisali90 commented on #749
@ellyasafaa not sure @vincent-karuri can help on this.

[2021-02-09 17:29] ellyasafaa commented on #747
@vincent-karuri @mwkhan1983 Just wanna confirm so I didn't misunderstand. In the recent APK, has all the RDTScan Configuration in the sheet been merged there? Including the Prevent Malaria that CJ shared with us in the email? And the only one antigen RDT that has the configuration is JoysBio, right?

[2021-02-10 05:16] ellyasafaa commented on #735
Hi Vincent, just got this issue again on Samsung Galaxy J5 Pro Android 9.
https://drive.google.com/file/d/1y8qWwS8XtW18tym9AU2yAWJvjS67UBf2/view?usp=sharing

[2021-02-10 05:16] ellyasafaa commented on #781
Not replicated. All is well.

[2021-02-10 05:16] #781 closed

[2021-02-10 05:19] ellyasafaa opened #782 "Travel and Contact Exposure Form Change Needed"
Could we allow space for that 'only alphabetic characters are allowed' field? Because there are several provinces and cities that have two words.

![Screenshot_20210210-120830_RDT Open Reader](https://user-images.githubusercontent.com/73918009/107468160-16684580-6b9a-11eb-920e-4e31024637ac.jpg)

@mwkhan1983 @vincent-karuri

[2021-02-10 06:15] ellyasafaa opened #783 "The scanner can't read the barcode in low light condition"
Can we optimize the use of the scanner in low light conditions?
It can't read the barcode at all in this light condition (40 secs trying) (took at 6.02 pm Jakarta Time):
https://drive.google.com/file/d/1-sW_4lqZay8yoq-bmqhzTq7ojXVyCqVZ/view?usp=sharing

but worked in 5 secs in the lighter condition (took at 6.03 pm Jakarta Time):
https://drive.google.com/file/d/1-u1JAL34pGk4fqfRhQeqU-YZKxDWSdaK/vi

[2021-02-10 09:48] ellyasafaa opened #784 "Crash when clicking Sample Collection menu"
Oppo A5s Android 8.1.0

https://user-images.githubusercontent.com/73918009/107493098-d61bbe00-6bbf-11eb-8237-11e90803aee5.mp4

@vincent-karuri @mwkhan1983

[2021-02-10 10:42] ellyasafaa commented on #735
And on Redmi 5 Plus Android 7.1.2
https://drive.google.com/file/d/10AH4UHVcgNPX8bJPOgDwqkFKvhkEipEP/view?usp=sharing

[2021-02-10 14:33] mwkhan1983 commented on #735
@syedowaisali90 are you able to replicate this issue?

[2021-02-10 15:19] mwkhan1983 commented on #784
@syedowaisali90 can you please try and replicate this issue? You may use emulator to configure same OS version

[2021-02-11 07:20] syedowaisali90 commented on #784
@ellyasafaa could you share crash logs.

[2021-02-11 08:32] syedowaisali90 commented on #735
@mwkhan1983 @ellyasafaa I'm on it. Trying to reproduce

[2021-02-11 11:53] syedowaisali90 commented on #784
@ellyasafaa is the application got crashed on the first time installed or every time.

[2021-02-12 09:26] mwkhan1983 commented on #743
@ellyasafaa is this still an issue or can we close this?

[2021-02-12 10:53] mwkhan1983 commented on #747
@ellyasafaa do we still have crash or clicking issues on Barcode scan with the latest release? If not, can we close this issue?

[2021-02-12 10:57] mwkhan1983 commented on #735
@ellyasafaa we need to get a video showing how you transition from the previous page and start filling out a fresh page and show us the bug appearing. Currently in video form is shown filled.

I have tried on my android 10 Xiomi device and didn't get an issue. Will try and post the video

[2021-02-12 16:21] vincent-karuri commented on #749
@syedowaisali90 please confirm in master.

[2021-02-15 12:05] syedowaisali90 commented on #749
@vincent-karuri I have checked. It's available in master but not this APK v1.9.0-rc6-configurable-rdt-sid-debug

[2021-02-16 01:12] ellyasafaa commented on #784
@syedowaisali90 my apologies for the late reply. It is not happening every time but often happened. Not in the first time installed.

[2021-02-16 01:20] ellyasafaa commented on #782
Hi, the same case also in this field that needs to be corrected. Here is the pre-existing condition form.
![Screenshot_2021-02-15-14-49-04-981_io ona diagnostics rdt configurable id](https://user-images.githubusercontent.com/73918009/108007127-c53fd200-702f-11eb-875d-411466a56b3e.png)

[2021-02-16 01:22] ellyasafaa commented on #749
@syedowaisali90 does the range allow decimal as well?

[2021-02-16 01:28] ellyasafaa commented on #704
@syedowaisali90 the pregnant question is not back yet in the last APK that I got.

[2021-02-16 01:40] ellyasafaa opened #787 "Adding One New Test in New Client Record Form"
Currently in Indonesia, we have another test called GeNose C19, the result will be positive or negative. Could we add that to the type of test question below?

![Screenshot_2021-02-16-08-32-49-359_io ona diagnostics rdt configurable id](https://user-images.githubusercontent.com/73918009/108008233-7f383d80-7032-11eb-8f05-a2b436e46de7.png)

@mwkhan1983 @vincent-karuri @syedowaisali90

[2021-02-16 01:54] ellyasafaa opened #788 "Android 10 Compatibility"
What is the status of this? @mwkhan1983 @vincent-karuri @syedowaisali90

[2021-02-16 04:08] ellyasafaa commented on #735
My apologies for the late reply. Yes, I have tried as well, but when I take the video to start filling out a fresh page is not happening. When I tried again, it is happening. I don't know what causes that because it randomly happened. But I think I found out one of the causes, it will happen if we accidentally press the back button on our devices.

For example, I have reached the travel and contac

[2021-02-16 04:11] ellyasafaa commented on #743
@mwkhan1983 Apologies for missing this. All GitHub messages go to the trash folder in my email, so I don't get them on time. I couldn't replicate this again, so we can close this for now.

[2021-02-16 15:25] syedowaisali90 commented on #735
@ellyasafaa I have found the problem it was a bug in the native-form library and that was fixed by @bennsimon in this PR https://github.com/OpenSRP/opensrp-client-native-form/pull/538.

Here is changed https://github.com/OpenSRP/opensrp-client-native-form/pull/538/files#diff-8530cda4bb9465728111d451b62b40eba88c0d1827a60f159b3f8e71571fc1e6

But in RDT we don't have the latest version of the native-

[2021-02-16 15:31] syedowaisali90 commented on #749
@ellyasafaa yes

[2021-02-16 15:44] syedowaisali90 commented on #749
@ellyasafaa I haved fixed the fever validation bug in https://github.com/onaio/rdt-standard/pull/789

[2021-02-16 16:18] ellyasafaa commented on #735
@syedowaisali90 great work on that! let's have that finalized!

[2021-02-16 16:19] ellyasafaa commented on #749
@syedowaisali90 great! what is the decimal separator for that? comma or point? Just wanna make sure in the manual that we have it is correctly written

[2021-02-16 17:41] syedowaisali90 commented on #749
@ellyasafaa point. like **33.5**

[2021-02-16 18:06] ellyasafaa commented on #749
@syedowaisali90 Well noted, thanks!

[2021-02-17 13:35] ellyasafaa commented on #704
@vincent-karuri @syedowaisali90 @mwkhan1983 Hi, is there any update on the question I asked?

[2021-02-17 13:37] ellyasafaa commented on #735
@syedowaisali90 Hi, what is the status of this?

[2021-02-17 13:39] ellyasafaa commented on #778
@syedowaisali90 Hi, is there any update on this?

[2021-02-17 13:40] ellyasafaa commented on #782
@mwkhan1983 @syedowaisali90 Hi, is there any update on this?

[2021-02-17 13:41] ellyasafaa commented on #784
@syedowaisali90 Hi, is there any update on this?

[2021-02-17 13:42] ellyasafaa commented on #775
@vincent-karuri Hi, is there any update on this?

[2021-02-17 13:42] syedowaisali90 commented on #704
@ellyasafaa this question is available in v1.9.0-RC6-CONFIGURABLE-RDT-SID-DEBUG.apk and in addition, it will be shown depending on condition like Patient age must be greater than 12 and gender must be female

[2021-02-17 13:42] ellyasafaa commented on #774
@vincent-karuri Hi, is there any update on this?

[2021-02-17 13:42] ellyasafaa commented on #788
@mwkhan1983 @vincent-karuri @syedowaisali90 Hi, what is the status of this?

[2021-02-17 13:43] ellyasafaa commented on #783
@vincent-karuri @mwkhan1983 Hi, is there any way to optimize the process I explained for this?

[2021-02-17 13:44] ellyasafaa commented on #787
@syedowaisali90 @mwkhan1983 @vincent-karuri Hi, is there any update on this?

[2021-02-17 13:52] ellyasafaa commented on #704
@syedowaisali90 Thanks for the explanation. I tried to check i, but the question does not appear in the pre-existing form if I used Bahasa. Have checked it in English, it appeared.

[2021-02-17 15:00] syedowaisali90 commented on #778
@ellyasafaa it's almost done just waiting that some other flavor test cases are failing I'm trying to figure that issue.

[2021-02-17 15:05] syedowaisali90 commented on #782
@ellyasafaa it's not started yet actually I'm trying to close pending issues that need to close on priority

[2021-02-17 15:08] syedowaisali90 commented on #784
@ellyasafaa I have fixed the crash in the above PR but I tried too many times to reproduce it but it's not happened.

[2021-02-17 15:13] syedowaisali90 commented on #704
@ellyasafaa let me check that

[2021-02-18 08:39] syedowaisali90 commented on #704
@ellyasafaa bug fixed in https://github.com/onaio/rdt-standard/pull/791

[2021-02-18 08:56] syedowaisali90 commented on #787
@ellyasafaa new test question added https://github.com/onaio/rdt-standard/pull/792

[2021-02-18 11:23] mwkhan1983 commented on #743
closing

[2021-02-18 11:23] #743 closed

[2021-02-18 16:11] #778 closed

[2021-02-18 16:16] syedowaisali90 commented on #745
@vincent-karuri https://github.com/onaio/rdt-standard/issues/745#issuecomment-771680264 has been closed here https://github.com/onaio/rdt-standard/issues/778 can we close this one also?

[2021-02-19 08:44] ellyasafaa commented on #745
@syedowaisali90 Yes, sure. When will I get the updated APK where this issue has been fixed?

[2021-02-19 10:01] syedowaisali90 commented on #745
@vincent-karuri the will appear on a `patient-registration` form `patient-diagnostic` form and `sample-collection` form

[2021-02-19 10:51] syedowaisali90 commented on #735
@ellyasafaa We couldn't fix this issue in the next release. We will have to wait because we have a lot of change in native-form migration that needs to be passed on QA and ensure that nothing is a break

[2021-02-19 10:56] syedowaisali90 commented on #788
@ellyasafaa we have pending issues that need to be finalized first so we will have to wait till then.

[2021-02-19 13:16] mwkhan1983 commented on #774
@ellyasafaa Anu mentioned to sort the list based on the visit date. But this list is of registered patients and NOT linked to visits. I asked earlier that can we sort the list based on time the client is registered? So any new client registered will show up at the top. Please confirm.

[2021-02-19 13:44] mwkhan1983 opened #794 "Add "Malaria Prevent" RDT to Covid CTS App"
@ellysa We want to understand that why we want to add 'Malaria Prevent RDT' to the Covid app?

[2021-02-19 13:47] mwkhan1983 opened #795 "Barcodes needed for Covid RDTs"
@ellysa we need at least a barcode each for all the Covid RDTs that are currently listed in the app? Can you please help us provide that? You can upload them here on this ticket.

cc: @vincent-karuri

[2021-02-20 02:12] ellyasafaa opened #796 "Urgently fixed in this release: Inconsistency scanning result"
There is inconsistency in the heat sensor result when scanning the barcode. Please kindly take a look at the issue in the video:
https://drive.google.com/file/d/1-BXtki2ZqfTvF75W3RckLuBFu0hIKWm6/view?usp=sharing

@syedowaisali90 @mwkhan1983 @vincent-karuri

[2021-02-20 02:13] ellyasafaa commented on #774
@mwkhan1983 Can we do both options?

[2021-02-20 02:16] ellyasafaa commented on #795
@mwkhan1983 Yes, sure, I can provide you with that. Will ask Dr. Anu for this, but could you explain more what will you do with the barcode? Because the barcode will store different information for each RDT cassette

[2021-02-22 07:35] mwkhan1983 commented on #774
@ellyasafaa sorting by visit date is not possible. As I mentioned list of registered patients and NOT linked to visits. When it is not linked to visits, it cannot be sorted based on visit date.
Please confirm if we want to sort based on date when patient is registered in descending order (latest registered on top).

[2021-02-22 07:45] #782 closed

[2021-02-22 09:20] vincent-karuri opened #797 "Sync images from the G6PD image capture"

[2021-02-22 09:25] vincent-karuri commented on #796
The scanner reads an RDT as invalid if the sensor is triggered or the RDT is expired. I'm not sure why but that one moment, it probably detected the sensor as triggered.

Also, is the barcode correctly encoded? You should be able to see a preview of the RDT that should be captured if the RDT is available in the capture library of the app.

[2021-02-22 11:11] #787 closed

[2021-02-22 11:26] #784 closed

[2021-02-22 23:24] ellyasafaa opened #799 "Critical issue on the release version"
Hi, I've performed the UAT and there are some critical points that need to be fixed before it released because will end up disturbing the field data collection process:
- Please kindly remove the Medical record ID as required. I think I have addressed this several times, it has been fixed, right?
- All text-related answer fields in symptom and history should allow spaces. Please kindly fix that.
-

[2021-02-22 23:26] ellyasafaa commented on #794
@mwkhan1983 Hi, apologies for just getting back to you. We would like to test the functionality of the app scanner as a universal reader, so it is necessary to check various RDTs that we've already had the configuration. Apart from that, what would be your suggestion if we want to add another RDTs in the app and how long will it take to hardcode it on the apps?

[2021-02-22 23:31] ellyasafaa commented on #796
@vincent-karuri Yes, the RDT has been correctly encoded. I have checked all information and checked the condition of the barcode that is not activated by the heat. There will be other signs as well if the RDT is triggered by the heat, like black dots in the barcode, so the barcode is fine. For the capturing image, I am aware of that, and it is not available yet in the library, so it won't be captu

[2021-02-22 23:33] ellyasafaa commented on #774
@mwkhan1983 Yes, please kindly proceed with that.

[2021-02-22 23:40] ellyasafaa commented on #799
Also, please kindly put all fixed issues that have been created by all of you in this release. Seems like the beta apps is not integrated with the current fixed issues?

[2021-02-22 23:42] ellyasafaa opened #800 "Enhancement: Fuzzy Search Feature"
In the search field, please kindly put the fuzzy search feature. Dr. Anu told me that ONA has created apps with this feature before, so this feature can be available for this apps

[2021-02-22 23:54] ellyasafaa commented on #799
One more thing left, in Media type, please add one more answer option: No media (Dry swab) option. My apologies for this, the option is really important. Our additional requests are related to moving questions, adding questions, and removing required questions because the rest of the issues have been pointed out before and should have been fixed. I believe it can happen faster, right?

[2021-02-23 00:00] ellyasafaa opened #801 "Request permission on Apps enhancement"
- If we did not grant any permission for the apps, it should go to the request permission setting in the device, not suddenly close apps, and go to the home screen of the device.
- Managing call permission: This feature popped up twice, In the new client record and the symptom and history form. Should be only in the new client record
- Request to location permission: This feature popped up three t

[2021-02-23 00:01] ellyasafaa opened #802 "Language consistency"
Bahasa and English are not consistent when we switch/change the language. When changed to English, there are still some pages in Bahasa and vice versa. This includes the validation error message that mostly still in English.

[2021-02-23 00:24] ellyasafaa opened #803 "Patient History Enhancement"
5 enhancement points in patient history page:

![klik tombol ini hingga berwarna hijau untuk memunculkan detail pertanyaan kontak (tracing kontak) (7)](https://user-images.githubusercontent.com/73918009/108787358-2889b100-75a8-11eb-9a59-5121bcb49935.png)

[2021-02-23 00:35] ellyasafaa opened #804 "Record RDT Result Page Enhancement"
![klik tombol ini hingga berwarna hijau untuk memunculkan detail pertanyaan kontak (tracing kontak) (8)](https://user-images.githubusercontent.com/73918009/108788046-b2864980-75a9-11eb-84c0-5a5d4770c63c.png)

I think the automated RDT type feature has been fixed, right?

[2021-02-23 00:55] ellyasafaa opened #805 "RDT Scan Result Page Enhancement"
![klik tombol ini hingga berwarna hijau untuk memunculkan detail pertanyaan kontak (tracing kontak) (9)](https://user-images.githubusercontent.com/73918009/108789258-730d2c80-75ac-11eb-9d3d-fb1b6710a2b1.png)

[2021-02-23 00:58] ellyasafaa commented on #805
The implication would be:

![klik tombol ini hingga berwarna hijau untuk memunculkan detail pertanyaan kontak (tracing kontak) (10)](https://user-images.githubusercontent.com/73918009/108789446-dac37780-75ac-11eb-91a7-da1b15d1ffd6.png)

[2021-02-23 01:03] mberg commented on #800
Fuzzy search for what? We need a better explanation. We haven’t implemented to my knowledge beyond a very basic way.  We don’t have unlimited scope on this work

[2021-02-23 01:04] ellyasafaa opened #806 "Capturing Image Issue"
![klik tombol ini hingga berwarna hijau untuk memunculkan detail pertanyaan kontak (tracing kontak) (11)](https://user-images.githubusercontent.com/73918009/108789841-cc299000-75ad-11eb-8b1a-57bc876865f9.png)

[2021-02-23 01:05] ellyasafaa commented on #806
Added by the RDT ID information on the page should be removed.

[2021-02-23 01:12] ellyasafaa opened #807 "Patient ID confirmation page on RDT Form"
![klik tombol ini hingga berwarna hijau untuk memunculkan detail pertanyaan kontak (tracing kontak) (13)](https://user-images.githubusercontent.com/73918009/108790276-ddbf6780-75ae-11eb-83de-b0d1f3a2fc1b.png)

[2021-02-23 01:15] ellyasafaa opened #808 "RDT Guideline depends on the RDT result"
Creating different follow-up guideline action based on the result, if it is negative or positive.

[2021-02-23 01:18] ellyasafaa commented on #807
Same case as in the sample collection form

![klik tombol ini hingga berwarna hijau untuk memunculkan detail pertanyaan kontak (tracing kontak) (14)](https://user-images.githubusercontent.com/73918009/108790574-a1d8d200-75af-11eb-8d69-d6e978350168.png)

[2021-02-23 01:21] ellyasafaa opened #809 "Punctuation Consistency"
Please kindly check all punctuation on all pages, including space, colon, question mark, and etc.
Found inconsistency in the space of IgG/IgM below

![Screenshot_20210218-174124_RDT Open Reader](https://user-images.githubusercontent.com/73918009/108790723-fd0ac480-75af-11eb-8d82-650da3e6ceef.jpg)

[2021-02-23 01:25] ellyasafaa commented on #800
@mberg for the search field in the apps, to match the pattern approximately because we need to search it with the exact name to be detected on the search field.

[2021-02-23 01:32] ellyasafaa opened #810 "Neater display for the date"
![klik tombol ini hingga berwarna hijau untuk memunculkan detail pertanyaan kontak (tracing kontak) (15)](https://user-images.githubusercontent.com/73918009/108791358-75be5080-75b1-11eb-90eb-6d2dc22832e2.png)

[2021-02-23 01:36] ellyasafaa opened #811 "Small screen size optimization"
On Samsung J5 Pro, the screen will get cut. Could we optimize the screen size for 5-inch phones?

![Screenshot_20210219-132049_RDT Open Reader](https://user-images.githubusercontent.com/73918009/108791590-039a3b80-75b2-11eb-8c74-880a6090fac1.jpg)

[2021-02-23 02:02] ellyasafaa opened #812 "Adding Antigen RDT Configuration"
So CJ sent us the way to have the configuration result, I can do the 1st step to have the image, but is not able to do the other steps. This is really important to be added to the apps asap, because there will be 2 main RDTs that will be deployed: Alltest Antibody and Alltest Antigen RDT. Do you have any suggestions for this?

@mwkhan1983 @vincent-karuri @syedowaisali90

[2021-02-23 07:14] vincent-karuri commented on #801
This is nice to have but won't be part of the release. I believe there's a toast message that explains why the app closed out.

[2021-02-23 07:15] vincent-karuri commented on #802
Please note down all the sections individually. These can be fixed in a subsequent release.

[2021-02-23 07:16] vincent-karuri commented on #800
We can sort by date of patient creation and this is addressed in https://github.com/onaio/rdt-standard/issues/774.

[2021-02-23 07:17] vincent-karuri commented on #807
The intention behind this page is to implicitly answer this specific question.

[2021-02-23 07:20] vincent-karuri commented on #806
I think there was a technical reason behind why we disable back-press for this screen. However, there's a timeout that ensures one can always navigate from the screen.

[2021-02-23 07:20] ellyasafaa commented on #801
@vincent-karuri The message only appears on the request to take pictures and record video permission. For the other request permission, there is no message that appears.

[2021-02-23 07:21] vincent-karuri commented on #805
This can be discussed but won't be part of this release.

[2021-02-23 07:22] ellyasafaa commented on #807
@vincent-karuri How if the identity is different from what listed on the page?

[2021-02-23 07:25] vincent-karuri commented on #803
These are new requests and can be explore in a future release.

[2021-02-23 07:26] vincent-karuri commented on #804
A lot of these questions have been addressed before in previous conversations, including here https://github.com/onaio/rdt-standard/issues/747.

[2021-02-23 07:28] ellyasafaa commented on #806
@vincent-karuri what was the technical reason? Yes, there's a timeout after 30 seconds if it's not automatically captured the RDT.  But, there is no way to go back to the previous page, unless we repeat from the first step (click the RDT form again)

[2021-02-23 07:29] vincent-karuri commented on #807
If the name doesn't match at any point, one can exit the form.

[2021-02-23 07:29] ellyasafaa commented on #805
Please proceed with this in the to-do list.

[2021-02-23 07:30] ellyasafaa commented on #800
@vincent-karuri but I think, it is still necessary to have this.

[2021-02-23 07:30] vincent-karuri commented on #808
It's not clear what this relates to. Please provide more context.

[2021-02-23 07:31] vincent-karuri commented on #809
Could you provide all instances with this problem? These can be addressed in a later release.

[2021-02-23 07:32] vincent-karuri commented on #810
Ok, can be done in a future release.

[2021-02-23 07:33] vincent-karuri commented on #811
Are you able to scroll? Is this output from the J5? If not, please post a picture of what exactly happens.

[2021-02-23 07:34] ellyasafaa commented on #810
@vincent-karuri Yes, please proceed.

[2021-02-23 07:35] vincent-karuri commented on #812
@mwkhan1983 do you know which RDTs these are? I think we already have one Alltest version.

[2021-02-23 07:37] ellyasafaa commented on #804
@vincent-karuri Yes, I am aware of that. Just to point out the display to make it clearer and there is one issue that I think it is really important to have and hasn't been pointed out: the image captured appears on the result page.

[2021-02-23 07:38] ellyasafaa commented on #747
@vincent-karuri how is the autodetected RDT type going?

[2021-02-23 07:40] ellyasafaa commented on #803
@vincent-karuri Yes, please proceed. Will follow up on a regular basis.

[2021-02-23 07:42] ellyasafaa commented on #812
@vincent-karuri The current that has been on the apps is Alltest Antibody Test, the antigen one, you have the info on the sheet, but there is no configuration yet.

[2021-02-23 07:44] ellyasafaa commented on #811
@vincent-karuri Yes, I am able to scroll and this is the output from the J5. However, could we optimize it and adjust the screen size on that device? If the user is not aware that the page can be scrolled, they won't scroll anyway.

[2021-02-23 07:49] ellyasafaa commented on #807
I think it is still best to have the confirmation question to make people more aware. And apart from that, how if only one of the information displayed doesn't match with the real identity and turned out it the mistake from the apps?

[2021-02-23 07:50] ellyasafaa commented on #807
Talking about this, why don't we have an edit feature on the apps?

[2021-02-23 08:02] mwkhan1983 commented on #812
@ellyasafaa this the RDT "Alltest 2019-nCoV IgG/IgM" we have in [FHIR Device definition sheet](https://docs.google.com/spreadsheets/d/1P9yCzXHoy9Dz0_hp43GX_qpOc6Ayvz_D2TCReNVN_n4/edit#gid=0) and this is also part of the app. There is no other Alltest RDT which is part of the list currently.

[2021-02-23 08:12] ellyasafaa commented on #812
@mwkhan1983 Oh, just rechecked and there is no row for that yet.

I think we can provide the information below, do you have the definition for each? I am aware that we can define it by ourselves from the title of the column, but just to make sure that the information given is correct.
RDT_type | GTIN | Product Code | Lines | Sampletypes | Steps | Sampleqty drops | Sampleqty uL | Bufferqty drops |

[2021-02-23 08:48] mwkhan1983 opened #813 "App crashing after logging in from field users created"
Logged in from arang_lotim1 and kotaraja_lotim2 users and app is crashing while syncing right after login.

[2021-02-23 08:54] mwkhan1983 opened #814 "Token is expiring but user is not logged out"
While syncing I am getting the error. See snapshot attached. I have logged out and then logged in, still the same issue, unable to sync due to authentication error. Then cleared data, logged in and finally able to sync.

![Screenshot_20210223-132132](https://user-images.githubusercontent.com/69383347/108820850-994bc000-75de-11eb-9c1a-04047329c77f.png)

[2021-02-23 11:22] #774 closed

[2021-02-23 13:29] vincent-karuri commented on #800
even with the current implementation, it doesn't need the exact name to find a patient

[2021-02-23 13:32] vincent-karuri commented on #799
@ellyasafaa could you specify from which form we are moving `the doctor's name and doctor's phone number` and where within the `symptom and history form` is should be moved to?

[2021-02-23 13:33] vincent-karuri commented on #799
[code]

does this mean that this should be converted into a free-text field that is not pre-filled?

[2021-02-23 14:17] vincent-karuri commented on #811
This was designed to be scrollable since it's possible to add other forms.

[2021-02-23 14:45] mwkhan1983 commented on #811
@ellyasafaa this is out of scope. Please assign some one from your team to work on this. Thanks

[2021-02-23 14:53] mwkhan1983 commented on #807
because it wasn't part of scope

[2021-02-23 15:06] mwkhan1983 commented on #800
@ellyasafaa this is out of scope. SID may assign someone from their team to work on it.

[2021-02-23 15:52] ellyasafaa commented on #799
Yes, as we discussed before

[2021-02-23 16:08] #813 closed

[2021-02-23 16:13] vincent-karuri commented on #799
@ellyasafaa please also address this https://github.com/onaio/rdt-standard/issues/799#issuecomment-784205321

[2021-02-23 16:18] ellyasafaa commented on #799
![klik tombol ini hingga berwarna hijau untuk memunculkan detail pertanyaan kontak (tracing kontak) (16)](https://user-images.githubusercontent.com/73918009/108873059-67ae1580-762d-11eb-9756-3b02e7923bd5.png)

[2021-02-23 16:20] ellyasafaa commented on #799
@vincent-karuri apologies for taking a long time, editing the image first. Please let me know if it is still not clear.

[2021-02-23 16:32] ellyasafaa commented on #812
If the configuration existed, how long will it take to merge it in the apps?

[2021-02-23 18:40] mwkhan1983 opened #816 "App crashing when logging in from any user"
I uninstalled previously installed version first, then did a fresh install of new APK . When I login for first time, it asks for permission and then crashes giving message that 'App stops'. On subsequent logins, it simply crashes. Have tested with sidbetatester1 and other users created.

[2021-02-24 11:00] mwkhan1983 commented on #799
@ellyasafaa I think when we add No media option then Media expiration date and Media lot number shouldn't be there. Please confirm

[2021-02-24 11:48] #816 closed

[2021-02-25 04:46] ellyasafaa commented on #799
@mwkhan1983 The expiration date will be automatically 3 days after the test day

[2021-02-25 04:53] mwkhan1983 commented on #799
`@mwkhan1983 The expiration date will be automatically 3 days after the test day`

@ellyasafaa  This is a totally different requirement.

I am not sure if my question in comment https://github.com/onaio/rdt-standard/issues/799#issuecomment-784994464 is understood correctly.

[2021-02-25 05:10] ellyasafaa commented on #799
@mwkhan1983 Apologies for the unclear explanation. Yes, there will be no media, but Dr. Anu suggested that the part of the media expiration date would be set automatically in 3 days.

[2021-02-25 07:49] vincent-karuri commented on #799
@ellyasafaa is the health worker ID/phone number replacing the doctor's ID/phone number.

CC @syedowaisali90

[2021-02-25 10:46] ellyasafaa commented on #799
@vincent-karuri Yes, because the health worker can cover more general scope of health worker. So, if the test is taken by a doctor or vaccinator, or even a trained midwife, it's still relevant.

[2021-02-25 10:53] mwkhan1983 commented on #802
[images.zip](https://github.com/onaio/rdt-standard/files/6042407/images.zip)
Attached instances where validation messages are in English but should have been in Bhasa.
I didn't find instances where language is english but text appearing in Bhasa.

@ellyasafaa
Please share all language inconsistencies besides what I have attached here by Monday, 1st March

[2021-02-25 10:55] mwkhan1983 commented on #809
@ellyasafaa Please provide all instances with punctuation inconsistency by Monday, 1st March

[2021-02-25 12:30] #799 closed

[2021-02-25 15:22] mwkhan1983 commented on #812
@ellyasafaa please provide the configuration in [FHIR device definition list](https://docs.google.com/spreadsheets/d/1P9yCzXHoy9Dz0_hp43GX_qpOc6Ayvz_D2TCReNVN_n4/edit#gid=0) and reference image

[2021-02-25 19:26] mwkhan1983 opened #820 "Phone number field should only allow digits to be entered"
1. Go to Symptoms & History form - > Pre-existing conditions
Issue is with Health worker phone number

2. Go to Sample collection form
Issue is with Sampler's phone number

[2021-02-25 19:28] mwkhan1983 opened #821 "Name of sampler should be Sampler ID - Sample collection form"
In Sample collection form, 2nd field  'Name of sampler' should actually be 'Sampler ID'

[2021-02-25 19:35] mwkhan1983 commented on #799
@ellyasafaa Please provide translations in transifex for

Sampler ID
Sampler's phone number
Name of health worker
Health worker ID
Health worker phone number

[2021-02-26 09:51] #820 closed

[2021-02-26 10:41] #821 closed

[2021-02-26 11:52] syedowaisali90 commented on #799
@ellyasafaa should i mark the `sampler phone number` field and `health worker phone number` field mandatory.

[2021-03-01 02:14] ellyasafaa commented on #799
Yes, please.

@mwkhan1983 apologies for the late reply. In the last 3 days, I conducted training here in Indonesia, so I didn't catch up with this matter in a timely manner. Will check on transifex. Thank you

[2021-03-01 03:21] ellyasafaa commented on #799
@mwkhan1983 @syedowaisali90 Hi, the onset date on the Sign & Symptom Form still required.

[2021-03-01 07:04] ellyasafaa commented on #809
Apart from the RDT type on the manually record the RDT info above, please find all inconsistencies. Apologies, I put also in the same image for the inconsistent capitalization. Thank you
![klik tombol ini hingga berwarna hijau untuk memunculkan detail pertanyaan kontak (tracing kontak) (18)](https://user-images.githubusercontent.com/73918009/109463099-0f489f00-7a97-11eb-986a-29230339c237.png)

[2021-03-01 07:05] ellyasafaa commented on #802
In addition to your attachment above. Thank you

![klik tombol ini hingga berwarna hijau untuk memunculkan detail pertanyaan kontak (tracing kontak) (17)](https://user-images.githubusercontent.com/73918009/109463160-238c9c00-7a97-11eb-8faf-c381358f5956.png)

[2021-03-02 01:08] ellyasafaa commented on #814
@mwkhan1983 finding the same issue in the production version

[2021-03-02 01:09] ellyasafaa commented on #735
@syedowaisali90 @mwkhan1983 please find the issue to be solved as well.

[2021-03-02 04:23] ellyasafaa opened #830 "Visit data history displayed differently in different devices"
The sync process has gone well, I didn't record it separately, but it worked well. However, when checking on the history visit, it displayed in a different way.
This video represented the 1st device:
https://drive.google.com/file/d/11X7GEiGAwJCooTLh0Mmk9apBijQag3--/view?usp=sharing

This video represented the 2nd device:
https://drive.google.com/file/d/1EQCEf4xoCbWbCtGOhw19kagQKywxpa9V/view?usp=sh

[2021-03-02 04:24] ellyasafaa commented on #814
not only during the sync process, sometimes it appeared after logging in

[2021-03-02 05:39] ellyasafaa opened #831 "Health facility name field"
The field shows the district name instead of the health facility name, but the name of the field is asking to choose the health facility name?

![Screenshot_20210302-063412_RDT Open Reader](https://user-images.githubusercontent.com/73918009/109603316-40d37000-7b54-11eb-91ec-d912aa81bf2b.jpg)

[2021-03-02 10:22] #809 closed

[2021-03-02 12:51] syedowaisali90 commented on #810
@ellyasafaa in English the date duration label is `Test Date` and in Bahasa, it is something like `Tanggal pemeriksaan COVID-19` so could you confirm that is a correct translation in Bahasa.

cc: @mwkhan1983 @vincent-karuri

[2021-03-02 13:56] Mstjamush opened #833 "Scan barcode and Enter RDT manually options don't respond - on the RDT option. If it responds, App crashes on the the preceding page when a user clicks Continue"
Scan barcode and Enter RDT manually options don't respond -  on the RDT option. If it responds, App crashes on the the preceding page when a user clicks Continue

**Steps**
1. Select client and navigate to Client Profile
2. Select RDT
3. Click Locate Me, then Continue.
4. Pick Name of Facility and continue
5. Select Scan barcode (Doesn't respond, and if it does, app crashes on clicking Continue)
6

[2021-03-02 13:58] Mstjamush opened #834 "Sign in token expires and App shows "Sign-in error for indtester1" even when successfully logged in on the device notification bar"
Sign in token expires and App shows  "Sign-in error for indtester1" even when successfully logged in on the device notification bar

![Screenshot_20210302-165750_RDT Open Reader](https://user-images.githubusercontent.com/29072646/109659210-80ac4e80-7b78-11eb-848a-65a4f93d7d91.jpg)

[2021-03-02 14:01] Mstjamush opened #835 "Translations (Below are untranslated pages)"
Translations (Below are untranslated pages)

- Two pages on the Symptoms and history
- On the Sample Collection page
- Error Messages on the Other clinical data page

![20210302_163757](https://user-images.githubusercontent.com/29072646/109659577-df71c800-7b78-11eb-86f6-7e6875c05092.jpg)
![Screenshot_20210302-162922_RDT Open Reader](https://user-images.githubusercontent.com/29072646/109659596-e39d

[2021-03-02 14:03] Mstjamush opened #836 "Design issue. The back arrow after one selects "Scan barcode" looks floating"
Design issue. The back arrow after one selects "Scan barcode" looks floating

--See Screenshot

![Screenshot_20210302-163915_RDT Open Reader](https://user-images.githubusercontent.com/29072646/109659715-07612b80-7b79-11eb-9a12-7d9c749218d8.jpg)

[2021-03-02 15:16] vincent-karuri commented on #836
is onescan installed on the device?

[2021-03-02 15:20] Mstjamush commented on #836
@vincent-karuri let me test with oneScan and revert

[2021-03-02 15:31] vincent-karuri commented on #833
is onescan installed on the device?

[2021-03-02 15:33] Mstjamush commented on #836
@vincent-karuri Tested. Issue was OneScan but we will need to inform the user to install OneScan. This was in one of the previous versions.

[2021-03-02 16:36] vincent-karuri commented on #836
@Mstjamush I agree with showing a message to the user

[2021-03-02 16:41] vincent-karuri commented on #799
@ellyasafaa is the date supposed to be mandatory or should it be optional. It was made optional as was asked in the issue description https://github.com/onaio/rdt-standard/issues/799#issue-813950999.

[2021-03-02 16:55] vincent-karuri commented on #834
closing as duplicate of https://github.com/onaio/rdt-standard/issues/814

[2021-03-02 16:55] #834 closed

[2021-03-02 17:41] #802 closed

[2021-03-03 08:19] mwkhan1983 commented on #831
@vincent-karuri will it be possible to show health facilities here instead of districts?

[2021-03-03 09:16] vincent-karuri commented on #831
The dropdown shows the location an organization is tied to. So I don't see a way around this.

[2021-03-03 10:17] mwkhan1983 commented on #810
@ellyasafaa please need your input on this. See Owais comment above

[2021-03-03 10:34] syedowaisali90 commented on #802
@ellyasafaa could you double on Transifex translation because some of the keys that need to be checked are properly translating or not like there is no translation found of `Other Clinical Data` form.

[2021-03-03 10:54] ellyasafaa commented on #810
@syedowaisali90 Yes, that is correct. However, after seeing the context, it is about the duration and not the date, so the correct one should be:

**Hari Periksa: 6 hari lalu**

6d is not in Bahasa, it is in English

Apart from this date, there are several date duration label that have the same issues. Have you looked at those?

[2021-03-03 10:56] ellyasafaa commented on #802
Apologies, one more thing left. The Yes and No option should be in Bahasa. I think I have translated the Yes/No strings several times. Is it not included here?

![Screenshot_20210303-174916_RDT Open Reader](https://user-images.githubusercontent.com/73918009/109795613-b705ce80-7c49-11eb-8547-1b9af8e079a7.jpg)

[2021-03-03 10:57] ellyasafaa commented on #802
What do you mean by double? double checked?

[2021-03-03 10:58] ellyasafaa commented on #796
Uploading WhatsApp Video 2021-03-03 at 5.00.54 PM.mp4…

RDT Antibody

[2021-03-03 11:01] ellyasafaa commented on #796
https://user-images.githubusercontent.com/73918009/109795923-1e238300-7c4a-11eb-81f8-1b2abcbbdcb4.mp4

on Antibody RDT - AllTest

[2021-03-03 11:10] ellyasafaa opened #838 "Not logged out after the session expired"
![IMG-20210303-WA0033](https://user-images.githubusercontent.com/73918009/109797060-8757c600-7c4b-11eb-95fd-18d72b2853b7.jpg)

The notification will appear in various conditions: filling in the pre-existing condition form, looking at patient history data, looking at the menu, etc. There is no specific condition that caused that and the condition will lead the user to the login page. It happened fr

[2021-03-03 11:10] ellyasafaa commented on #838
@mwkhan1983 @vincent-karuri @syedowaisali90

[2021-03-03 11:24] ellyasafaa commented on #799
should be optional. I checked with the last apps that I have, it was still mandatory

[2021-03-03 11:25] ellyasafaa commented on #799
if you get confused, this comment is FYI comment.

[2021-03-03 16:30] syedowaisali90 commented on #802
@ellyasafaa sorry, yes i mean double check

[2021-03-04 05:11] ellyasafaa commented on #812
Please kindly find the configuration and the reference image:

"covid19_prevent_tb": {
"REF_IMG": "covid19_prevent_tb_ref_v0",
"VIEW_FINDER_SCALE": 0.6,
"RESULT_WINDOW_TOP_LEFT": [111, 246],
"RESULT_WINDOW_BOTTOM_RIGHT": [144, 399],
"TOP_LINE_POSITION": [128, 295],
"MIDDLE_LINE_POSITION": [128, 362],
"TOP_LINE_NAME": "Control",
"MIDDLE_LINE_NAME": "Test",
"LINE_INTENSITY": 85
},
"covid19_preventpl

[2021-03-04 06:27] mwkhan1983 commented on #812
@ellyasafaa Please also provide **GTIN** for these RDTs

[2021-03-04 06:31] ellyasafaa commented on #812
@mwkhan1983

Antigen 6970277515719
Tb 6970277514095
Malaria 6970277514217

[2021-03-04 06:32] ellyasafaa commented on #812
Since the configuration has not been tried yet, we don't know whether it will be successful or not.

[2021-03-04 06:36] ellyasafaa commented on #812
I think for TB the name of the config should be different. Please kindly erase the covid19 on the Prevent TB including in the REF_IMG

[2021-03-04 06:39] mwkhan1983 commented on #812
@ellyasafaa please make the necessary changes and resend

[2021-03-04 06:44] ellyasafaa commented on #812
You can simply change the name.

"Prevent_tb": {
"REF_IMG": "Prevent_tb_ref_v0",
"VIEW_FINDER_SCALE": 0.6,
"RESULT_WINDOW_TOP_LEFT": [111, 246],
"RESULT_WINDOW_BOTTOM_RIGHT": [144, 399],
"TOP_LINE_POSITION": [128, 295],
"MIDDLE_LINE_POSITION": [128, 362],
"TOP_LINE_NAME": "Control",
"MIDDLE_LINE_NAME": "Test",
"LINE_INTENSITY": 85
},
"covid19_preventplus_ag": {
"REF_IMG": "covid19_preventplus_ag_r

[2021-03-04 07:17] ellyasafaa opened #840 "Email validation error message disappeared"
On the new client record, found the email validation error message does not appear. Please kindly find the image for your reference.

![Screenshot_20210304-141428_RDT Open Reader](https://user-images.githubusercontent.com/73918009/109925429-5384ab00-7cf4-11eb-99a4-517cf25e7c9e.jpg)

@mwkhan1983 @vincent-karuri

[2021-03-04 08:50] mwkhan1983 commented on #812
@ellyasafaa I have added config and ref image in required places. Please provide information in these columns in FHR device def sheet where missing for 2 RDTs provided (last 2 rows):
RDT_type | GTIN | Product Code | Lines | Sampletypes | Steps | Sampleqty drops | Sampleqty uL | Bufferqty drops | Bufferqty drops max | Bufferqty uL | minimumtimeforresult | maximumtimeforresult | low_temp | high_temp

[2021-03-04 10:26] mwkhan1983 commented on #833
this seems to work for me on Android 10

[2021-03-04 11:52] Mstjamush commented on #833
@vincent-karuri Tested. Issue was OneScan but we will need to inform the user to install OneScan. This was in one of the previous versions.

[2021-03-04 11:54] vincent-karuri commented on #833
ok, closing as resolved

[2021-03-04 11:54] #833 closed

[2021-03-04 11:54] vincent-karuri commented on #836
ok, closing as resolved

[2021-03-04 11:54] #836 closed

[2021-03-04 11:54] vincent-karuri opened #842 "Alert user when OneScan is not installed on device"

[2021-03-05 00:04] ellyasafaa commented on #802
I have double-checked the translation there, apart from the resource: rdt-open-reader..json.form/patient-diagnostics-form.json (master), everything has been translated, but I don't find any string of: value cannot be this low.

[2021-03-05 00:07] ellyasafaa commented on #802
I couldn't find also the email validation error message string on the patient registration form resource.

[2021-03-05 00:47] ellyasafaa commented on #812
@mwkhan1983 I have added all information needed and just saw the comment about the GTIN that should be 14 digits. Sorry, when I double-checked it, I changed the GTIN and made it suitable with the information I shared with you here, so now it becomes 13 digits. Why should we have it 14 digits? Could you recheck and change what needed there?

[2021-03-05 00:59] ellyasafaa commented on #812
For the antigen RDT, the one that we have tried to create the barcode is the 13 digits GTIN, should we change that to the 14 digits number? How will the GTIN information on the sheet be used on the apps? Which function of the apps will be affected?

[2021-03-05 06:36] syedowaisali90 commented on #810
@ellyasafaa could you shorten the translation of `Test Date` in Bahasa.

[2021-03-05 06:54] ellyasafaa commented on #810
As I mentioned, it would be best like this:

**Test date: 6d** = **Hari Periksa: 6 hari lalu**

Can we make it like this?

[2021-03-05 07:47] syedowaisali90 commented on #810
yeah, that's fine

[2021-03-05 08:45] vincent-karuri commented on #812
The GTINs must be 14 digits, you can have a look at this issue https://github.com/onaio/rdt-standard/issues/302.

[2021-03-05 08:46] vincent-karuri commented on #812
Official GTINs from manufacturers are 14 digits. If you create an artificial one, you should generate 13 unique digits + 1 check digit generated from the Luhn algoritm (used in validating the GTIN value).

[2021-03-05 09:06] syedowaisali90 commented on #810
@ellyasafaa could you close this issue.

[2021-03-05 11:41] ellyasafaa commented on #802
Also, the phone number validation error message on new client record is still in English

[2021-03-05 12:39] #814 closed

[2021-03-05 13:59] syedowaisali90 commented on #802
@ellyasafaa did you check the latest build?

[2021-03-05 14:19] mwkhan1983 commented on #812
@ellyasafaa for Malaria Prevent RDT, what each of these means in terms of capture and interpretation `C/Pan/P.v./P.f.`
since this application is for Covid, only following list of codes are supported:
[code]
We will be excluding Malaria Prevent RDT

[2021-03-05 15:34] #812 closed

[2021-03-05 17:18] #775 closed

[2021-03-06 07:34] ellyasafaa commented on #812
@vincent-karuri
From the issue there that you showed me, in the comment section, there is this info:

Packaging level 1 digit from 0 smallest unit to 8 being a pallet. In this example, it is “0”
Company unique identification and product code. In this example, it is the number from ALL TEST and it is “697027751469”
Check Digit and in this case the value is “9”

Dr. Anu told me that there is no chec

[2021-03-06 08:25] ellyasafaa commented on #802
@syedowaisali90 Yes, I have checked it. I have sent the translation info for the other clinical data form to Wasim via email. The phone number validation error message have been corrected. Thanks! However, I need a translation for the account disabled message after the session expired. Could you give me the string for that to be translated? And also the yes or no in below message: