[2021-03-08 06:14] mwkhan1983 opened #897 "Last sync time not refreshing when you stay on home screen"
Press Sync. When sync is completed, see that the last sync time does not refresh in drawer menu. Now navigate away from home screen and then come back to the home screen. Open drawer menu, it shows updated last sync time.

[2021-03-08 10:24] syedowaisali90 commented on #802
@ellyasafaa Hey these are the strings of the account disabled popup.

https://github.com/OpenSRP/opensrp-client-core/blob/fec5e95c5c12a0f0688f53555f51b0eab18eb8c1/opensrp-app/res/values/strings.xml#L388-L389

and these are for yes and no

https://github.com/onaio/rdt-standard/blob/b3b30209c127fe584a22b1e0c0d49d9e717c28a8/rdt-open-reader/src/main/res/values/strings.xml#L64-L65

[2021-03-08 10:42] ellyasafaa commented on #802
@syedowaisali90 I think I have translated the yes and no on Transifex this morning. There are some other strings that I translated too, but will do translate strings that you sent above. Have you gotten the value validation error message translation yet from Wasim? I have translated it manually too.

[2021-03-08 11:03] ellyasafaa commented on #802
For account disabled popup
[code]

For Yes/No
[code]

[2021-03-08 14:26] vincent-karuri commented on #830
@syedowaisali90 could you check on the date used in creating the visits. Verify that it is the date the event is originally created on the client and not on the date of creation on the server.

[2021-03-08 23:22] ellyasafaa commented on #830
Now, the history is not displayed at all:
https://drive.google.com/file/d/1HlRAp1OL8FrHA7TN8ZyuFDMl2klFO0_S/view?usp=sharing

[2021-03-09 07:26] ellyasafaa opened #902 "The country question on Travel and Contact Exposure form is not allowing space"
In the international travel question, there is a question asked about the country that was travelled from. It is not allowing space character there, so if the country consists of 2 words, it cannot be submitted.

![Picture2](https://user-images.githubusercontent.com/73918009/110435227-54974d00-80e5-11eb-92c1-51e0fa73efc3.jpg)

[2021-03-09 07:42] ellyasafaa opened #903 "Changing the format of WhatsApp number and Household phone number to be in phone-number format"
The WhatsApp number and household phone number in the new client record are in text format. Phone number information will be important, so if it is mistakenly typed with text, it will ruin the validity of the data.

[2021-03-09 07:52] ellyasafaa opened #904 "The history visit data is not displayed after being filled in"
https://github.com/onaio/rdt-standard/issues/830#issuecomment-793163436

[2021-03-10 04:50] ellyasafaa commented on #772
For reference:
![developed by](https://user-images.githubusercontent.com/73918009/110578158-bb287380-8196-11eb-838c-d8413c758a81.png)

[2021-03-10 05:05] ellyasafaa commented on #838
Here is one of the examples. It is seen only a few seconds, but actually, it happened for about a minute. At that amount of time, the user is able to fill in some data, but since the session expired, it is not logged out.

https://drive.google.com/file/d/1HvAmN91ofgCQhTn85M6Bz_ibtUxT63Td/view?usp=sharing

[2021-03-10 05:07] ellyasafaa commented on #812
Don't forget to change the GTIN

Malaria: 06970277514217
Antigen: 06970277515719
TB: 06970277514095

[2021-03-10 05:09] ellyasafaa opened #906 "The RDT data displayed in history does not cover all information needed"
![Patient History Form](https://user-images.githubusercontent.com/73918009/110579397-502c6c00-8199-11eb-9dad-203ada3417ab.png)

This is critical to be solved since the information is important to be known by the user.

[2021-03-10 05:12] ellyasafaa opened #907 "Not allowing enter in the answer field on the new client record form"
Enter is allowed in the new client record form. However, in the other forms, it is not allowed because there will be validation error messages saying “only alphabet characters allowed”. Please kindly also apply that to the answer field in the new client record.

[2021-03-10 05:14] ellyasafaa opened #908 "The data is not always sorted based on the registration time"
The data is not always sorted by the registration date because if you use two devices with the same username and entered the data, the data from the first device will appear in the first order even though you registered the patient from the second device after the patient from the first device. ONA is adding the feature, so ONA can take a look at the issue.

[2021-03-10 05:15] ellyasafaa opened #909 "Adding ID number for location"
The location should be linked with location ID based on Indonesia government location ID standard (BPS) so the data can be linked with other data in the government. Since it will be developed with the government, this will be necessary.

[2021-03-10 05:16] ellyasafaa opened #910 "Handling expired session issue - UX improvement"
Removing the signing-in error notification and changing the message displayed, from:

**Account Disabled**
You have been logged off as your account has been disabled. Please contact your administrator.

To be:

**Session Expired**
Your session has expired. Please login again to continue working.

[2021-03-10 05:19] ellyasafaa opened #911 "Inconsistent font size for required field and validation error message information"
There is inconsistent font size for required field and validation error message information as displayed in the image below:
![Screenshot_20210308-082212_RDT Open Reader](https://user-images.githubusercontent.com/73918009/110580222-c67d9e00-819a-11eb-87a6-5a9c62c6caf1.jpg)

This will affect users’ perspective towards the professionality of the developer.

[2021-03-10 05:21] ellyasafaa opened #912 "Adding sort button"
Currently the data will be sorted automatically based on the date when the patient registered. However, it will be more useful if there is a sort button so the user can sort the patient based on either the oldest to the newest date or vice versa.

https://github.com/onaio/rdt-standard/issues/774#issuecomment-772963772

https://github.com/onaio/rdt-standard/issues/774#issuecomment-773857702

[2021-03-10 05:27] ellyasafaa opened #913 "Next page feature improvement"
![Screenshot_2021-03-10-12-24-24-409_io ona diagnostics rdt configurable id](https://user-images.githubusercontent.com/73918009/110580667-b4502f80-819b-11eb-910a-1ab2468f9c1d.png)

The next page will be more user-friendly if the 1 on the Halaman 1 dari 2 (in English: Page 1 of 2) can be typed manually. How if there are 300 pages and the users want to check page 295 to page 300? It will be exhausti

[2021-03-10 05:32] ellyasafaa opened #914 "Changing the country and city answer format to be drop-down lists"
The country and the city format are not short-answer type fields. It could be made as a drop-down list or anything that can be chosen, not written. Please kindly assist the SID IT team to evaluate the work needed.

https://github.com/onaio/rdt-standard/issues/703#issuecomment-758657465

https://github.com/onaio/rdt-standard/issues/703#issuecomment-759899085

https://github.com/onaio/rdt-standard/i

[2021-03-10 14:59] syedowaisali90 commented on #830
@vincent-karuri I have checked the date event date is originally created date on the client-side and maybe, it's a syncing issue

[2021-03-10 15:03] syedowaisali90 commented on #830
@ellyasafaa is it was reproducing or it happened only once.

[2021-03-10 16:01] vincent-karuri commented on #830
Thanks @syedowaisali90 .

@ellyasafaa could you provide exact steps to reproduce this?

[2021-03-11 07:12] vincent-karuri commented on #906
@mwkhan1983 isn't this marked as SID [here](https://drive.google.com/file/d/1SQOvfdUGgQ7G3ePux65G9K3DJYKmiiHN/view)?

[2021-03-11 07:17] mwkhan1983 commented on #906
Since Owais is looking at history issue and SID would be engaged with
Adding RDT type and health facilities issue from Friday, it would be  good
if Owais can look into this.

We can then transfer knowledge about this in one of the calls.

On Thu, Mar 11, 2021, 12:12 PM vincent-karuri <notifications@github.com>
wrote:

[2021-03-11 07:19] mwkhan1983 opened #915 "Android 10 - Symptoms and history - forms does not allow you to go back to previous form"
Tap on Symptoms and history, fill in pre-existing conditions form and press continue. Once on next form, try to press android back button. It will not move to previous form.

[2021-03-11 07:31] mwkhan1983 opened #916 "Android 10 - White screen when pressing back after Scan barcode function"
Steps to reproduce:

1. Tap on RDT
2.  Tap on Locate Me
3. Tap on Continue
4. Select facility and tap on continue
5. tap on Scan barcode
6. Tap back button

It is showing white screen.

[2021-03-11 07:39] mwkhan1983 opened #917 "Android 10 - Not opening camera for RDT Scan, shows white screen"
This is happening in both cases, `Scan barcode` and `Enter RDT manually`

**Scan barcode and capture RDT**

Steps to Reproduce:
1. Tap on RDT
2. Tap on Locate Me
3. Tap on Continue
4. Select facility and tap on continue
5. tap on Scan barcode
6. Scan barcode and tap continue
7. On confirm RDT details, tap continue
8. Tap Capture RDT

It should open camera for capturing RDT but instead shows white

[2021-03-11 07:51] mwkhan1983 opened #918 "Android 10 - Issue with Shipping preparation scan barcode"
Please see the attached video

https://drive.google.com/file/d/1sX-kYYw1du99x3u99_FYLgxY8UcckdW8/view?usp=sharing

[2021-03-11 07:56] mwkhan1983 opened #919 "Android 10 - Shipping preparation, Crash when sample shipment details form"
Please see video. It may happen when opening form 2nd or 3rd time

https://drive.google.com/file/d/1sYqGbvyfMR-H8dU92q_hzCJ2Dm6wja6O/view?usp=sharing

[2021-03-11 07:57] mwkhan1983 commented on #788
QA issues for Android 10 PR:

https://github.com/onaio/rdt-standard/issues/915
https://github.com/onaio/rdt-standard/issues/916
https://github.com/onaio/rdt-standard/issues/917
https://github.com/onaio/rdt-standard/issues/918
https://github.com/onaio/rdt-standard/issues/919

[2021-03-11 08:08] vincent-karuri commented on #918
@mwkhan1983 Could you point the camera at one barcode at a time?

[2021-03-11 08:39] mwkhan1983 commented on #918
https://drive.google.com/file/d/1sjb-otPwJwZ-eccdvU89soGRLUPIyI8Q/view?usp=sharing

[2021-03-11 08:53] vincent-karuri commented on #906
we still have 4 and 11 outstanding that was originally allocated ona/sid, right?

[2021-03-11 10:02] #897 closed

[2021-03-11 10:13] vincent-karuri commented on #796
@ellyasafaa OneScan developers and myself have been unable to reproduce this both when using the OneScan app directly and when using the integrated version on the CTS app.

After discussing with Zebra and as a follow up could you provide:

- version of CTS app this is tested on
- version of OneScan app installed on the device
- exact barcode sample that caused the problem
- clean and direct explan

[2021-03-11 10:18] vincent-karuri commented on #796
![41c2929b-8653-41ad-91b3-9b6cb267e4c1](https://user-images.githubusercontent.com/33488286/110771925-1d06dd00-826c-11eb-9279-45ff415f53a0.jpg)

This is the barcode we tested on (which was shared as problematic by SID) but which was always marked as valid in multiple trials on CTS and OneScan apks.

[2021-03-11 10:49] mwkhan1983 commented on #796
@ellyasafaa apk to test this issue
https://drive.google.com/file/d/1zQNHhE9kObzunW46jz5J3XZez-5G3n85/view?usp=sharing

[2021-03-11 11:05] vincent-karuri commented on #906
We'll swap this issue out for https://github.com/onaio/rdt-standard/issues/830 since it's blocked by https://github.com/onaio/rdt-standard/issues/830#issuecomment-795654818.

[2021-03-11 15:44] vincent-karuri commented on #918
thanks, what exactly is the issue here? That the preview screen briefly appears?

[2021-03-12 02:20] ellyasafaa commented on #830
I tried it twice, but for the first one, I didn't take any video of it. Now, I'm checking it, I'm still not able to reproduce that, but the strange thing is in Ujian Satu patient history, I've just checked the history and it appeared. So, I thought, the problem is in the sync process. However, when I checked it, the history that appeared in Ujian Satu's history on March 8, was the history of Andik

[2021-03-12 02:22] ellyasafaa commented on #830
So the Ujian Satu's history on March 8 is not recorded, but it turned out putting other patient's history in the history section

[2021-03-12 02:25] ellyasafaa commented on #830
As in the video I sent you, I filled in the history as usual: choosing one patient > clicking symptom and history form > filling in all information > submit, and it just happened even after I synced it

[2021-03-12 02:28] ellyasafaa commented on #830
For this comment https://github.com/onaio/rdt-standard/issues/830#issuecomment-797187373, as a user, I think the issue is still related to each other: patient history issue in general. However, if you think you'll need to open a new issue on Github to fix this, just let me know.

[2021-03-12 05:05] ellyasafaa commented on #796
- version of CTS app this is tested on v1.9.1-playstore-release-CONFIGURABLE-RDT-SID (built on 12 Mar 2021)
- version of OneScan app installed on the device is onescan-0.9.54-demo-basic
- exact barcode sample that caused the problem: The picture on the drive folder shared below. There are 6 barcodes that have the same issue and replicated both on ONA Mock App and CTS App. On ONA Mock App, it is wr

[2021-03-12 05:16] ellyasafaa opened #921 "Crashes after scanning RDT barcode and capturing image"
It happened on Samsung J5 Android 9.

After scanning the RDT barcode multiple times, the screen turned black and it crashes.

The result page showed up, but it cannot be clicked or it can be clicked but the screen turned black and crashed afterward. I believe this is not a memory issue since I have checked the RAM used and the phone memory, there is no issue about that.
Please take a look at the v

[2021-03-12 05:24] ellyasafaa opened #922 "Cannot log in although the username and creds are correct"
It won't log in although the username and creds are correct.

This is the condition after logging out (not freshly installed):
https://drive.google.com/file/d/12IVR3NoksxPf6mp_urqt0AnDmxkNzxbJ/view?usp=sharing

And the second condition is after crashes happened, it won't log in. After clearing the data, it then wants to log in. I think this should be fixed.
https://drive.google.com/file/d/1270jdZb

[2021-03-12 05:25] ellyasafaa commented on #922
It happened on Samsung J5 Android 9, Redmi 5 Plus Android 7.1.2, and Oppo A5S Android 8.1.0

[2021-03-12 05:51] ellyasafaa commented on #922
I'm pretty sure Mas Yussin experienced the issue as well

[2021-03-12 05:55] vincent-karuri commented on #922
@ellyasafaa where is `rarang_lotim` in the [list of users](https://docs.google.com/spreadsheets/d/1tGc3IDLwxZ3QMg7_kjWHov_n8VOsl080MXFF3ZY9UDQ/edit#gid=1625211032)? Isn't it `rarang_lotim1`?

Also, you shouldn't be mixing logins on the same device, use one login on one device.

Also, I hope the drive links are not public. The videos expose the login credentials for the app.

[2021-03-12 06:03] ellyasafaa commented on #922
@vincent-karuri My bad. The first video was not checked correctly.

```Also, you shouldn't be mixing logins on the same device, use one login on one device.```
Yes, I am aware of that. Just experimenting in case it can work.

```Also, I hope the drive links are not public. The videos expose the login credentials for the app.```
Yes, of course. This is a restricted folder. Only Wasim and you can ch

[2021-03-12 06:04] vincent-karuri commented on #921
@ellyasafaa please narrow down on the times the crash happens and list the steps to reproduce it, including any barcodes that were used when it was consistently reproduced.

Also, the logins here should not be on public links, please share the links privately in subsequent reports and remove them here.

[2021-03-12 06:13] ellyasafaa commented on #921
It is a restricted access folder. Only people who I add to the folder can see that. Outside SID personnel, they are only you and Wasim.

Will do listing all of that.

[2021-03-12 10:19] #760 closed

[2021-03-12 12:57] vincent-karuri commented on #830
thanks @ellyasafaa. @syedowaisali90 could you try creating a new patient and creating visit data to see if it shows. And create a second patient and record data against them as well. See if any of the issues arise?

[2021-03-12 12:59] vincent-karuri commented on #922
For the second video, please provide clear steps to reproduce it. I'd advise looping in your IT team as needed as they may be looking into this issue.

[2021-03-12 13:04] vincent-karuri commented on #796
thanks @ellyasafaa sharing this with Zebra

[2021-03-12 13:43] syedowaisali90 commented on #830
@vincent-karuri I have created a patient named `Jimmy` and submitted the visit and checked that the visit which was showing in the patient history and it was showing correctly and done the same process with creating another patient named `Jack`

[2021-03-15 07:32] #906 closed

[2021-03-16 12:27] syedowaisali90 commented on #903
@yussin-hidayat Please add those keys and value https://github.com/onaio/rdt-standard/blob/b6bd1ae5618c47f42edb2d8dddc3dedd21870332/rdt-open-reader/src/covidIndonesia/assets/json.form/patient-registration-form.json#L526-L540 in `patient-registration-form.properties` file

[2021-03-17 04:28] mwkhan1983 commented on #897
@syedowaisali90 its good that sync time is refreshing now when stay on home screen. However, if you navigate to some other screen and come back to home screen, sync date/time is not shown.

[2021-03-17 04:29] mwkhan1983 commented on #840
blocked by app crashing on opening new client record form

[2021-03-17 04:30] mwkhan1983 commented on #903
@yussin-hidayat app crashing on opening new client record form so this could not be tested

[2021-03-17 05:25] mwkhan1983 commented on #760
@yussin-hidayat when RDT type is antibody, RDT result options are `Reactive` and `Non-Reactive`.  When "Reactive" is selected, it should show IgG and IgM but NOT when "Non-Reactive" is selected. Currently, it shows the follow-up question in any case, that is, whether `Reactive` is selected or `Non-Reactive` is selected.

[2021-03-17 05:26] syedowaisali90 commented on #897
@mwkhan1983 https://github.com/onaio/rdt-standard/pull/899#discussion_r590264562

[2021-03-17 05:31] mwkhan1983 commented on #897
@syedowaisali90 problem in this case is we have to sync every time to see the last sync time.  Without it, it never shows you time except you stay on home screen :)

[2021-03-17 12:02] #903 closed

[2021-03-17 12:21] #830 closed

[2021-03-18 05:35] #902 closed

[2021-03-18 05:50] syedowaisali90 commented on #915
@mwkhan1983 I have also Android 10 and the form working fine on the steps that you have described. Therefore, could you share a video of what you are doing.

cc: @vincent-karuri

[2021-03-18 05:53] mwkhan1983 commented on #915
@syedowaisali90 you have to check this on separate branch of code. Native forms PR is merged in that code I believe. That code is not merged with master. @vincent-karuri can better guide on that.

[2021-03-18 06:00] syedowaisali90 commented on #915
@mwkhan1983 I have tested the issue by using the master branch. So, if the issue was fixed in some other branch and that has been merged in master then why we checking this issue in another branch.

[2021-03-18 07:03] vincent-karuri commented on #915
All issues marked as Android 10 should be tested on https://github.com/onaio/rdt-standard/pull/591. Update this with latest master before proceeding with testing.

[2021-03-19 08:10] ellyasafaa commented on #831
@vincent-karuri Hi Vincent, what is the status of this?

[2021-03-19 09:51] vincent-karuri commented on #831
this should be fixed now, you can verify with the playstore apk

[2021-03-19 09:56] vincent-karuri commented on #831
ensure you uninstall the app first

[2021-03-19 10:01] mwkhan1983 opened #931 "User tied to health facility A should not be able to see data entered by user tied to health facility B"
Steps to reproduce:

1. Login from rarang_lotim1, create a patient record "Patient A"
2. Sync data
3. Login from kotaraja_lotim2
4. Patient A is see on client list

![Screenshot_20210319-144916](https://user-images.githubusercontent.com/69383347/111763197-a731ef80-88c3-11eb-8809-f972b4afa23b.png)

In above SS, I am logged in from kotaraja_lotim2 but can see client "Patient Lotim1" created from use

[2021-03-19 10:16] ellyasafaa commented on #831
@vincent-karuri is it uploaded on playstore or the last playstore apk that Wasim sent?

[2021-03-19 11:01] vincent-karuri commented on #831
on playstore

[2021-03-19 12:57] syedowaisali90 commented on #916
@mwkhan1983 it's working fine for me, could you show me a short video

[2021-03-24 09:28] syedowaisali90 opened #940 "App Crashing Due to asking Phone Permission"

[2021-03-24 09:45] mwkhan1983 commented on #788
@syedowaisali90 as per attached apk shared with me, issues #915, #916, #917, #918, #919 does not seem to be occurring any more. However, issue of app crashing when opening form first time on Android 10 is happening.

[2021-03-24 10:00] syedowaisali90 commented on #788
@mwkhan1983 I have created a separate issue for that #940

[2021-03-24 11:16] vincent-karuri commented on #788
what branch is the apk based off-of? doesn't seem like the Android 10 branch. https://github.com/onaio/rdt-standard/issues/788#issuecomment-805663608 should not be an issue on the Android 10 branch.

[2021-03-24 11:23] syedowaisali90 commented on #788
The APK that I have shared with @mwkhan1983 based on master branch + native-form-optimized branch + issue-915 branch.

[2021-03-24 11:25] syedowaisali90 commented on #788
https://github.com/onaio/rdt-standard/issues/788#issuecomment-805663608 This issue has been fixed on the native-form latest version which is `2.0.6-SNAPSHOT@aar`

[2021-03-24 12:25] mwkhan1983 commented on #788
@syedowaisali90 so can you please share the apk with based on master branch + native-form-optimized branch (2.0.6) + issue-915 branch?

[2021-03-24 13:37] vincent-karuri opened #941 "Update RDT staging url"
We need to point RDT debug apks to the new url https://rdt.labs.smartregister.org/opensrp/  and validate that everything works as expected.

[2021-03-24 14:55] #803 closed

[2021-03-24 14:56] #772 closed

[2021-03-25 05:23] mwkhan1983 commented on #788
@syedowaisali90 with the new apk with `2.0.6-SNAPSHOT`  https://github.com/onaio/rdt-standard/issues/788#issuecomment-805663608 is resolved. However, this https://github.com/onaio/rdt-standard/issues/917 issue returns and need to be fixed

[2021-03-25 06:05] #915 closed

[2021-03-25 08:16] #842 closed

[2021-03-25 10:26] #940 closed

[2021-03-25 10:26] #917 closed

[2021-03-25 11:29] mwkhan1983 commented on #919
not reproducing

[2021-03-25 11:30] mwkhan1983 commented on #916
not reproducing on latest version

[2021-03-25 11:30] #916 closed

[2021-03-25 14:47] syedowaisali90 commented on #838
Hi @ellyasafaa ,

The reason happening the logout frequently and suddenly is that because we are trying to attempt sync multiple times even it's failing. Moreover, We also trying to push the data on the server even the authorization has been failed.

To overcome this problem, I have reduced the number of retries after a failed sync to 1 from the current 3 and also stop to pushing the data on the s

[2021-03-25 15:33] vincent-karuri commented on #838
@syedowaisali90, As discussed, we don't need to reduce the retries with the configuration change.

[2021-03-25 15:49] vincent-karuri commented on #838
We also won't be attempting sync when authorization fails, so it should logout the user faster

[2021-03-26 07:57] #910 closed

[2021-03-29 07:45] yussin-hidayat commented on #931
Hi @vincent-karuri, I found in `core.client` table that every client have `teamId` and `locationId`. And in the app, `RDTSyncConfiguration`, client is filtered by `TEAM_ID.` So if I'm not mistaken, currently there is only 2 filter options: team and location. How to add the filter by `health facility`?

[2021-03-29 08:06] #907 closed

[2021-03-29 09:14] vincent-karuri commented on #931
Do we need to filter by health facility? Each team is tied to a health facility so syncing by team should ideally have the same result.

Are the correct teams assigned to the users in the DB? Are the correct teams synced on the device for each user?

[2021-03-29 10:10] yussin-hidayat commented on #931
I think the teams its not assigned to the correct users. In which table these information are stored (team and health facility)?

[2021-03-29 11:31] vincent-karuri commented on #931
check the `team` schema on postgres

[2021-03-31 06:39] anuraj-shankar commented on #931
When testing this please use a dummy data intentionally constructed with the scenarios you want to test. That will make the verification faster and possibly more complete, rather than using the actual field data we have now.

[2021-03-31 06:40] anuraj-shankar commented on #931
Once the dummy data check out, then move to the field data.

[2021-03-31 07:00] yussin-hidayat commented on #931
Done. The problem is every health worker users are member of health facility and DHO, and supervisor users only member of DHO.

For example we have user **A** and **B** as health worker, and **C** as supervisor.
And organization named **X** and **Y** as health facility, and **Z** as DHO.
**A** is member of **X** and **Z**.
**B** is member of **Y** and **Z**.
**C** is member of **Z**.
If **A** regi

[2021-03-31 07:08] mwkhan1983 commented on #931
@vincent-karuri do you have any questions on https://github.com/onaio/rdt-standard/issues/931#issuecomment-810825225
@yussin-hidayat I will check on prod build and let you know the outcome of testing.

[2021-03-31 07:41] vincent-karuri commented on #931
@yussin-hidayat thanks, a few questions:

1. What change was made in the database?
2. What is meant by A is a member of X and Z, how is that represented in the database?
3. On the Android Client, did you confirm that sync is happening based on `TEAM_ID`? In that case, is the correct `TEAM_ID` used?
4. On the events generated after form submission, is the correct `TEAM_ID`, `TEAM`, and location pop

[2021-03-31 07:52] yussin-hidayat commented on #931
1. Fixed wrong mapping on `team.practitioner_role` table.
2. A is `team.practitioner`, for example user "rarang_lotim1". X is `team.organization`, for example "Puskesmas Rarang". And Z also `team.organization`, for example "Dinas Kesehatan Kabupaten Lombok Timur".
3 & 4. Yes.

[2021-03-31 08:04] vincent-karuri commented on #931
ok, what was the wrong mapping that was fixed in 1? were there two entries for A, one associating them with X and another with Z?

[2021-03-31 08:14] yussin-hidayat commented on #931
As I stated above, A is member of X and Z, C is member of Z. I have moved X to C, so A is member of Z, C is member of X and Z.

[2021-03-31 08:21] vincent-karuri commented on #931
I'm trying to understand how it was determined that A is a member of both X and Z organizations? What in the `team.practitioner_role` table suggests that?

[2021-03-31 08:22] vincent-karuri commented on #931
Were there 2 entries for A?

[2021-03-31 09:08] yussin-hidayat commented on #931
Look carefully, its a mapping table between practitioner and organization.

[2021-03-31 16:20] mwkhan1983 commented on #931
@yussin-hidayat I did the testing. Tested with users `rarang_lotim1` , `kotaraja_lotim2` , `sidbetatester1` and `hunduhon_banggai1` . All mentioned users could only see their own created data which is the desired behavior. However, a word of caution. I could only check from front end. We should make sure that data is correctly mapped in the backend database as well.

Also I found an issue. I am un

[2021-04-01 03:08] yussin-hidayat commented on #931
@mwkhan1983 maybe the data is not synced yet? If yes, then you need to force it by pressing "sinkronisasi" button.

[2021-04-01 08:54] #941 closed

[2021-04-01 12:38] mwkhan1983 commented on #838
@syedowaisali90 I have tested the session expiry issue. It seems to work fine in the following case:

Case #1
1. Login
2. Let the app sync
3. Leave the app in the background
4. Resume using the app after timeout (2 minutes in this case)
5.  Notification appears and then user is logged out with appropriate message
6. Log back in. User successfully logs in. Token refreshed. Data synced

However, I f

[2021-04-01 18:35] anuraj-shankar commented on #931
Ellya reported that we have separation of facility data, but that hierarchical sharing is still not completed. Please confirm.

[2021-04-02 05:57] mwkhan1983 commented on #931
@yussin-hidayat thanks for sharing supervisor usernames. Was able to login after that. However, user `lotim_spv` is not able to see data created by `rarang_lotim1` or `kotaraja_lotim2`

[2021-04-02 05:58] mwkhan1983 commented on #931
Yes. this is correct

[2021-04-02 10:33] mwkhan1983 opened #948 "Add shipping preparation form to the Patient History view"
Shipping preparation form is currently not part of patient history view. When only that form is filled as part of a visit, history is created but no data is displayed.

[2021-04-03 05:26] anuraj-shankar commented on #931
Ok, what's next step in the solution?

[2021-04-03 05:27] anuraj-shankar commented on #931
Is there a document that describes the data sharing architecture or permissions settings?

[2021-04-06 03:43] ellyasafaa opened #950 "Crashes on Android 10"
It happened on the freshly installed APK on 3 devices: 1 Samsung A50s and 2 Samsung A21.

How I get the crashes:
1. Installed the APK
2. Waiting to sync
3. Click one of the patients
4. Click RDT Form
5. Click Locate Me
6. Click Continue until the page of Which RDT?
7. Click the barcode scanning option
8. Scanning the barcode (After getting caught, sometimes the screen appeared twice after being sc

[2021-04-06 09:17] #948 closed

[2021-04-07 10:17] syedowaisali90 commented on #950
Hi @ellyasafaa I have reproduced this if the returned `GTIN/Product Id` will empty then the information will not be displayed. could you give me some sample barcodes, so that I can run some more tests.

cc: @vincent-karuri @mwkhan1983

[2021-04-07 10:41] ellyasafaa commented on #950
@syedowaisali90 Hi Owais, thank you. I have shared with you the folders with some barcodes in it.

[2021-04-07 11:32] #838 closed

[2021-04-07 13:27] syedowaisali90 commented on #950
@ellyasafaa App working fine on those barcodes which you have been shared with me, could you confirm it was reproducing on your side or it happened only once. Moreover, scanning is performing on a separate APK, so maybe this was happened due to the opening camera.

[2021-04-09 01:25] yussin-hidayat commented on #950
Maybe these logs can help. This happened after first time login and sync:
[error.log](https://github.com/onaio/rdt-standard/files/6282524/error.log)

And this after re-login:
[error_2.log](https://github.com/onaio/rdt-standard/files/6282525/error_2.log)

[2021-04-09 11:30] syedowaisali90 commented on #950
@yussin-hidayat could you confirm that was happening every fresh installed? and if so, this was happening only specific device or any other device.

[2021-04-09 19:38] anuraj-shankar commented on #950
Hi All, thanks for the intense effort on this Ellya, Yussin, Owais and others. @syedowaisali90 do you have a way of logging the exact execution point where the crash is occurring? Are you able to test different phones to replicate this?

[2021-04-09 19:41] anuraj-shankar commented on #931
@vincent-karuri I heard from Ellya today that you were not sure how to fix this issue. Could you share any details on what or where you are thinking the problem might be? We can then use that as a starting point.

[2021-04-12 09:56] yussin-hidayat commented on #950
@syedowaisali90 I have tried 5 times fresh installed, always crashes after I clicked "new patient" button. I use emulator Pixel 2 API 29.

[2021-04-12 10:51] mwkhan1983 commented on #950
@yussin-hidayat you may be trying that on Master branch and Android 10 compatibility fix is not in Master yet. This was actually the original issue which was resolved. @syedowaisali90 created a branch for this and shared release with Ellya. Owais, if you can share that branch with Yussin, he can check this thing there.

[2021-04-12 12:03] syedowaisali90 commented on #950
@yussin-hidayat you can check out this branch https://github.com/onaio/rdt-standard/tree/integrate-optimized-native-forms-branch it has Android 10 fixes.

[2021-04-13 06:33] mwkhan1983 opened #955 "When connectivity is there, allow for a remote login"
Allowing remote login in case of connectivity will help improve user experience in case session is expired. Currently when user logs out and then logs in again after some time (but assume session has expired), it logs user out again informing your session has expired. For an offline app, this is a genuine case but from user experience perspective, this looks odd.
Remote login will help improve use

[2021-04-13 07:16] vincent-karuri commented on #931
@anuraj-shankar could you provide a detailed use case of what exactly the "supervisor app" should be able to do in terms of viewing data?

Bulleted points of how the data would flow in different scenarios will be helpful here.

@yussin-hidayat already has context on how to solve the particular use case he mentioned during our call. So for clarity, we should document the requirements here in case i

[2021-04-13 07:29] vincent-karuri commented on #955
Cool, there's still the problem that if the session max is reached, the user will still be logged out.

[2021-04-13 07:30] vincent-karuri commented on #955
Cool, have you tested what happens when the session max is reached and one tries to log in?

[2021-04-13 07:34] mwkhan1983 commented on #955
I haven't tested that scenario since before session max timeout, session idle timeout happens first the way it was configured. Until both are configured close to each other, 8 hours and 10 hours respectively for example,  that scenario is unlikely to happen.

[2021-04-13 07:39] mwkhan1983 commented on #955
I believe whether session idle timeout happens or session max time out happens, the behavior should be the same and will be the same.

[2021-04-13 07:52] vincent-karuri commented on #955
Cool, when the session max is reached and one tries to log in, does the app login then logout or does it stay on the login screen with an error message. Because this could be another consideration separate from idle timeout.

[2021-04-13 08:00] mwkhan1983 commented on #955
So there are two scenarios possible:

1. User logs out
2. User does not log out, just move the app to the background

Log out scenario I have described above.

In 2nd scenario, when user resumes, message appears that session has expired and user is taken to login screen. When user logins again, it starts with the new session. So this case is handled the way it should be

[2021-04-13 08:20] vincent-karuri commented on #955
Ok, so if remote login works for both session idle and session max, then this is fine.

[2021-04-13 08:55] ellyasafaa commented on #950
Hi, tried it on devices Redmi 5 Plus Android 7, Oppo A5s Android 8, Samsung Galaxy A21s Android 10, Samsung Galaxy A50s Android 10, and the error happened on all devices if we pressed the back button on the scanning page, that will impact to crash and error of unable to click the page: https://drive.google.com/file/d/11zNpfFooynvpsbYHPe5ii2LTznMc_xXR/view?usp=sharing (on Oppo A5s Android 8)

But,

[2021-04-13 09:53] vincent-karuri commented on #922
Closing this as stale.

[2021-04-13 09:53] #922 closed

[2021-04-13 11:45] mwkhan1983 commented on #950
@ellyasafaa following is the separate issue and is noted here #916. and Owais has recently fixed it.

[2021-04-14 02:53] ellyasafaa commented on #950
@mwkhan1983 thank you. Has this been merged in the latest apps you sent me?

[2021-04-14 09:22] #950 closed

[2021-04-14 20:37] anuraj-shankar commented on #931
@vincent-karuri Could you share any details on what or where you are thinking the problem might be? We can then use that as a starting point.

[2021-04-14 20:46] anuraj-shankar commented on #931
@vincent-karuri we have discussed this a few times. We need a hierarchical permissions structure for the data wherein if there are users in health clinic A, and in health clinic B, then all data are accessible for persons within A and within B but not shared by A and B, but person at another higher level C can access data from both A and B. This is a very common issue in app access, and many solut

[2021-04-14 20:51] anuraj-shankar commented on #931
@yussin-hidayat and Ellya, is this what you were thinking as well? Seems to match the needed scenario described above by @yussin-hidayat.

[2021-04-14 20:52] anuraj-shankar commented on #931
@vincent-karuri This seems clear to me. Was there some ambiguity here that needed clarification?

[2021-04-15 08:17] vincent-karuri commented on #931
@anuraj-shankar then the solution to this is already explained to @yussin-hidayat. And so https://github.com/onaio/rdt-standard/issues/931#issuecomment-816926012 is really not accurate. Please sync with SID IT team as well so that we're on the same page.

[2021-04-15 11:43] anuraj-shankar commented on #931
@yussin-hidayat thanks for your inputs. @vincent-karuri seems we are all on the same page with the functionality needed. @yussin-hidayat may have crafted a solution as well. Please have a look and let's finalize this functionality.

[2021-04-16 11:33] mwkhan1983 opened #958 "User is able to enter data in forms before session expiry flow could execute given connectivity is there"
Either user should be able to save data entered upon submit or delay should not be long enough to allow user to keep entering data.

[2021-04-16 16:57] vincent-karuri commented on #958
Another option would be not to logout the user if they are filling out a form. Set the [current activity](https://github.com/onaio/rdt-standard/blob/b372d7c3eceb507633ad90474a6afb37a394be05/rdt-open-reader/src/main/java/io/ona/rdt/application/RDTApplication.java#L129) in the `onCreate` of the `CovidJsonFormActivity` and [clear](https://github.com/onaio/rdt-standard/blob/b372d7c3eceb507633ad90474a6

[2021-04-19 07:11] syedowaisali90 commented on #958
I have checked by setting up the activity in `CovidJsonFormActivity` but it's not working because there is a process before starting the activity and it takes a time to load and in the meantime logout method called before setting up the activity.

[2021-04-23 10:53] syedowaisali90 commented on #955
Remote login should be false when no network available.

[2021-04-26 06:53] vincent-karuri commented on #958
@syedowaisali90 what process are you referring to?

[2021-04-26 07:21] syedowaisali90 commented on #958
https://github.com/onaio/rdt-standard/blob/master/rdt-open-reader/src/main/java/io/ona/rdt/util/FormLauncher.java#L30

[2021-04-26 08:36] vincent-karuri commented on #958
what do is meant by it's not working? what about invoking this function makes it not work?

[2021-04-26 08:53] syedowaisali90 commented on #958
it's just processed all the components before starting up the form activity and it takes some time that' why we are showing the loader.

[2021-04-26 12:04] vincent-karuri commented on #958
what exactly is the issue with that? does logout happen after the form is already launched?

[2021-04-26 12:13] syedowaisali90 commented on #958
yes, logout happens after the form is already lunched https://drive.google.com/file/d/15BnnMpFqrg6qdLn0R3Si2eeweMxQGqge/view

[2021-04-26 12:30] vincent-karuri commented on #958
is this after making the change here https://github.com/onaio/rdt-standard/issues/958#issuecomment-821310139? Why would that happen?

[2021-04-26 13:42] syedowaisali90 commented on #958
https://github.com/onaio/rdt-standard/issues/958#issuecomment-821310139 this change won't work as i mentioned here https://github.com/onaio/rdt-standard/issues/958#issuecomment-822229869

[2021-04-26 15:02] vincent-karuri commented on #958
the video you shared, https://github.com/onaio/rdt-standard/issues/958#issuecomment-826786121 is it after making the change or not?

[2021-04-26 15:24] syedowaisali90 commented on #958
No

[2021-04-27 06:44] vincent-karuri commented on #958
@syedowaisali90 could you provide a detailed description or short video of what happens when you apply the change? I don't currently understand what is meant by it doesn't work.

[2021-04-27 07:57] syedowaisali90 commented on #958
Here is a scenario:

1. The user has resumed profile activity and at the same time, `userAuth` has triggered in the background.
2. Let assume `userAuth` in progress and meanwhile, a user tried to open a form.
3. Now showing a form loader.
4. Before starting the form activity i.e `CovidJsonFormActivity`. `userAuth` gets completed.
5. At that moment in `userAuth` tried to get a current from `RDTAppl

[2021-04-27 09:10] vincent-karuri commented on #958
Cool, I still don't see why the service having already started is an issue because if at the point it's calling logout the form activity is already launched/visible, then the form activity would have already registered itself as the current activity and logout should not happen. Unless you're saying logout happens while in 3 (the spinner is showing).

Are you able to reproduce forced logout when t

[2021-04-27 09:50] syedowaisali90 commented on #958
I mean this `Unless you're saying logout happens while in 3 (the spinner is showing).` at this moment we don't have a `CovidJsonFormActivity` in `RDTApplication` class and this happened frequently. As you have seen here https://github.com/onaio/rdt-standard/issues/958#issuecomment-826786121

[2021-04-27 14:55] vincent-karuri commented on #958
https://github.com/onaio/rdt-standard/issues/958#issuecomment-826786121 shows that logout happens while the form is already launched, not while the spinner is showing.

[2021-04-27 16:34] syedowaisali90 commented on #958
done https://github.com/onaio/rdt-standard/pull/959#discussion_r621395542

[2021-04-29 08:32] #918 closed

[2021-04-29 10:49] syedowaisali90 commented on #955
closing this with the ref  https://github.com/onaio/rdt-standard/pull/962#discussion_r622929803

[2021-04-29 10:49] #955 closed

[2021-04-30 13:10] mwkhan1983 commented on #958
@vincent-karuri @syedowaisali90 Please see [attached video](https://drive.google.com/file/d/1FP6R9XfWR9uk09XCZHJl0oYJLVh4Rsz-/view?usp=sharing). Issue is occurring again. User is filling in the data not knowing session has expired and when complete form is filled and submitted, data is not saved as user has already logged out in the background.

The authentication check once the form opens was wor

[2021-04-30 15:07] vincent-karuri commented on #958
@mwkhan1983 What was merged was supposed to ensure that the app doesn't log out when a form is open . If this is still happening, we need to list the steps to reproduce that behaviour and get it definitively fixed . I'm not sure what was working before that is not working now since that is the bug described in the issue (logging out when filling out a form).

[2021-04-30 15:52] mwkhan1983 commented on #958
@vincent-karuri
App doesn't logout when form is open but when you submit the form, data is not saved because user is already logged out in the background. This is an issue because user would not know that despite submitting data, it is not saved.

So original issue described asked for one of the two things to happen:
1. App doesn't logout when form is open and saves data on form submission.
2. App

[2021-05-03 08:25] vincent-karuri commented on #958
1. I'm not sure what is meant by `logged out in the background`, could you elaborate?
2. How was it verified that the data is not saved?
3. Could you provide steps to reproduce this
4. How does adding authz when launching a form prevent 2 from occurring? authz is an asynchronous process meaning it allows the form to open while still running in the background (so no guarantees it completes before t

[2021-05-03 09:10] mwkhan1983 commented on #958
1. Did you see the video shared in this comment https://github.com/onaio/rdt-standard/issues/958#issuecomment-830084467? When you see it, it will be clear that the new thread starts when form is launched while auth activity runs on another thread. When form thread completes on submitting the form, user is directly taken to a logout screen.
2. Simple. Login again and see the data submitted. No data

[2021-05-03 09:50] vincent-karuri commented on #958
@mwkhan1983 one cannot make the conclusion in 1 by looking at the video. There should be no "background logout" if the current activity is a form activity (has @syedowaisali90 confirmed the "background logout" during debugging?).

I think all steps should ideally be logged on the issue so that they are visible to everyone involved.

Authz has always been done in a background thread. Again, this is

[2021-05-03 10:18] syedowaisali90 commented on #958
@vincent-karuri could you test the app from step 3 here https://github.com/onaio/rdt-standard/issues/958#issuecomment-831130836 so that you see the real problem.

[2021-05-04 08:06] syedowaisali90 commented on #958
@vincent-karuri Here is the scenario https://github.com/onaio/rdt-standard/issues/958#issuecomment-827400624. The main reason, why it's happening just because `syncUtils.logoutUser();` get called called during the form loading.

When we try to open a form so it takes some time to open a `CovidJsonFormActivity` so that's why I have used caller activity as a check instead of `CovidJsonFormActivity`.

[2021-05-05 19:08] #958 closed

[2021-05-11 12:13] #628 closed